.dnaContainer {
  width: 100%;
  padding-right: 60px;
  padding-left: 60px;
  background-image: url("../../../assets/images/Home.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: calc(100vh - 5rem);
  margin-bottom: -5rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.moreSpaceRow {
  margin-left: -15px;
  margin-right: -15px;
}
.dnaRow {
  display: flex;
  flex-wrap: wrap;
  margin-left: -6px;
  margin-right: -6px;
  width: 100%;
}
.dnaCol6 {
  flex: 0 0 auto;
  width: calc(50% - 12px);
  margin-left: 6px;
  margin-right: 6px;
  margin-bottom: 12px;

  > div {
    max-width: unset!important;
    width: 100%;
    margin: unset;
    height: 100%;
  }
}
.colDivider {
  margin-left: 15px;
  margin-right: 15px;
  width: calc(50% - 30px);
  margin-bottom: 0;
}
.transparencyCol {
  height: 50%!important;
}
.transparencyCol > div {
  height: calc(100% - 6px)!important;
}
.bannerDesc {
  padding-left: 60px;
  padding-top: 30px;
  height: 50%!important;
  .appName {
    color: #989ea2;
    font-size: var(--font-size-medium);
    margin-bottom: 26px;
  }
  .appDesc {
    font-size: 32px;
    color: #d9dfe5;
    margin-bottom: 30px;
  }
  .poweredBy {
    background-color: #0487b9;
    border-radius: 200px;
    color: #ffffff;
    display: inline-block;
    padding: 5px 10px;
    font-size: var(--font-size-smallest);
    margin-bottom: 0;
    line-height: 1;
  }
}
@media(min-width:1940px) {
  .bannerDesc {
    .appName {
      font-size: 18px;
    }
    .appDesc {
      font-size: 42px;
    }
    .poweredBy {
      font-size: 14px;
    }
  }
}
@media(max-width:1560px) {
  .dnaContainer {
    padding-top: 80px;
  }
}
@media(max-width:1120px) {
  .dnaContainer {
    padding-top: 80px;
    display: block;
  }
  .colDivider {
    width: 100%;
  }
  .bannerDesc {
    height: auto!important;
    padding-bottom: 30px;
    padding-left: 10px;
  }
  .transparencyCol {
    flex-direction: row-reverse;
    height: auto!important;
  }
}
@media(max-width:780px) {
  .dnaContainer {
    padding-top: 80px;
    display: block;
  }
  .bannerDesc {
    height: auto!important;
    padding-left: 0;
    padding-top: 0;
  }
  .transparencyCol {
    height: auto!important;
  }
}
@media(max-width:550px) {
  .dnaContainer {
    padding-top: 60px;
    display: block;
    padding-left: 20px;
    padding-right: 20px;
  }
  .dnaCol6 {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
  .colDivider {
    margin-left: 0;
    margin-right: 0;
  }
  .bannerDesc {
    height: auto!important;
  }
  .transparencyCol {
    height: auto!important;
  }
}
.newsSection {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;

  .newsContainer {
    border-right: 1px solid #343940;
    margin-left: 10px;
    margin-right: 10px;
    padding-right: 20px;
    max-width: 185px;

    &:last-child {
      border-right: 0;
    }
  }

  .newsItem {
    h3 {
      font-size: 16px;
      color: #c0c8d0;
    }
    p {
      margin-bottom: 0;
      color: #99a5b3;
      font-size: var(--font-size-smallest);
    }
  }
}

div[class*="cardIconSection"]i::before {
  font-size: 80px;
}

.marqueeContainer {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 99;
}
.marquee {
  height: 50px;
  overflow: hidden;
  position: relative;

  p {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 50px;
    text-align: center;
    color: #99a5b3;
    font-size: var(--font-size-medium);
    transform: translateX(100%);
    animation: scroll-left 30s linear infinite;
    white-space: nowrap;
  }
}

@keyframes scroll-left {
  0% {
      transform: translateX(100%);
  }
  100% {
      transform: translateX(-100%);
  }
}
