.provisionStyles {
    padding-top: 10px;
  
    .wrapper {
      background: #252a33 !important;
      margin-top: 15px !important;
      width: 100%;
  
      .caption {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0px;
        margin-bottom: 10px;
  
        h3 {
          color: #dee3e8;
        }
      }
    }
  
    .title {
      padding: 25px 38px;
    }
  
    .content {
      background-color: #252a33;
      padding: 0 0 0px 0px;
  
      .CreateRolesForm {
        padding: 25px 38px;
  
        .editicon {
          align-items: center;
          border: 1px solid #fff;
          border-radius: 50%;
          display: flex;
          height: 60px;
          justify-content: center;
          position: relative;
          width: 60px;
          font-size: var(--font-size-icon-big);
          margin-bottom: 15px;
  
          i {
            margin-top: -11px;
            color: #00ADEF;
          }
        }
  
        h6 {
          font-size: var(--font-size-default);
          color: #acb8c4;
          margin-bottom: 0px;
        }
  
        .row {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
  
          .inputGrp {
            min-height: auto;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-content: center;
            margin-top: 10px;
  
            textarea {
              min-height: 100px;
            }
  
            .inputGrpChild {
              min-height: auto;
              width: 100%;
              display: flex;
              flex-direction: column;
              align-content: center;
              margin-top: 10px;
  
              &:first-child {
                margin-top: 0px;
              }
            }
          }
  
          .inputGrpPermisison {
            min-height: auto;
            display: flex;
            flex-direction: row !important;
            align-content: center;
  
            label {
              margin: 0;
              display: flex;
              align-items: center;
            }
          }
        }
  
        .dagGrp {
          .dagGrpTitle {
            display: flex;
            align-items: center;
            justify-content: flex-end;
          }
  
          .dagAddTitle {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin-top: 10px;
            margin-bottom: 20px;
          }
  
          .dagGrpList {
            .dagGrpListEmpty {
              width: 100%;
              height: 250px;
              display: flex;
              align-items: center;
              justify-content: center;
              border: 1px solid #697582;
              margin-top: 10px;
              position: relative;
  
              .dagError {
                position: absolute;
                top: -26px;
                right: 0;
              }
            }
  
            .dagGrpListItem {
              display: flex;
              flex-direction: column;
              justify-content: center;
  
              .dagCaption {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                padding: 10px 0px 10px 0px;
                color: #99a5b3;
                font-weight: bold;
  
                .dagTile {
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  width: 100%;
                  font-family: "Roboto-Medium";
  
                  div {
                    &:last-child {
                      display: flex;
                      align-items: center;
                      justify-content: flex-end;
                    }
  
                    button {
                      color: #acb8c4;
                      margin: 0 4px;
  
                      &:hover {
                        color: #00adef;
                      }
                    }
                  }
  
                  .dagTitleCol {
                    flex: 1;
                    font-size: var(--font-size-smallest);
  
                    &:first-child {
                      min-width: 35%;
                    }
  
                    i {
                      right: 0;
                    }
                  }
                }
              }
  
              .dagGrpListItemPanel {
                width: 100%;
                border-bottom: 0;
  
                >div:first-child>label+div {
                  min-height: 302px;
                }
  
                .dagGrpListItemexpansionPanel {
                  border-top: 0px solid #697582;
                }
  
                .dagContentCaption {
                  padding: 14px 0px 13px 0;
                }
  
                .dagTile {
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  width: 100%;
  
                  div {
                    &:last-child {
                      display: flex;
                      align-items: center;
                      justify-content: flex-end;
                    }
  
                    button {
                      color: #acb8c4;
                      margin: 0 4px;
  
                      &:hover {
                        color: #00adef;
                      }
                    }
                  }
  
                  .dagTitleCol {
                    flex: 1;
                    font-size: var(--font-size-default);
                    padding-right: 15px;
                    color: #99a5b3;
                    word-break: break-word;
  
                    i {
                      right: 0;
                    }
  
                    .actionBtn {
                      background-color: transparent;
                      border: 0;
                      padding: 0;
                      font-size: var(--font-size-smallest);
  
                      i {
                        font-size: var(--font-size-icon-small);
                      }
  
                      &:hover {
                        color: #00adef;
                      }
                    }
  
                    &:first-child {
                      min-width: 35%;
                    }
  
                    .activeDag {
                      color: #00adef;
                    }
                  }
                }
  
                .dagTileContentCollabarationPanel {
                  padding-right: 0;
  
                  .dagCollTile {
                    width: 100%;
                    justify-content: space-between !important;
                    height: 10px;
                    margin-top: 20px;
  
                    .actionBtn {
                      padding: 0;
                      margin: 0 0px;
                      font-size: var(--font-size-smallest);
                    }
  
                    h6 {
                      font-size: var(--font-size-smallest);
                      font-weight: initial;
                      margin: 0;
                    }
  
                    .actionBtnGrp {
                      button {
                        &:hover {
                          background-color: transparent;
                          color: #00adef;
                        }
                      }
                    }
                  }
                }
  
                .dagCollContent {
                  .dagCollContentEmpoty {
                    width: 100%;
                    height: 150px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid #383f49;
                    margin-top: -9px;
  
                    h6 {
                      font-size: var(--font-size-smallest);
                      font-weight: initial;
                      margin: 0;
                    }
                  }
  
                  .dagCollContentList {
                    font-size: var(--font-size-smallest);
                    border: 1px solid #383f49;
                    margin-top: 12px;
                    padding: 0 12px;
  
                    .dagTile {
                      width: 100%;
                      padding: 10px 10px;
                      border-bottom: 1px solid #383f49;
                    }
  
                    .dagCollContentListAdd {
                      margin: 25px auto;
                      width: 85%;
  
                      input {
                        opacity: unset !important;
                        position: unset !important;
                        z-index: unset !important;
                      }
  
                      .userExistedError {
                        color: #e84d47;
                        padding: 4px 0;
                      }
                    }
  
                    .dagCollUsersList {
                      margin-top: 12px;
                      width: 85%;
                      margin: 0 auto;
                      margin-top: 12px;
                      margin-bottom: 15px;
  
                      .collUserTitle {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        width: 100%;
                        padding-bottom: 15px;
                        border-bottom: 1px solid #383f49;
  
                        .collUserTitleCol {
                          flex: 1;
                          font-size: var(--font-size-smallest);
                          padding-right: 12px;
                          color: #99a5b3;
                        }
                      }
  
                      .collUserContent {
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        justify-content: flex-start;
                        width: 100%;
  
                        .collUserContentRow {
                          display: flex;
                          align-items: center;
                          justify-content: space-between;
                          width: 100%;
  
                          .collUserTitleCol {
                            display: flex;
                            align-items: center;
                            justify-content: flex-start;
                            flex: 1;
                            font-size: var(--font-size-smallest);
                            padding-right: 15px;
                            word-break: break-word;
                            color: #99a5b3;
  
                            label {
                              cursor: pointer;
                            }
  
                            span {
                              color: #99a5b3;
                            }
  
                            .checkBoxDisable {
                              pointer-events: none;
                              opacity: 0.5;
                              cursor: default;
                            }
  
                            .deleteEntry {
                              cursor: pointer;
                            }
  
                            .writeAccess {
                              cursor: pointer;
                            }
  
                            input {
                              opacity: unset !important;
                              position: initial;
                              z-index: unset !important;
                            }
  
                            .inputGrp {
                              margin-top: 8px;
  
                              &:first-child {
                                margin-left: -10px;
                              }
  
                              min-height: unset;
                            }
  
                            i {
                              margin: -7px 7px 0 0;
                              right: 0;
                            }
  
                            div {
                              cursor: default;
                            }
                          }
                        }
                      }
                    }
                  }
                }
  
                &:last-child {
                  border-bottom: 0px solid #383f49;
                }
              }
            }
          }
        }
  
        .addDagbtn {
          background-color: transparent;
          border: 0;
          padding: 0;
          color: #a5adb7;
          margin-bottom: 0;
  
          i {
            font-size: var(--font-size-icon-content);
          }
  
          &:hover {
            color: #00adef;
          }
        }
      }
    }
  
    table {
      tr {
        th {
          &:first-child {
            min-width: 230px;
          }
  
          &:nth-child(2) {
            min-width: 206px;
          }
  
          &:last-child {
            text-align: right;
            padding-right: 38px;
          }
        }
      }
  
      tr {
        td {
          &:last-child {
            text-align: right;
            padding-right: 28px;
          }
        }
      }
  
      tr th i {
        cursor: pointer;
        font-size: var(--font-size-icon-highlight);
      }
  
      tbody tr td {
        font-size: var(--font-size-default) !important;
      }
    }
  
    tr {
      td {
        color: #acb8c4 !important;
      }
  
      i {
        &:hover {
          color: #fff;
        }
      }
    }
  
    button {
      i {
        font-size: var(--font-size-icon);
  
        &:hover {
          color: #00adef;
        }
      }
    }
  
    .actionBtn {
      transition: 0.2s;
      background-color: transparent;
      border: 0;
      padding: 0;
      margin-top: 8px;
      margin-right: 0px !important;
      font-size: var(--font-size-smallest);
  
      i {
        font-size: var(--font-size-icon-small);
      }
  
      &:hover {
        color: #00adef;
      }
    }
  
    .tagColumn {
      display: inline-flex;
      flex-wrap: wrap;
      word-break: break-all;
  
      >div {
        margin: 5px 5px 5px 0;
      }
    }
  
    .createButton {
      background: none;
      float: right;
      border: none;
      color: #c0c8d0;
      height: auto;
      margin: 0px;
      outline: none;
      padding: 0 2px;
      margin-bottom: 30px !important;
      margin-right: 30px !important;
  
      i {
        margin-top: 2px;
      }
  
      a {
        color: #c0c8d0;
      }
    }
  }
  
  .noData {
    font-weight: bold;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
  }
  
  .editCreateModal {
    margin: 25px;
    .inlineTextField{
      display: flex !important;
      justify-content: space-between !important;
      >div {
        width: calc(50% - 7px) !important;
      }  
    }
  }
  
  .AddorUpdatebtn {
    display: flex;
    justify-content: flex-end;
  }
  
  .warningWrapper {
    padding-left: 25px;
  }
  
  .parentRole {
    display: flex;
    justify-content: space-between;
  }