.firstPanel {
  background: #252a33;
  margin-bottom: 15px;

  .textDesc {
    color: #697582;
  }

  .rowLine {
    display: inline-block;
  }

  .formWrapper {
    margin: 60px 70px 0;
  }
  h5 {
    border-bottom: 1px solid #383f49;
    color: #99a5b3;
    font-size: 14px;
    margin: 60px 125px 0 125px;
    margin-top: 40px;
    padding-bottom: 15px;
    padding-bottom: 20px;
  }
  .tagsWrapper {
    margin-top: 0;
  }
}

.flexLayout {
  display: flex;
  justify-content: space-between;
  > div {
    width: calc(50% - 7px);
  }
}

.wrapper {
  background: #252a33 !important;
  margin-top: 60px !important;
  padding: 25px 38px;
}

.adminWrapper {
  background: #252a33 !important;
  margin-top: 15px !important;
  padding: 25px 38px;
}

.teamListWrapper {
  margin: 60px 20px;

  .avatarIcon {
    width: 55px;
    height: 55px;
    margin-right:30px
  }

  .addTeamMemberWrapper {
    min-height: 60px;
    padding-left: 40px;
    margin-top: 38px;
    button {
      padding: 0;
      margin: 0 0 0 0;
      background: none;
      border: none;
      outline: none;
      color: #c0c8d0;
      vertical-align: middle;
      font-size: 12px;


      i {
        vertical-align: top;
        margin-right: 10px;
        color: #00adef;
      }

      &:hover span {
        text-decoration: underline;
      }
    }

    .teamsErrorMessage {
      margin: 3px 0 0 85px;
      font-size: var(--font-size-small);
    }
  }
}

.addTeamMemberModal {
  min-height: 350px;
  min-width: 650px;
  max-width: 850px;

  .searchWrapper {
    > div {
      width: auto !important;

      &:first-child {
        flex: 1;
        position: relative;
        .clearSearch {
          height: 40px;
          position: absolute;
          right: 5px;
          width: 40px;
          text-align: center;
          top: 32px;
          cursor: pointer;

          i {
            line-height: 40px;
            color: #697582;
          }

          &:hover i {
            color: #00adef;
          }
        }
      }

      &:last-child {
        margin-top: 32px;
      }
    }
  }
}

.publishBtn {
  background: #00adef;
}