.pipelineCard {
  background: #252a33;
  border: 1px solid #383f49;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
  padding: 16px;
  margin: 0 15px 15px 0;
  width: calc(25% - 15px);
  min-width: 250px;
  max-width: 320px;
  border-radius: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  transition: background 0.2s ease;

  &:hover {
    background: #30343a;
  }
}

.cardHead {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  height: 75px;
  overflow: hidden;
  position: relative;
  margin-bottom: 5px;
}

.projectName {
  font-family: Roboto-Regular;
  font-size: 18px;
  color: #99a5b3;
  width: 100%;
  word-break: break-word;
  padding: 15px 20px;
  justify-items: flex-start;
  align-items: flex-start;
  margin-left: -25px;
}

hr {
  width: 90%;
  margin: auto;
}

.cardBodySection {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px 20px;
  margin-bottom: 30px;
  min-height: 200px;
  font-size: 13px;

  .metaItem {
    display: flex;
    justify-content: space-between;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    .metaLabel {
      flex: 1;
      font-weight: bold;
      color: #697582;
      font-size: 12px;
    }

    .metaValue {
      flex: 1;
      color: #ffffff;
      font-size: 12px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 180px;
    }
  }

  .cardDagSection {
    margin-top: 12px;
    color: #a0a0a0;
    display: flex;
    justify-content: space-between;
    align-items: center;


    i.icon.mbc-icon.profile {
      color: #fafafa;
    }

    .cardDagIcon {
      color: #00adef;
      font-weight: bold;
      text-decoration: underline;
      cursor: pointer;
      min-width: 40px;


      &:hover {
        text-decoration: underline;
      }
    }

    .dagListPopup {
      position: absolute;
      background-color: #2d333b;
      border: 1px solid #383f49;
      padding: 15px 15px 0 !important;
      font-size: 12px;
      z-index: 10;
      right: 0;
      min-width: 320px;
      max-height: 200px;
      overflow-y: auto;
      white-space: normal;

      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
          border-bottom: 1px solid #2d333b;
          padding: 5px 0 10px;
          color: #99a5b3;
          display: flex;
          flex-direction: column;

          &:last-child {
            border: none;
          }

          .dagLeft {
            display: flex;
            justify-content: space-between;

            .dagName {
              font-weight: 600;
              white-space: nowrap;
            }

            .permission {
              color: #a0a0a0;
              font-size: 12px;
              margin-left: 10px;
            }
          }

          .cardDagActions {
            display: flex;
            justify-content: flex-end;
            gap: 8px;
            margin-top: 4px;

            .actionBtn,
            .externalBtn {
              display: flex;
              align-items: center;
              font-size: 12px;
              background: transparent;
              color: #00adef;
              border: none;
              padding: 0;
              cursor: pointer;

              i {
                font-size: 13px;
                margin-right: 4px;
              }

              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }
}

.cardFooter {
  position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  align-items: self-end;
  justify-content: end;
  margin-left: -30px;

  .actionBtn {
    background-color: transparent;
    border: none;
    color: #00adef;
  }

  .AccessIndicator {
    padding: 2px 8px;
    border: 1px solid #f3e537;
    color: #f3e537;
    font-size: 10px;
    cursor: pointer;
    letter-spacing: 1px;
    border-radius: 2px;
    margin: 7px 0px;
    font-family: monospace;
  }

  .btnGrp {
    display: flex;
    justify-content: flex-end;
    gap: 12px;

    button {
      background-color: transparent;
      border: none;
      color: #99a5b3;
      font-size: 12px;
      cursor: pointer;

      i {
        margin-right: 6px;
      }

      &:hover {
        color: #00adef;

        span {
          text-decoration: underline;
        }

        i {
          color: #00adef;
        }
      }
    }
  }
}

.show {
  display: block !important;
}

.hide {
  display: none !important;
}
.dagSpacing {
  margin-right: 80px;
}
