.mainPanel {
  padding: 72px 184px 30px 114px;
  min-height: 65vh;
  .wrapper {
    width: 100%;
    .caption {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 0px;
      margin-bottom: 10px;
      h3 {
        color: #dee3e8;
      }
    }
    .subTitle{
      color: #99a5b3;
      margin-bottom: 20px;
    }
  }
}