.cardWrapper {
    padding: 40px;
    background: #252a33;
    flex: 1 1 0px;
    // width: 100%;
    margin: 0 15px 15px 0;
    max-width: 327px;
    min-width: calc(25% - 15px);
    position: relative;
    min-height: 340px;
    .cardIconSection {
        text-align: center;
        margin-top: 30px;

        i {
            height: 80px;
            width: auto;
            background: transparent;
            line-height: 80px;
            &::before {
                font-size: 70px;
            }
        }
    }
    .cardDescriptonSection {
        margin-top: 40px;
        max-width: 200px;
        .titleSection {
            font-size: var(--font-size-headline);
            text-overflow: ellipsis;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
        }
        .descriptionSection {
            color: #99a5b3;
            margin-top: 15px;
            text-overflow: ellipsis;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }
    }

    &:hover {
        cursor: pointer;
        background-color: #00adef;
        color: #fff;
        .cardDescriptonSection {
            .descriptionSection {
                color: #fff;
            }
        }
        .cardIconSection i svg path[fill] {
            fill: #fff !important;
        }
        .cardIconSection i svg g g[fill] {
            fill: #fff !important;
        }
        .cardIconSection i svg g g[stroke] {
            stroke: #fff !important;
        }
        .cardIconSection i svg g circle[stroke] {
            stroke: #fff !important;
        }
        .upperTag {
            color: #fff;
            border-color: #fff;
        }
    }
}

.mediumCard {
    width: calc(25% - 15px);
    .cardIconSection i {
        height: 90px;
    }
}

.animatedMediumCard {
    width: calc(25% - 15px);
    .cardIconSection i {
        height: 90px;
    }
    .cardDescriptonSection {
        max-width: 100%;
    }
    &:hover {
        .cardIconSection {
            opacity: .5;
            height: 90px;
            margin-top: 0px;
        }      
        .cardDescriptonSection {
            color: white;
            display: block;
            position: absolute;
            top: 20%;
            padding-right: 30px;
            .descriptionSection {
                -webkit-line-clamp: 8;
                min-height: 100px;
            }
        }
        
    }
}

.smallCard {
    width: calc(25% - 15px);
    padding: 40px 20px;
    height: 300px;
    // display: flex;
    .cardIconSection {
        margin-top: 24px;
    }
    .cardDescriptonSection {
        margin-top: 20px;
        .descriptionSection {
            margin-top: 10px;
            -webkit-line-clamp: 2;
        }
    }
    .tagSection {
        display: none;
    }
    .cardIconSection i {
        height: 96px;
        width: 96px;
    }
    .tagItem {
        border: 1px solid #00adef;
        margin: auto;
        background: #697582;
        opacity: 0.8;
        border-radius: 4px;
        padding: 2px 4px;
        font-weight: bold;
    }
    &:hover {
        background-position: 50% 0%;
        &::before {
            position: absolute;
            content: " ";
            // width: 100%;
            height: 100%;
            background-color: #00adef;
            opacity: 0.7;
            top: 0;
        }
        .cardIconSection {
            margin-top: 0px;
        }
        .cardDescriptonSection {
            color: white;
            display: block;
            position: absolute;
            top: 25%;
            box-shadow: 0px -17px 30px 0px #00adef;
            background-color: #00adef;
            width: 100%;
            .descriptionSection {
                -webkit-line-clamp: 6;
                min-height: 100px;
            }
        }
        .tagSection {
            display: block;
            color: white;
            position: absolute;
            bottom: 20px;
        }
    }
}

.disabled {
    background-color: rgba(37, 42, 51, 0.5);
    cursor: not-allowed;
    pointer-events: none;
    .cardIconSection,
    .cardDescriptonSection,
    .tagSection {
        opacity: 0.5;
    }

    .cardIconSection svg g g[stroke] {
        stroke: #979797;
    }
    .cardIconSection svg g g[fill] {
        fill: #979797;
    }
}

.textCenter {
    text-align: center;
    max-width: 165px;
    margin: auto;
}

.comingSoonBtn {
    background: #0089be;
    border: none;
    padding: 0 15px;
    font-size: var(--font-size-small);
    height: 27px;
    border-radius: 13px;
    position: absolute;
    top: 17px;
    right: 17px;
}

.upperTag {
    border: 1px solid #383F49;
    border-radius: 80px;
    color: #99a5b3;
    display: inline-block;
    margin-right: 10px;
    padding: 8px 16px;
    position: absolute;
    right: 7px;
    top: 17px;
    font-size: var(--font-size-smallest);
    line-height: 1;
}

.OpenNewTabIcon {
    position: absolute;
    top: 24px;
    right: 20px;
}

:global {
    .transparency:hover {
        background-color: #5465d0;
        background-image: linear-gradient(198deg, #5465d0 5%, #252A33 100%);
    }
    .data:hover {
        background-color: #2cb0bc;
        background-image: linear-gradient(198deg, #2cb0bc 5%, #252A33 100%);
    }
    .tools:hover {
        background-color: #00adef;
        background-image: linear-gradient(198deg, #00adef 5%, #252A33 100%);
    }
    .trainings:hover {
        background-color: #5c3493;
        background-image: linear-gradient(198deg, #5c3493 5%, #252A33 100%);
    }
    .carla:hover {
        background-color: #0181BB;
        background-image: linear-gradient(198deg, #0181BB 5%, #252A33 100%);
    }
}
