.cardWrapper{
    padding: 40px;
    background: #252a33;
    width: calc(33% - 15px);
    margin: 0 15px 15px 0;
    min-width: 250px;
    position: relative;
    .cardIconSection{
        text-align: center;
        margin-top: 30px;
    }
    .cardDescriptonSection{
        margin-top: 40px;
        max-width: 200px;
        .titleSection{
            font-size: var(--font-size-headline);
            text-overflow: ellipsis;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
        }
        .descriptionSection{
            color: #99a5b3;
            margin-top: 15px;
            text-overflow: ellipsis;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }
    }

    .avatarIcon{
        height: 110px;
        width: 110px;
    }

    &:hover {
        cursor: pointer;
        background-color: #00adef;
        color: #fff;
        .cardDescriptonSection{
            .descriptionSection{
                color: #fff;
            }
        }
        .avatarIcon svg g g{
            // fill: #99A5B3!important;
            fill: #fff!important;
        }
        .avatarIcon svg g circle{
            stroke: #fff!important;
        }
    }
}

.mediumCard{
    width: calc(25% - 15px);
}

.smallCard{
    width: calc(25% - 15px);
    padding: 40px 20px;
    height: 300px;
    // display: flex;
    .cardIconSection{
        margin-top: 24px;
    }
    .cardDescriptonSection{
        margin-top: 20px;
        .descriptionSection{
            margin-top: 10px;
            -webkit-line-clamp: 2;
        }
    }
    .tagSection {
        display: none;
    }
    .avatarIcon{
        height: 80px;
        width: 80px;
    }
    .tagItem {
        border: 1px solid #00adef;
        margin: auto;
        background: #697582;
        opacity: 0.8;
        border-radius: 4px;
        padding: 2px 4px;
        font-weight: bold;
    }
    &:hover {
        background-position: 50% 0%;
        &::before {
        position: absolute;
        content: " ";
        // width: 100%;
        height: 100%;
        background-color: #00adef;
        opacity: 0.7;
        top: 0;
        }
        .cardIconSection{
            margin-top: 0px;
        }
        .cardDescriptonSection{
            color: white;
            display: block;
            position: absolute;
            top: 25%;
            box-shadow: 0px -17px 30px 0px #00adef;
            background-color: #00adef;
            width: 100%;
            .descriptionSection{
                -webkit-line-clamp: 6;
                min-height: 100px;
            }
        }
        .tagSection {
            display: block;
            color: white;
            position: absolute;
            bottom: 20px;
        }
    }
}

.disabled {
    opacity: .8;
    cursor: not-allowed;
    pointer-events: none;
    color: #697582;
    .avatarIcon svg g g{
        fill: #697582!important;
    }
    .avatarIcon svg g circle{
        stroke: #697582!important;
    }
    .cardDescriptonSection{
        .descriptionSection{
            color: #697582;
        }
    }
}

.textCenter{
    text-align: center;
    max-width: 165px;
    margin: auto;
}

.comingSoonBtn{
    background: #00adef;
    padding: 0 15px;
    font-size: var(--font-size-small);
    height: 27px;
    border-radius: 4px;
    position: absolute;
    top: 24px;
    right: 20px;
}



