.sandboxpanel {
  color: #acb8c4;
  width: 390px;
  margin: 0 auto;
  h3 {
    color: #acb8c4;
    font-weight: initial;
    margin-top: 25px;
    text-align: center;
  }
  p {
    font-size: var(--font-size-default);
    margin-bottom: 20px;
    text-align: center;
    line-height: 17px;
  }
  .editicon {
    align-items: center;
    border: 1px solid #fff;
    border-radius: 50%;
    display: flex;
    height: 60px;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    width: 60px;
    font-size: var(--font-size-icon-big);
    i {
      margin-top: -11px;
      color: #00ADEF;
    }
  }
 
}
.sandboxbtn {
  margin-top: 25px;
  display: flex;
  justify-content: center;
}

.plusicon {
  display: flex;
  justify-content: center;
  img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
}
