.mainPanel {
  padding: 72px 75px 30px 75px;

  .wrapper {
    width: 100%;
  }

  .content {
    background-color: #252a33;
    padding-top: 10px;
    padding-left: 10px;
    margin-top: 16px !important;
  }

  >div {
    width: calc(50% - 7px);
  }

  .allCodeSpace {
    margin-bottom: 15px;
    flex: 1 auto;
    position: relative;

    .allcodeSpaceListviewContent {
      background-color: #252a33;
      padding-top: 6px;

      .codeSpaceMargininone {
        position: relative;
        margin-top: 20px;
      }
    }
  }

  .securityConfigRow {
    background-color: #252a33;
    height: 95px;
  }

  .noRequests {
    align-items: center;
    background-color: #252a33;
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: center;
    position: relative;
    width: 100%;
  }
}
#create-security-tabs .scrollable.tabs-wrapper {
  height: 44px;
}

#create-security-tabs .scrollable.tabs-wrapper nav,
#create-security-tabs .tabs {
  height: 44px;
}

#manage-codeSpace-tabs .tab {
  min-width: max-content;

  >a {
    position: relative;
    padding: 10px 50px 12px 40px;

    &::before {
      font-family: 'dna-icons';
      content: '\e949';
      position: absolute;
      right: 20px;
      font-size: var(--font-size-icon-highlight);
    }

    sup {
      font-size: 15px;
      font-style: bold;
      vertical-align: sub;
    }
  }

  &.valid a::before {
    color: #00adef;
  }
}
