.actionWrapper {
    .saveSettingsBtn {
      background-color: #00adef;
      padding: 0 15px;
      font-size: var(--font-size-default);
      letter-spacing: 1px;
      margin-right: 12px;
    }
}

.dvFilterWrapper{
  .dvRange{
    display: flex;
    margin-bottom: 0px;
    .dvStartRange{
      margin-right: 10px;
      width: 120px;
    }
    .dvEndRange{
      margin-left: 0px;
      margin-top: 31px;
      margin-right: 10px;
      width:120px
    }
    .speratorIcon{
      margin-right: 16px;
      margin-top: 40px;
      font-size: 10px;
      color: #d9dfe4;;
    }
  }
} 