.actionWrapper {
    .saveSettingsBtn {
      background-color: #00adef;
      padding: 0 15px;
      font-size: var(--font-size-default);
      letter-spacing: 1px;
      margin-right: 12px;
    }
}
.dvFilterWrapper{
  .dvRange{
    display: flex;
    margin-bottom: 0px;
    .dvStartRange{
      margin-right: 10px;
      width: 120px;
    }
    .dvEndRange{
      margin: 31px 10px 0 0;
      width:120px
    }
    .speratorIcon{
      margin: 40px 16px 0;
      font-size: 10px;
      color: #d9dfe4;;
    }
  }
}