---
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: allow-all-ingress
  namespace: {{ .Values.namespace }}
spec:
  podSelector: {}
  ingress:
  - {}
  policyTypes:
  - Ingress
