.row {
  margin-top: 5px;
  display: inline-block;
  > div {
    display: inline-block;
    margin-right: 5px;
  }
}
.tagInputField {
  border: none;
  background: transparent;
  outline: none;
  color: #c0c8d0;
  margin-top: 3px;
  &:read-only {
    cursor: default;
  }
  &.fullWidth {
    width: 100%;
  }
}
.tagParent:focus-within {
  border-color: #00adef;
}
.tagParent {
  min-height: 40px !important;
  height: auto !important;
}
.haveChips {
  padding: 0px 15px !important;
}
.suggestion {
  border: 1px #00adef solid;
  color: #d9dfe4;
  min-height: 37px;
  padding: 5px 15px;
  cursor: pointer;
  background: #383f49;
  display: flex;
  justify-content: space-between;
  align-items: center;
 
  .badge {
    border: 1px solid #d9dfe4;
    color: #d9dfe4;
  }
}
.active {
  background: #00adef !important;
}
.validationError {
  .tagParent {
    border-color: #e84d47;
  }
}
.tagParentDisabled {
  border: none !important;
}
.tagParentDisabledFocus {
  border-color: transparent !important;
  &::after {
    content: "You have read only permission";
    color: #acb8c4;
    font-size: var(--font-size-small);
  }
}

.badge {
  border: 1px solid #697582;
  border-radius: 2px;
  color: #697582;
  font-size: var(--font-size-icon-small);
  letter-spacing: 1px;
  margin-left: 4px;
  padding: 2px 4px;
}
.relativeScroll {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 9;
  max-height: 300px;
}

.chipName{
  word-break: break-all;
}