.projectCard {
  background: #252a33;
  position: relative;
  border: 1px solid #383F49;
  
  &.disable {
    opacity: 0.5;
  }
  
  .cardHead {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    align-items: center;
    position: relative;
    overflow: hidden;
    height: 75px;
  
    .cardHeadInfo {
      width: 100%;
      padding: 15px 20px;
      cursor: pointer;
      margin-top: 35px;
      .cardHeadTitle {
        font-size: var(--font-size-headline);
        line-height: 23px;
        word-break: break-word;
        padding-right: 10px;
        padding-bottom: 5px;
        width: 100%;
        text-align: left;
        cursor: pointer;
      }
  
      &.disable {
        pointer-events: none;
      }
    }
  
    &:hover .cardHeadTitle {
      color: #00adef;
    }
  }
  hr {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .cardBodySection {
      padding: 15px 20px 20px 20px;
      margin-bottom: 30px;
      min-height: 200px;
      > div {
      display: flex;
      justify-content: space-between;
      flex-grow: 1;
      color: #99a5b3;
      flex-direction: column;
      > div {
        display: flex;
        justify-content: space-between;
        &:not(:last-child) {
          margin-bottom: 10px;
        }
        > div:first-child {
          flex: 1;
          font-weight: bold;
          color: #697582;
          font-size: var(--font-size-small);
        }
        > div:last-child {
          flex: 1;
        }
      }
    }
  }
  
  .cardFooter {
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;
  }
  .btnGrp {
    display: flex;
    justify-content: flex-end;
    font-size: var(--font-size-medium);
    button {
        background-color: transparent;
        border: 0;
        color: #99a5b3;
        float: right;
        margin-right: 20px;
        outline: 0;
        padding: 0;
        &:hover {
        background-color: transparent;
        color: #00adef;
      }
    }
  }
  .statusContainer {
    margin-left: 20px;
    margin-top: -5px;
    .statusItem {
      height: 40px;
      display: flex;
      .completedStatus {
        margin-bottom: 0;
        color: #0ae6ab;
      }
      
      button {
        background: unset;
        border: unset;
        color: #99a5b3;
        outline: 0;
        padding: 0;
  
        > div + span {
          padding-left: 26px;
        }
  
        span {
          display: inline-block;
        }
      }
    }
  }
}