.exercise2 {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-content: flex-end;
}

.onoffswitch {
  display: inline;
  position: relative;
  width: 167px;
  margin-top: 8px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.onoffswitch-checkbox {
  display: none;
}
.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #999999;
  border-radius: 20px;
  margin: 0;
}
.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before,
.onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 30px;
  padding: 0;
  line-height: 30px;
  font-size: 15px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  box-sizing: border-box;
}
.onoffswitch-inner:before {
  content: 'Hide Solution';
  padding-left: 25px;
  background-color: #34a7c1;
  color: #ffffff;
}

.onoffswitch-inner:after {
  content: 'Show Solution';
  padding-right: 25px;
  /*background-color: #73fa7e;\
  color: #999999;*/
  background-color: forestgreen;
  text-align: right;
}
.onoffswitch-switch {
  display: block;
  width: 14px;
  margin: 6px;
  padding-top: 0px;
  background: #ffffff;
  position: absolute;
  top: 0;
  bottom: 0;
  text-align: center;
  right: 133px;
  border: 2px solid #999999;
  border-radius: 20px;
  transition: all 0.25s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}

.taskBtnContainer,.submitBtnContainer{
  margin-top: 8px;
  margin-left: 8px;
}
#startTaskBtn, .submitBtn {
  cursor: pointer;
  padding: 5px 25px;
  background-color: #008CBA;
  color: white;
  font-size: 15px;
  border: 2px solid #999999;
  border-radius: 20px;
}

#startTaskBtn {
  background-color: royalblue;
}

.submitBtn:active {
  box-shadow: none;
}

.showSolutionActionsWrapper {
  display: none;
}

.showSolutionActionsWrapper.showSection {
  display: flex;
  flex-wrap: wrap;
}

.showSolutionActionsWrapper .answerWrapper {
  width: 100%;
  margin: 15px 0;
}

.showSolutionActionsWrapper h6 {
  font-size: 15px;
}

#timerWrapper {
  z-index: 1000;
  position: fixed;
  top: 125px;
  right: 15px;
  padding: 30px 30px 15px;
  background-color: #cccccc;
  border-radius: 30px;
  border: 1px solid #008CBA;
  display: none;
}

#timerWrapper label {
  font-size: 30px;
  display: block;
}

#timeValue {
  font-size: 50px;
  margin-bottom: 0;
}

#answerMonthSelect {
  padding: 3px 5px;
  width: 167px;
  margin-right: 4px;
}

#answerTextInput {
  width: 156px;
}

.hideTaskBtn {
  display: none;
}

p.pre {
  white-space: pre;
}