.mainPanel {
  padding: 32px 75px 30px 75px;
 
}
  h3 {
    font-size: 24px;
    color: #dee3e8; 
    margin-top: 20px;
    margin-bottom: 25px;
  }

  .btnConatiner{
    text-align: right;
    margin-bottom: 12px;
  }

  .actionWrapper {
    text-align: center;
    margin: 30px 0;
  }
  .disabledDiv {
    opacity: 0.6;
    pointer-events: none;
  }

  .softwareBox {
    margin-top: 26px;
  }

  .custom-select {
    margin-top: 4px;
    height: 45px;
    margin:2px !important;
  }

  .request {
    top:75px;
    margin: 0px;
    position: absolute;
    right: 0px !important;
  }
  .requestSoft {
    top: unset;
    bottom: -10px;
  }

  .saveSoftwareBtn {
    display: flex;
    justify-content: center;
    width: 90px;
  }

  .secondPanel{
    padding-left: 20px
  }

  .firstPanel {
    background: #252a33;
    padding: 60px 70px;
    .textDesc {
      color: #697582;
    }

    .rowLine {
      display: inline-block;
    }

    .flex {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      column-gap: 14px;
      > .col {
        width: 100%;
      }
      > .col2 {
        width: calc(50% - 10px);
        position: relative;
      }
      > .col3 {
        width: calc(33.33% - 10px);
      }
      > .col4 {
        width: calc(25% - 7px);
      }
    }

    .SelectBoxWrapper {
      display: flex;
      justify-content: space-between;

      >div {
        width: calc(20% - 9px);
      }

    }

    .MultiSelectBoxWrapper {
      display: flex;
      justify-content: space-between;

      >div {
        width: calc(30% - 9px);
      }

    }

    .wrapper {
      background: #252a33 !important;
      margin-top: 15px !important;
      padding: 25px 38px;

      .softwareListWrapper {
        margin: 60px -38px;

        .addsoftwareWrapper {
          min-height: 110px;
          padding-left: 40px;
        }

        h4 {
          color: #c3c6cc;
        }

      }
    }

    .requestNewSoftware{
      right: 0px;
    }

    .disableVerifyButton{
      color: #c0c8d0 !important;
      background-color: #383f49 !important;
      border-color: #383f49 !important;
    }

    .verifyButton {
      padding: 0 !important;
      margin-top: -40px !important;
      background: none;
      border: none;
      outline: none;
      color: #00adef;
      vertical-align: middle;
      text-align: left;
      font-size: 12px;
      position: relative;
      z-index: 999;

      &:hover {
        text-decoration: underline;
        background: none;
      }

      &.giturlerror {
        margin-top: -10px !important;
      }
    }

    .giturlsuccess { 
      color: var(--color-green);
      margin-top: -20px;
    }
  }

.softwareList{
  margin-top: 10px;
  margin-right: 75px;
  margin-left: 30px;
  .deleteIcon{
    font-size: var(--font-size-icon-medium);
    &:hover {
      color: #00adef;
      cursor: pointer;
    }
  }
}

.teamListWrapper {
  margin: 8px -25px 0 -35px;

  .avatarIcon {
    width: 55px;
    height: 55px;
  }

  .addTeamMemberWrapper {
    min-height: 68px;
    padding-left: 40px;

    button {
      padding: 0;
      margin: 0 0 0 30px;
      background: none;
      border: none;
      outline: none;
      color: #c0c8d0;
      vertical-align: middle;

      i {
        vertical-align: top;
        margin-right: 10px;
        color: #00adef;
      }

      &:hover span {
        text-decoration: underline; 
      }
    }
  }
}

.inputLabel{
  font-size: 12px;
}

.Softwarelabel{
  margin-top: 30px;
}

.collabAvatar {
  padding: 0 25px 25px 0;
  overflow-x: hidden;
}

.mT {
  margin-top: 20px !important;
}

.sectionHeader {
  margin-top: 40px !important;
}

.m5{
  margin-left: 5px;
}
.disabledSection {
  opacity: 0.5;
  pointer-events: none;
}
.publicWarning {
  i {
    color: #FFEB3B;
  }
  pre {
    display: inline;
  }
  li {
    margin-bottom: 5px;
  }
}
.warning {
  margin-bottom: 0;
  margin-top: -16px;
  color: #FFEE58;

  pre {
    display: inline;
  }
}