.mainPanel {
  padding: 72px 75px 30px 75px;

  .wrapper {
    width: 100%;
    position: relative;
  }

  >div {
    width: calc(50% - 7px);
  }
  
  .refreshBtn {
    background: unset;
    border: 0;
    padding: 0;
  }

  .listHeader {
    margin-top: 10px;
    float: right;
    height: 29px;
    display: flex;
    align-items: center;
    cursor: pointer;
    .iconActive {
        opacity: 0.5;
        cursor: default;
    }
    .dividerLine {
        height: 25px;
        display: inline-block;
        background-color: #252a33;
        height: 25px;
        margin: 0 10px 0 5px;
        padding: 0;
        width: 1px;
    }
    .iconInactive {
        &:hover {
            color: #00adef;
        }
    }
  }

  .createNewArea {
    margin-top: 15px;
    button {
      transition: none;
      width: 100%;
      padding: 16px 0;
      height: auto;
      font-size: var(--font-size-headline);
      margin-bottom: 15px;
      .addCircle {
        display: inline-block;
        height: 45px;
        width: 45px;
        border-radius: 50%;
        border: 2px solid #99A5B3;
        vertical-align: middle;
        margin-right: 20px;
        position: relative;
        i {
          position: absolute;
          top: 10px;
          left: 12px;
          color: #00adef;
          font-weight: bold;
          font-size: var(--font-size-icon);
        }
      }
      &:hover {
        border-color: #00adef;
        color: #00adef;
      }
    }
  }

  .allCodeSpace {
    padding-bottom: 30px;
    flex: 1 auto;
    position: relative;

    .allcodeSpaceListviewContent {
      background-color: #252a33;
      padding-top: 15px;

      .codeSpaceMargininone {
        position: relative;
        margin-top: 0;
      }
    }
  }

  .securityConfigRow {
    background-color: #252a33;
    height: 95px;
  }

  .noRequests {
    align-items: center;
    background-color: #252a33;
    display: flex;
    flex-direction: column;
    height: 450px;
    justify-content: center;
    position: relative;
    width: 100%;
  }
  table {
    .tableTitle {
      th:first-child {
        width: 16.66%;
      }
      th:nth-child(2) {
        width: 18.66%;
      }
      th:nth-child(3) {
        width: 32.66%;
      }
      th:nth-child(4) {
        width: 16.66%;
      }
      th:nth-child(5) {
        width: 8.66%;
      }
      th:last-child {
        width: 8.66%;
        text-align: right;
        padding-right: 30px;
      }
    }
  }
}
.projectsContainer {
  display: flex;
  column-gap: 15px;
  row-gap: 15px;
  flex-wrap: wrap;

  > div {
    width: calc(25% - 12px);
    min-height: 300px;
  }
}
.createNewCard {
  position: relative;
  border: 1px solid #383F49;
  cursor: pointer;

  .addicon {
    top: calc(50% - 31px);
    width: 63px;
    height: 63px;
    border: 1px solid #fff;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 auto;
    &:after {
      content: '';
      position: absolute;
      width: 50%;
      height: 1px;
      background-color: #00ADEF;
      left: 25%;
      transform: rotate(90deg);
    }
    &:before {
      content: '';
      position: absolute;
      width: 50%;
      height: 1px;
      background-color: #00ADEF;
      left: 25%;
      margin: 0 auto;
      transform: rotate(180deg);
      top: 49%;
    }
  }
  .addlabel {
    font-size: var(--font-size-headline);
    line-height: 23px;
    position: absolute;
    word-break: break-word;
    display: block;
    width: 100%;
    text-align: center;
    bottom: 20px;
  }
  
  &:hover {
    border-color: #00adef;
    .addlabel {
      color: #00adef;
    }
  }
}
#create-security-tabs .scrollable.tabs-wrapper {
  height: 44px;
}

#create-security-tabs .scrollable.tabs-wrapper nav,
#create-security-tabs .tabs {
  height: 44px;
}

#manage-codeSpace-tabs .tab {
  min-width: max-content;

  >a {
    position: relative;
    padding: 10px 50px 12px 40px;

    &::before {
      font-family: 'dna-icons';
      content: '\e949';
      position: absolute;
      right: 20px;
      font-size: var(--font-size-icon-highlight);
    }

    sup {
      font-size: 15px;
      font-style: bold;
      vertical-align: sub;
    }
  }

  &.valid a::before {
    color: #00adef;
  }
}
.actionBtns {
  border-right: 1px solid #252a33;
  margin-right: 8px;
  height: 25px;
}
.btnOutline {
  background: none;
  border: none !important;
  color: #c0c8d0;
  height: auto;
  margin: 0px 8px;
  outline: none;
  padding: 0;
  
  > i {
    margin-right: 5px;
    transform: translateY(-1px);
  }

  &:hover {
      color: #00adef;
      background: unset;
  }
}
  