flask-openid==1.3.1
flask_oidc==1.4.0
itsdangerous==2.0.1
fab-oidc==0.0.9
pyarrow==8.0.0
fastparquet==0.8.1
numpy==1.20.3
pandas==1.3.5
lxml==4.9.2
Werkzeug==2.2.2
WTForms==2.3.3
dask==2022.2.0
pyspark==2.4.7
TM1Py==1.11.3
deltalake==0.13.0
#tqdm==4.66.2
#sentence-transformers==2.2.2
qdrant-client==1.4.0
openai==1.10.0
minio==7.2.5
#bat-packages
smbprotocol==1.13.0
pysmb==1.2.7
aiohttp==3.8.6
#prompt-craftapi-generatingdocs
openpyxl==3.1.3
XlsxWriter==3.2.0
#pdf_to_word_converter
pdf2docx==0.5.8
#promptcraft-pdf-reader
PyMuPDF==1.22.5
pymupdf4llm==0.0.1
docx2md==1.0.1
#installing_the_k8s_provider_for_bat
apache-airflow-providers-cncf-kubernetes==5.2.2
#installing_the_smtp_package
apache-airflow-providers-smtp==1.1.0
#installing_the_airflow_postgres
apache-airflow-providers-postgres==5.5.0
apache-airflow-providers-oracle==3.7.4
