.dataProductCard {
  background-color: #252a33;
  width: calc(25% - 15px);
  margin: 0 15px 15px 0;
  min-width: 250px;
  position: relative;
  height: 300px;
  display: flex;
  align-items: flex-end;
  background-image: url("../../../../assets/dataproduct.png");
  background-repeat: no-repeat;
  background-size: 50% auto;
  background-position: top center;
  background-position-y: 40px;
  cursor: pointer;

  .cardBodySection {
    padding: 15px 20px 20px 20px;
    .description {
      text-overflow: ellipsis;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      color: #99a5b3;
    }
    .title {
      font-size: var(--font-size-headline);
      margin-bottom: 5px;
      color: #99a5b3;
      text-overflow: ellipsis;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
    .tags {
      display: none;
    }
  }
  .tagItem {
    border: 1px solid #00adef;
    margin: auto;
    background: #697582;
    opacity: 0.8;
    border-radius: 4px;
    padding: 2px 4px;
    font-weight: bold;
  }
  &:hover {
    background-position: 50% 0%;
    &::before {
      position: absolute;
      content: " ";
      width: 100%;
      height: 100%;
      background-color: #00adef;
      opacity: 0.9;
      top: 0;
    }
    .description {
      overflow: visible;
      color: white;
      display: block;
    }
    .title {
      color: white;
      font-weight: bold;
    }
    .cardBodySection {
      position: absolute;
      top: 20%;
    }
    .tags {
      color: white;
      padding: 0px 0px 0px 20px;
    }
    .cardFooter {
      display: block;
    }
  }
}
.cardFooter {
  display: none;
  justify-content: flex-end;
  margin: 10px 0;
}
