.deployModal {
  .flexLayout {
    display: flex;
    justify-content: space-between;

    >div {
      width: calc(50% - 7px);
    }
  }

  .disabledDiv {
    opacity: 0.6;
    pointer-events: none;
  }

  .configLink {
    cursor: pointer;

    a {
      color: #00ADEF !important;
    }
  }

  .createTechUserWrapper {
    padding-top: 33px;
  }

  .saveSettingsBtn {
    background-color: #00adef;
    padding: 0 15px;
    font-size: var(--font-size-default);
    letter-spacing: 1px;
    margin-right: 12px;
  }
}