.mainPanel {
  display: flex;
  margin: 0 0 15px 0;
  position: relative;
  position: relative;

  .wrapper {
    background: #252a33;
    padding: 25px 40px;
    flex: 1 auto;
    h3 {
      font-size: var(--font-size-default);
    }
    .flexLayout {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      margin-top: 20px;
      .solutionSection {
        flex-wrap: wrap;
        width: 33%;
        word-break: break-word;
        &:nth-child(2) {
          .jupeterCard {
            margin-right: 20px;
          }
        }
      }
    }
  }
}
.jupeterCard {
  background-color: #1c2026;
  padding: 25px 25px 15px;
  margin: 5px 0;
  display: flex;
  position: relative;
  min-width: 300x;
  max-width: 350px;
  label {
    font-size: var(--font-size-smallest);
    color: #919294;
    margin-bottom: 12px;
  }
  h6 {
    margin: 0;
  }
  .JuperterCardDesc {
    color: #b2b4b9;
    line-height: 17px;
    margin-bottom: 10px;
  }
  .jupeterIcon {
    width: 45px;
    margin: 0 5px 0 0;
    i {
      font-size: var(--font-size-icon-big);
    }
  }
}
