.firstPanel {
  margin: 40px;
  width: calc(100% - 80px);
}
.dataRow {
  &:hover {
    background-color: #1c2026;
    cursor: pointer;
  }
}
.deleteIcon {
  font-size: var(--font-size-icon-nav);
  color: #00adef;
  cursor: pointer;
}
.selectExisitingFiles {
  background: none;
  border: none;
  color: #00adef;
  padding: 0 5px;
  cursor: pointer;
  margin-top: 25px;
  &:focus {
      outline: none;
  }
}
.fileInput {
  position: fixed;
  left: -100%;
  top: -100%;
}