.firstPanel {
  margin: 40px;
  width: calc(100% - 80px);
}
.dataRow {
  &:hover {
    background-color: #1c2026;
    cursor: pointer;
  }
  > td {
    width: 20%;
  }
  > .name {
    width: 40%;
  }
  .actions {
    display: flex;
    justify-content: flex-end;
    column-gap: 8px;
    margin-top: -5px;
  }
}
.deleteIcon {
  font-size: var(--font-size-icon-highlight);
  color: #00adef;
  cursor: pointer;
}
.selectExisitingFiles {
  background: none;
  border: none;
  color: #00adef;
  padding: 0 5px;
  cursor: pointer;
  margin-top: 25px;
  &:focus {
      outline: none;
  }
}
.fileInput {
  position: fixed;
  left: -100%;
  top: -100%;
}