
.sliderContainer {
  display: flex;
  align-items: center;
}

.sliderWrapper {
  flex: 1;
  padding: 0px 11px 0 3px;
}

.inputContainer {
  margin-left: 20px;
  margin-bottom: 0;

  > input {
    font-size: var(--font-size-smallest) !important;
    width: 58px !important;
    text-align: center;
  }
}

.horizontalSlider {
  background-color: #acb6bb;
  height: 5px;
  border-radius: 6px;

  > div:first-child {
    height: 5px;
    background: #00adef;
    border-radius: 6px;
  }

  > div:last-child:focus-visible {
    outline: 0;
  }

  .thumbContainer {
    cursor: pointer;
    margin-left: -12px;
    position: absolute;
    text-align: center;
    width: 32px;
    
    .thumb {
      width: 15px;
      height: 15px;
      margin: -6px auto 0;
      border-radius: 50%;
      background-color: #00adef;
      box-shadow: 0px 0px 6px 0px #0000007a;
    }

    .thumbValue {
      font-size: var(--font-size-smallest);
      padding-top: 4px;
    }
  }
}

.badge {
  border: 1px solid #697582;
  border-radius: 2px;
  color: #697582;
  font-size: var(--font-size-icon-small);
  letter-spacing: 1px;
  margin-left: 4px;
  padding: 2px 4px;
  float: right;
}