.codeSpaceCard {
    background: #252a33;
    width: calc(25% - 15px);
    margin: 0 15px 15px 0;
    min-width: 250px;
    position: relative;
  
    &.disable {
      opacity: 0.5;
    }
  
    .error {
      color: #e84d47 !important;
    }
  
    .cardHead {
      display: flex;
      justify-content: space-between;
      margin-bottom: 5px;
      align-items: center;
      position: relative;
  
      .cardHeadInfo {
        width: 100%;
        padding: 0 20px;
        margin-top: 25px;
        display: flex;
        .cardHeadTitle {
          font-size: var(--font-size-headline);
          word-break: break-word;
          padding-right: 10px;
          padding-bottom: 5px;
          width: 100%;
          text-align: left;
          display: flex;
          label, a {
            cursor: pointer;
          }
          a {
            min-width: 24px !important;
          }
        }
  
        &.disable {
          pointer-events: none;
        }
  
        .trigger {
          display: inline-block;
          padding: 2px 10px;
          position: relative;
          &.open {
            z-index: 10;
          }
          cursor: pointer;
          &:hover {
            color: #00adef;
          }
        }
  
        .contextMenu {
          hr {
            width: 100%;
          }
  
          i {
            font-size: var(--font-size-tiny);
          }
        }
      }
  
      &:hover .cardHeadTitle label {
        color: #00adef;
      }
    }
    hr {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 13px;
      margin-bottom: 13px;
    }
    .cardBodySection {
      padding: 15px 20px 20px 20px;
      margin-bottom: 30px;
      min-height: 200px;
      > div {
        display: flex;
        justify-content: space-between;
        flex-grow: 1;
        color: #99a5b3;
        flex-direction: column;
        > div {
          display: flex;
          justify-content: space-between;
          &:not(:last-child) {
            margin-bottom: 10px;
          }
          > div:first-child {
            flex: 0.75;
            font-weight: bold;
            color: #697582;
            font-size: var(--font-size-small);
          }
          > div:last-child {
            flex: 1;
          }
        }
        ul {
          list-style-type: none;
          padding: 0;
          li:not(:last-child) {
            padding-bottom: 10px;
          }
        }
      }
    }
    .deploymentInfo {
      display: flex;
      flex: 1 auto;
      border: 1px solid #383F49;
      border-radius: 2px;
  
      .metricsTrigger {
        color: #00adef;
        font-size: var(--font-size-small);
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
  
      > div {
        padding: 5px;
        > span {
          color: #00adef;
          margin-right: 10px;
          cursor: pointer;
  
          > a {
            text-decoration: none;
            margin-left: 0 !important;
          }
        }
      }
  
      > div:first-child {
        font-size: inherit !important;
        font-weight: inherit !important;
        color: inherit !important;
        border-right: 1px solid #383F49;
      }
    }
    .statusIndicator {
      padding: 2px 8px;
      border: 1px solid #0AE6AB;
      color: #0AE6AB;
      font-size: var(--font-size-icon-small);
      letter-spacing: 1px;
      border-radius: 2px;
      margin-right: 5px;
  
      &.wsStartStop {
        border: 1px solid #00adef;
        color: #00adef;
        cursor: pointer;
  
        &.wsStarted {
          border: 1px solid #e84d47;
          color: #e84d47;
        }
      }
  
      &.colloboration {
        border: 1px solid #35ADAC;
        color: #35ADAC;
      }
  
      &.deploying {
        border: 1px solid #f3e537;
        color: #f3e537;
      }

      &.deployFailed {
        border: 1px solid #e84d47;
        color: #e84d47;
      }
  
      &.deleting {
        border: 1px solid #e84d47;
        color: #e84d47;
      }
  
      &.creating {
        border: 1px solid #00adef;
        color: #00adef;
      }
    }
  
    .deployFailLink {
      text-decoration: none;
      // margin-left: 15px;
      // vertical-align: sub;
      // font-size: var(--font-size-small);
      color: #e84d47;
    }
  
    .deployedLink{
      text-decoration: none;
      color: #0AE6AB;
    }

    .deployingLink{
      text-decoration: none;
      color: #f3e537;
    }
  }
  .cardFooter {
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    margin-bottom: 10px;
    div:first-child {
      margin: 9px 0px;
    }
  }
  .btnGrp {
    display: flex;
    justify-content: flex-end;
    font-size: var(--font-size-medium);
    button {
      background-color: transparent;
      border: 0;
      color: #99a5b3;
      float: right;
      margin-left: 8px;
      outline: 0;
      padding: 0;
      &:hover {
        background-color: transparent;
      }
    }
  }

  .btnOutline {
    display: flex;
    background: none;
    border: none !important;
    color: #c0c8d0;
    height: auto;
    outline: none;
    padding: 0 2px;
    width: -webkit-fill-available;
    justify-content: space-between;
    &:hover {
      background: unset;
    }
  }
  .btnDisabled{
    pointer-events: none;
  }
  .animationWrapper {
    position: absolute;
    width: 25px;
    height: 25px;
    display: block;
    border-radius: 50%;
  }
  .helpIcon{
    font-size: 17px;
  }


  .collapseIcon{
    color:  #00ADEF; //Used by ripple animation
    transition: all 85ms cubic-bezier(0.2, 0.2, 0.38, 0.9) 0s;
    position: relative;
    border-radius: 1px;
    width: 25px;
    height: 25px;
    bottom: 1px; 
    &.open {
      color: #697582; //Used by ripple animation
      i{
        &::before {
          transform: rotate(-45deg) !important;
        }
        &::after {
          transform: rotate(45deg) !important;
        }
      }
    }
    i{
      top: 1px; 
      position: relative;
    }
  }
  .OpenNewTab {
    display: inline-block;
    height: 23px;
    position: relative;
    width: 23px;
    border: 1px solid grey;
    vertical-align: middle;
    margin-left: 10px;
    text-decoration: none;
    &:hover i {
      animation: OpenNewTab 1s infinite;
    }
    i {
      color: #c0c8d0 !important;
      font-size: var(--font-size-default) !important;
      margin: 0 !important;
      transform: rotate(315deg);
      top: -2px;
      left: 5px;
      position: absolute;
      text-decoration: none;
    }
    span {
      width: 15px;
      height: 1px;
      background-color: #c0c8d0;
      position: absolute;
      transform: rotate(314deg);
      top: 13px;
      left: 1px;
      text-decoration: none;
    }
  }

  .manualStart { 
    display: flex;
    justify-content: space-between;
    > div {
      width: calc(50% - 30px);
    }
  }

  .modalContentWrapper {
    margin-top: -20px;
    font-size: var(--font-size-sub-headline);
    .modalTitle {
      margin-top: 0px;
      text-align: center;
    }
    .modalContent {
      margin-top: 20px;
      font-size: var(--font-size-medium);
  
      p {
        margin: 0 auto;
        max-width: 650px;
      }
    }
  }
  
  @keyframes OpenNewTab {
    0% {
      left: 5px;
      top: -2px;
    }
    50% {
      left: 6px;
      top: -3px;
    }
    100% {
      left: 5px;
      top: -2px;
    }
  }
  .btnOutline{
    &:hover {
      color: #00adef;
  }
   }