.mainPanel {
  padding: 32px 75px 30px 75px;
 
  .wrapper {
    width: 100%;
    position: relative;
    .backButtonWapper{
      h3{
        font-size: 24px;
        color: #dee3e8;
        margin-bottom: 25px;
        margin-top: 10px;
      }
    }
  }
 
  .content {
    background-color: #252a33;
    padding: 36px;
    margin-top: 10px;
    padding-bottom: 30px;
    p{
      margin-bottom: 13px;
      font-size: 13px;
    }
  }
  .inputWrapper{
    display : flex; 
    .roleRequest {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
   
      .roleSection {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: flex-start;
        gap: 16px;
        width: 100%;
      }
   
      .roleName {
        flex: 1;  
        max-width: 50%;
        // width: calc(50% - 9px);
        // margin-right: 20px;
      }
   
      .disabledSection {
        opacity: 0.5;
        pointer-events: none;
      }
      button {
        align-self: flex-end;
        margin-right: 20px;
      }
    }
   
    .rolesListSection {
      width: calc(50% - 7px);
      border-left: 2px solid #383f49;
      display: flex;
      flex-direction: column;
      min-height: 200px;
    }
   
    .rolesList {
      margin-left: 20px;
    }
   
    .noRolesCreated {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      margin-top: 0;
    }
  }
}
 
 
 
.header{
  margin-bottom: 15px;
}
.infoLinks{
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
  word-break: break-word;
  width: 100%;
  > div {
    margin: 5px 5px 5px 0;
    cursor: pointer;
    width: 20%;
  }
}
 
.roleItem {
  background-color: #1c2026;
  padding: 10px 12px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;

  .outlineBtn {
    background: none;
    border: none !important;
    color: #c0c8d0;
    height: auto;
    outline: none;
    padding: 0 2px;
    color: #fcfcfd;
    min-height: 35px;

    &:hover {
      color: #00adef;
      background: unset;
    }
  }

  .redirect{
    align-self: flex-end;
  }

  .viewAlice {
    @extend .outlineBtn;
    font-size: 12px;
  }

  .viewInAliceIcon {
    font-size: 10px;
  }
}
 
.userDetails {
  display: flex;
  flex-direction: column;
  width: 160px;
  word-break: break-word;
  gap: 4px;
}
 
.modalContentSection {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-top: 12px;
  padding-right: 12px;
}
 
.flexLayout {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
  > div {
    width: calc(50% - 7px);
  }
  &.fourColumn {
    > div {
      width: calc(25% - 7px);
    }
  }
  &.threeColumn {
    > div {
      width: calc(33% - 7px);
    }
  }
}
 
.divider{
  margin-top: 12px !important;
  margin-right: 25px !important;
  margin-left: 0px !important;
  background-color: #697582;
}
 
:global {
  label.input-label.summary {
    color: #99A5B3;
    font-size: var(--font-size-small);
    font-weight: bold;
  }
}