.checkCircle {
    color: #12e7ab;
    font-size: 16px;
}
.closeCircle {
    color: #e94d47;
    font-size: 17px;
}
.badge {
    border-radius: 2px;
    color: #c0c8d0;
    font-size: var(--font-size-icon-small);
    letter-spacing: 1px;
    margin-right: 5px;
    padding: 5px 8px;
    background-color: #1c2026;
}
.dataRow {
  &:hover {
    background-color: #1c2026;
    cursor: pointer;
  }
}
.alertCircle {
  color: #ffff4c;
  font-size: 16px;
}
.modalContent {
  padding-top: 8px;
  .apiKey {
    display: flex;
    align-items: center;
    padding: 16px 0;
  }
  .btnContainer {
    display: flex;
    justify-content: flex-end;
  }
}
.cancelBtn {
  background: unset;
  border: unset;
  padding: 0;
  margin-top: -5px;
  height: unset;
  font-size: 11px;
  color: #00ADEF;
  border-bottom: 1px solid #00ADEF;
  margin-left: 41px;
  min-width: 38px;

  &:hover {
    background: unset;
    border-color: #00adef;
  }
}
:global {
  .contextMenuWrapper {
    z-index: 9;
  }
}
