.content {
  text-align: center;
  h4 {
    margin: 15px 0;
  }
  p {
    margin-bottom: 25px;
    font-size: var(--font-size-small);
  }
  ul {
    li {
      display: inline-block!important;
      border-bottom: none!important;
      margin: 0 15px;
      &:hover {
        background-color: transparent!important;
      }

      a {
        font-size: var(--font-size-tiny);
      }
    }
  }
}
