.panel {
  background: #252a33;
  margin-bottom: 15px;

  h3 {
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #454545;
  }

  .flex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 40px;

    .col2 {
      width: calc(50% - 7px);
    }
    .col3 {
      width: calc(33% - 7px);
    }
  }

  .label {
    color: #99a5b3;
    font-size: var(--font-size-small);
    font-weight: 700;
    margin-bottom: 8px;
  }
}

