.actionLinksTD {
  cursor: pointer;
}

tr  {
  td {
    padding-top: 25px!important;
    padding-bottom: 25px!important;
    font-size: 13px !important;
  }
}

.contextMenu {
  position: relative;
  &.open .contextMenuTrigger {
    z-index: 10;
    position: relative;
  }
  .contextMenuTrigger {
    padding: 12px 10px;
    cursor: pointer;
    margin-right: -14px;
    &:hover {
      color: #00adef;
    }
  }
}

tbody {
  tr {
    &:hover {
      background-color: #20242b;
    }

    td.actionLinksTD {
      text-align: right !important;
      padding-right: 30px!important;
    }
  }
}