@import "../Form.common.styles.scss";

.heading {
  display: flex;
  font-size: var(--font-size-headline);
  i {
    color: #697582;
  }
}

.itemContainer {
  display: flex;
  justify-content: space-between;
  .items {
    padding: 0 5px;
    .itemTitle {
      .showHRLine {
        hr {
          display: inline-flex;
          width: calc(100% - 75px);
          vertical-align: middle;
          margin-left: 10px;
        }
        &::after {
          content: "";
          height: 10px;
          width: 10px;
          border-radius: 50px;
          background: #697582;
          position: absolute;
          margin-top: 10px;
        }
      }
    }
  }
}
