.codeSpaceWrapper {
    color: #c5c5c5;
    padding: 20px 0 30px 114px;
    margin-right: 184px;
    min-height: 100vh;
    .codeSpaceContent {
      color: #c5c5c5;
      padding: 0;
      background-color: #252a33;
      position: relative;
      .codeSpace {
        display: flex;
        align-items: center;
        justify-content: center;
        max-height: 700px;
        min-height: 600px;
        .btnPrimary {
          cursor: pointer;
        }
        .preloaderCutomnize {
          position: absolute;
          background-color: #252a33;
        }
      }
    }
    .loader {
      position: absolute;
      background-color: #252a33;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 9;
    }
    .nbheader {
      display: flex;
      justify-content: space-between;
      margin-bottom: 25px;
      position: relative;
      align-items: center;
      .Logo {
        display: none;
        height: 40px;
      }
      h6 {
        color: #8f969e;
        font-size: var(--font-size-tiny);
        margin-bottom: 10px;
      }
      h2 {
        font-size: var(--font-size-headline);
        color: #acb8c4;
        word-break: break-word;
      }
      p {
        color: #acb8c4;
        font-size: var(--font-size-default);
        line-height: var(--font-size-headline);
      }
      i {
        font-size: var(--font-size-icon-nav);
        margin: 0 10px;
      }
      .nbtitle {
        padding-right: 30px;
        max-width: 100%;
        min-width: 210px;
        h2 {
          display: inline-block;
          margin-left: 15px;
          position: relative;
          top:3px;
        }

        button {
          border: 2px solid #3e444e;
          &::before {
            padding-left: 9px!important;
            padding-right: 9px!important;
          }
        }
      }
  
      .headerright {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        div > a:hover {
          text-decoration: none;
        }
      }
      .stopNbbtn {
        width: 40px;
        height: 40px;
        color: #acb8c4;
        border: 2px solid #3e444e;
        margin-left: 12px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        &:hover span {
          animation: stopNb 1s infinite;
        }
        span {
          display: inline-block;
          width: 14px;
          height: 14px;
          margin: 0px 2px;
          background-color: #9fa3a7;
          margin-top: 2px;
        }
      }
      .toggleNotebook {
        width: 40px;
        height: 40px;
        color: #acb8c4;
        border: 2px solid #3e444e;
        margin-left: 12px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        i {
          font-size: var(--font-size-icon-medium);
          margin-top: -4px !important;
        }
      }
      .active {
        .toggleNotebook {
          cursor: pointer;
        }
      }
      .OpenNewTab {
        width: 40px;
        height: 40px;
        color: #acb8c4;
        border: 2px solid #383f49;
        margin-left: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        position: relative;
        &:hover i {
          animation: OpenNewTab 1s infinite;
        }
        i {
          color: #c0c8d0 !important;
          font-size: var(--font-size-default) !important;
          margin: 0 !important;
          transform: rotate(315deg);
          top: 7px;
          left: 12.9px;
          position: absolute;
        }
        span {
          width: 16px;
          height: 1px;
          background-color: #c0c8d0;
          position: absolute;
          transform: rotate(314deg);
          top: 19px;
          left: 10px;
        }
      }
    }
  }
  .codespaceframe {
    background-color: #fff;
    height: 100%;
    width: 100%;
    position: absolute;
    iframe {
      height: 100%;
      width: 100%;
      border: none;
      &.fullscreen {
        height: calc(100% - 60px);
      }
    }
  }
  .codeSpaceWrapperFSmode {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 999;
    padding: 0;
    margin: 0;
    background-color: #252a33;
    .headerdetails {
      width: 100%;
    }
    .nbheader {
      height: 60px;
      margin: 0;
      display: flex;
      margin-bottom: 0 !important;
      padding: 0 15px;
      background-color: #000000;
      justify-content: space-between;
  
      align-items: center;
      .headerright {
        top: 11px !important;
        right: 15px !important;
        display: flex;

        .urlLink {
          width: 30px;
          margin-top: 5px;
          font-size: var(--font-size-icon-medium);
          > a:hover {
            text-decoration: none;
          }
        } 
  
        .OpenNewTab {
          display: none;
        }
        .stopNbbtn {
          display: none;
        }
        .toggleNotebook {
          display: none;
        }
      }
      .Logo {
        display: block;
        height: 40px;
      }
      .nbtitle {
        width: 100%;
        text-align: center;
        h2 {
          color: #acb8c4;
          font-size: var(--font-size-headline);
          padding-top: 10px;
          display: inline-block;
          position: relative;
          top: 2px;
          margin-left: 15px;
        }
        h6 {
          display: none;
        }
        button {
          border: 2px solid #3e444e;
          &::before {
            padding-left: 9px!important;
            padding-right: 9px!important;
          }
        }
      }
      .nbDescr {
        display: none;
      }
      .nbeditmode {
        display: none;
      }
      .nbstopbtn {
        display: none;
      }
    }
  }
  
  .headerdetails {
    display: flex;
    align-items: center;
  }
  .navigation {
    display: flex;
    align-items: center;
  }
  @keyframes fsbtn11 {
    0% {
      right: 3px;
      top: 10px;
    }
    50% {
      bottom: 1px;
      left: 5px;
    }
    100% {
      right: 3px;
      top: 10px;
    }
  }
  
  @keyframes fsbtn22 {
    0% {
      left: 5px;
      top: 14px;
    }
    50% {
      right: 5px;
      top: 2px;
    }
    100% {
      left: 5px;
      top: 14px;
    }
  }
  @-webkit-keyframes fsbtn11 {
    0% {
      right: 3px;
      top: 10px;
    }
    50% {
      bottom: 1px;
      left: 5px;
    }
    100% {
      right: 3px;
      top: 10px;
    }
  }
  @-webkit-keyframes fsbtn22 {
    0% {
      left: 5px;
      top: 14px;
    }
    50% {
      right: 5px;
      top: 2px;
    }
    100% {
      left: 5px;
      top: 14px;
    }
  }
  
  @keyframes OpenNewTab {
    0% {
      left: 12.9px;
      top: 7px;
    }
    50% {
      left: 15.9px;
      top: 4px;
    }
    100% {
      left: 12.9px;
      top: 7px;
    }
  }
  
  @-webkit-keyframes OpenNewTab {
    0% {
      left: 12.9px;
      top: 7px;
    }
    50% {
      left: 15.9px;
      top: 4px;
    }
    100% {
      left: 12.9px;
      top: 7px;
    }
  }
  
  @keyframes fsbtn1 {
    0% {
      bottom: 6px;
      left: 9px;
    }
    50% {
      bottom: 1px;
      left: 5px;
    }
    100% {
      bottom: 6px;
      left: 9px;
    }
  }
  
  @keyframes fsbtn2 {
    0% {
      right: 9px;
      top: 6px;
    }
    50% {
      right: 5px;
      top: 2px;
    }
    100% {
      right: 9px;
      top: 6px;
    }
  }
  
  @keyframes stopNb {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.8);
    }
    100% {
      transform: scale(1);
    }
  }
  
  @-webkit-keyframes stopNb {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.8);
    }
    100% {
      transform: scale(1);
    }
  }
  .tooltip {
    top: -6px !important;
  }
  