.banner {
  display: flex;
  margin: 0;
  background: #00adef;
  width: 100%;
  padding: 15px 0px 15px 75px;

  .content {
    display: flex;
    flex: 88;
    margin: 0;
    justify-content: flex-start;

    .placeholder {
      display: flex;
      width: 175px;

      i {
        margin-right: 7px;
      }

      h5 {
        margin: 0;
        margin-top: 2.5px;
        font-size: var(--font-size-default);
        font-weight: var(--font-weight-bold);

      }
    }

    .info {
      margin: 0;

      p {
        margin: 0;
        margin-top: 2.3px;
        margin-left: 6px;
        font-size: var(--font-size-default);
      }

      p a {
        color: #d9dfe4;
      }

    }
  }

  .button {
    display: flex;
    flex: 12;
    margin: 0;
    background: #00adef;
    border-color: #00adef;
    margin-top: 2.6px;
    height: 10px;

    h4 {
      margin: 0;
      margin-right: 21px;
      font-size: var(--font-size-default);

    }

    i {
      margin-top: 1px;
      font-size: var(--font-size-smallest);
    }
  }
}