.iconAction {
  cursor: pointer;
  /*padding: 15px 7px 15px 10px !important;*/
  font-size: var(--font-size-icon) !important;
  width: 110px;
  i {
    font-size: var(--font-size-icon-small);
    line-height: var(--font-size-icon);
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    -ms-transition: 0.2s;
    color: #00adef;
    &:hover {
      font-size: var(--font-size-icon);
      transition: 0.2s;
      -webkit-transition: 0.2s;
      -moz-transition: 0.2s;
      -o-transition: 0.2s;
      -ms-transition: 0.2s;
    }
  }
}

.OpenNewTabIcon {
  margin-left: 5px !important;
}

.projectDecription {
  color: #acb8c4;
  font-size: var(--font-size-default);
}

.descriptionColumn {
  display: inline-block;
  max-width: 300px;
  overflow: hidden !important;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.contextMenu {
  position: relative;

  &.open .contextMenuTrigger {
    z-index: 10;
    position: relative;
  }

  .contextMenuTrigger {
    padding: 12px 10px;
    cursor: pointer;
    margin-right: -14px;

    &:hover {
      color: #00adef;
    }
  }
}

tr {
  .actionMenus {
    width: 40px !important;
  }

  h6 {
    font-weight: bold;
    font-size: var(--font-size-sub-headline);
    margin-bottom: 2px;
  }

  p {
    margin: 0;
  }

  .showMenu {
    z-index: 9;
  }

  td {
    div {
      display: flex;
    }

    word-break: break-all;
  }
}

.contextList {
  text-align: left !important;
}

:global {
  .ul-table.solutions {
    position: relative;
    margin-top: 30px;

    .data-row {
      &:hover {
        cursor: pointer;
        background-color: #1c2026;
        .projectName {
          color: #00adef !important;
        }
      }
      td {
        color: #99a5b3;
        &:first-child {
          padding-left: 38px;
          width: 30%;
          max-width: 30%;
          padding: 25px 0 25px 38px;
        }

        &:last-child {
          width: 110px;
          padding-right: 38px;
          text-align: right;
        }

        &:nth-child(3) {
          text-transform: capitalize;
        }

        &:nth-child(4) {
          text-transform: capitalize;
        }

        padding: 25px 0 25px 10px;
        font-size: var(--font-size-default);
        max-width: 20%;
        text-overflow: ellipsis;

        &.wrap-text {
          white-space: normal;
        }
      }
    }
  }

  label.input-label.summary {
    color: #99a5b3;
    font-size: var(--font-size-default);
    font-weight: bold;
  }
}
