.searchPanel {
  position: relative;
  flex: 1 auto;
  position: absolute;
  top: -20px;
  left: 0;
  width: 445px;
  input::placeholder {
    color: #c0c8d0;
  }
  .searchInputField {
    background: none;
    border: none;
    border-bottom: 1px solid #242a33;
    font-size: var(--font-size-medium);
    padding-right: 40px;
    margin-right: -20px;
    height: 40px;
    color: #c0c8d0;
    outline: none;
    width: 100%;
    opacity: 1;
    transition: opacity 85ms cubic-bezier(0.2, 0.2, 0.38, 0.9) 0s;
    visibility: visible;

    &::placeholder {
      color: #697582;
    }

    &.hide {
      opacity: 0;
      visibility: hidden;
      transition: visibility 0ms;
      transition-delay: 100ms;
    }
  }

  > button {
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
    outline: none;
    color: #c0c8d0;
    font-size: var(--font-size-icon-medium);
    position: absolute;
    top: 3px;

    &:hover {
      color: #ffffff;
      transition: color 85ms cubic-bezier(0.2, 0.2, 0.38, 0.9) 0s;
    }

    > i {
      vertical-align: sub;
      font-size: var(--font-size-icon-nav);
      &.active:hover {
        color: #00adef;
      }
    }
  }

  .suggestionList {
    list-style-type: none;
    max-height: 300px;
    margin-top: 5px;
    padding: 0;
    overflow: auto;
    > li {
      padding: 10px 20px;
      background-color: #242a33;
      font-size: var(--font-size-medium);
      &:hover {
        cursor: pointer;
        background-color: #1b2026;
      }
      &.active {
        background-color: #1b2026;
      }
    }

    &::-webkit-scrollbar {
      display: block;
      width: 5px;
      height: 5px;
    }
    &::-webkit-scrollbar-track {
      background: #293f55;
    }
    &::-webkit-scrollbar-thumb {
      background: #00adef;
      border-radius: 10px;
    }
  }
}
