.solCard {
  background: #252a33;
  width: calc(25% - 15px);
  margin: 0 15px 15px 0;
  min-width: 250px;
  display: flex;
  flex-flow: column;
  &:hover {
    background: #30343a !important;
  }
  .solHead {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    //align-items: center;
    position: relative;
    // overflow: hidden;
    // height: 110px;
    padding: 20px;
    padding-bottom: 0;
    // z-index: 2;
    img {
      min-width: 100%;
      align-self: flex-start;
    }
    
    .solTitle {
      font-size: var(--font-size-headline);
      line-height: 23px;
      position: relative;
      overflow-wrap: break-word;
      padding-right: 10px;
      padding-bottom:5px;
    }
    .solTitleDiv{
      max-width: calc((100%) - 28px);
    }

    &:hover .solTitle {
      color: #00adef;
      cursor: pointer;
    }
  }
  .solbodysection {
    padding: 15px 20px 20px 20px;
    height: 100%;
    position: relative;
  }
  .subsolHead {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    align-items: center;
    .active {
      color: #00adef;
    }
    .closed {
      color: #e84d47;
    }
  }
  .draftIndicator {
    padding: 2px 8px;
    border: 1px solid #697582;
    color: #697582;
    font-size: var(--font-size-icon-small);
    letter-spacing: 1px;
    border-radius: 2px;
    margin-left: 15px;
  }
  label{
    color: #697582;
    font-size: smaller;
    margin-bottom: 0rem;
  }
  .solStatus {
    font-size: var(--font-size-default);
    color: #00adef;
  }
  .solRegin {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 12px;
    align-items: normal;
    min-height: 40px;
    span {
      vertical-align: top;
      font-size: var(--font-size-smallest);
      color: #99a5b3;
      padding: 0 15px 0 0;
      font-family: 'Roboto-Medium';

      &:last-child {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding-right: 0;
      }
    }
  }
  .solInfo {
    font-size: var(--font-size-default);
    color: #c0c8d0;
    line-height: 18px;
    min-height: 90px;
    word-break: break-word;
    margin-bottom: 5px;
  }
  .solLink {
    position: absolute;
    bottom: 20px;
    right: 20px;
    left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .solBm {
      i {
        color: #807d7d;
      }

      .similarSolLink {
        cursor: pointer;
        &:hover {
          color: #00adef;
        }

        span {
          font-size: var(--font-size-tiny);
        }
      }
    }
    label {
      &.goToLink {
        cursor: pointer;
        &:hover {
          color: #00adef;
        }
      }
      padding: 0;
      color: #807d7d;
      i {
        font-size: var(--font-size-icon-medium);
      }
    }
  }
}

.contextMenu {
  &.locations {
    display: inline-block;
    .contextMenuTrigger {
      margin-right: 0;
      margin-left: 8px;
    }
  }

  &.open .contextMenuTrigger {
    z-index: 10;
    position: relative;
  }

  .contextMenuTrigger {
    padding: 12px 10px;
    cursor: pointer;
    margin-right: -14px;
    &:hover {
      color: #00adef;
    }
  }
}

.locationDataWrapper {
  overflow: hidden;
  .locations {
    ul {
      width: 200px;
      max-height: 56px;
      overflow-y: auto;
      padding: 0 25px;
      margin: 18px 0;

      p {
        white-space: normal;
        margin: 0;
      }
    }
  }
}
