.bucketList {
    button {
        i {
            font-size: var(--font-size-icon);
            &:hover {
                color: #00adef;
            }
        }
    }
}

.newStorageCard {
  width: calc(25% - 15px);
  margin: 0 15px 15px 0;
  min-width: 250px;
  position: relative;
  border: 1px solid #383F49;
  cursor: pointer;

  .addicon {
    top: calc(50% - 31px);
    width: 63px;
    height: 63px;
    border: 1px solid #fff;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 auto;
    &:after {
      content: '';
      position: absolute;
      width: 50%;
      height: 1px;
      background-color: #00ADEF;
      left: 25%;
      transform: rotate(90deg);
    }
    &:before {
      content: '';
      position: absolute;
      width: 50%;
      height: 1px;
      background-color: #00ADEF;
      left: 25%;
      margin: 0 auto;
      transform: rotate(180deg);
      top: 49%;
    }
  }
  .addlabel {
    font-size: var(--font-size-headline);
    line-height: 23px;
    position: absolute;
    word-break: break-word;
    display: block;
    width: 100%;
    text-align: center;
    bottom: 20px;
  }

  &:hover {
    border-color: #00adef;
    .addlabel {
      color: #00adef;
    }
  }
}

.storageCard {
  background: #252a33;
  width: calc(25% - 15px);
  margin: 0 15px 15px 0;
  min-width: 250px;
  position: relative;

  &.disable {
    opacity: 0.5;
  }

  .cardHead {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    align-items: center;
    position: relative;
    overflow: hidden;
    height: 75px;

    .cardHeadInfo {
      width: 100%;
      padding: 15px 20px;
      cursor: pointer;
      margin-top: 35px;
      .cardHeadTitle {
        font-size: var(--font-size-headline);
        line-height: 23px;
        word-break: break-word;
        padding-right: 10px;
        padding-bottom: 5px;
        width: 100%;
        text-align: left;
      }

      &.disable {
        pointer-events: none;
      }
    }

      &:hover .cardHeadTitle {
        color: #00adef;
      }
  }
  hr {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .cardBodySection {
      padding: 15px 20px 20px 20px;
      margin-bottom: 30px;
      min-height: 200px;
      > div {
      display: flex;
      justify-content: space-between;
      flex-grow: 1;
      color: #99a5b3;
      flex-direction: column;
      > div {
        display: flex;
        justify-content: space-between;
        &:not(:last-child) {
          margin-bottom: 10px;
        }
        > div:first-child {
          flex: 1;
          font-weight: bold;
          color: #697582;
          font-size: var(--font-size-small);
        }
        > div:last-child {
          flex: 1;
        }
      }
      ul {
          list-style-type: none;
          padding: 0;
          li:not(:last-child) {
            padding-bottom: 10px;
          }
        }
      }
      .cardCollabSection {
        .cardCollabIcon {
          display: inline-block;
          cursor: pointer;
          color: #00adef;
          min-width: 40px;
          &:hover {
            text-decoration: underline;
          }
        }
        .collabsList {
          min-width: 300px;
          padding: 15px 15px 0!important;
          font-size: var(--font-size-small);
          li {
            border-bottom: 1px solid #2d333b;
            padding: 5px 0;
            &:last-child {
              border: none;
            }
            .permission {
              position: absolute;
              right: 15px;
            }
          }
          span {
            white-space: nowrap;
          }
        }
      }
  }

  .cardFooter {
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    div:first-child {
      margin: 7px 0px;
    }
  }
  .btnGrp {
    display: flex;
    justify-content: flex-end;
    font-size: var(--font-size-medium);
    button {
        background-color: transparent;
        border: 0;
        color: #99a5b3;
        float: right;
        margin-right: 20px;
        outline: 0;
        padding: 0;
        &:hover {
        background-color: transparent;
        color: #00adef;
      }
    }
  }
}

.bucketGrp {
    .bucketGrpList {
        .bucketGrpListItem {
            display: flex;
            flex-direction: column;
            justify-content: center;
            .bucketCaption {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                padding: 10px 0px 10px 0px;
                color: #99a5b3;
                font-weight: bold;
                .bucketTile {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    font-family: "Roboto-Medium";
                    div {
                        &:last-child {
                            display: flex;
                            align-items: center;
                            justify-content: flex-end;
                        }
                        button {
                            color: #acb8c4;
                            margin: 0 4px;
                            &:hover {
                                color: #00adef;
                            }
                        }
                    }
                    .bucketTitleCol {
                        flex: 1;
                        font-size: var(--font-size-smallest);
                        font-weight: initial;
                        label {
                            margin: 0;
                            cursor: pointer;
                            font-weight: normal;
                            i {
                                font-size: 9px;
                            }
                        }
                        i {
                            right: 0;
                        }
                    }
                    .bucketName {
                        min-width: 250px;
                        max-width: 250px;
                    }
                }
            }
            .bucketGrpListItemPanel {
                width: 100%;
                border-bottom: 0;
                .bucketTile {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    color: #99a5b3;
                    margin-bottom: 5px;
                    div {
                        &:last-child {
                            display: flex;
                            align-items: center;
                            justify-content: flex-end;
                        }
                        button {
                            color: #acb8c4;
                            margin: 0 4px;
                            &:hover {
                                color: #00adef;
                            }
                        }
                    }
                    .bucketTitleCol {
                        flex: 1;
                        font-size: var(--font-size-default);
                        color: #99a5b3;
                        i {
                            font-size: var(--font-size-icon-small);
                            right: 0;
                        }
                        .actionBtn {
                            background-color: transparent;
                            border: 0;
                            padding: 0;
                            font-size: var(--font-size-smallest);
                            margin: 0;
                            i {
                                font-size: var(--font-size-icon-small);
                            }
                            &:hover {
                                color: #00adef;
                            }
                        }
                    }
                    .bucketName {
                        min-width: 230px;
                        max-width: 230px;
                        a {
                            word-wrap: break-word;
                        } 
                    }
                }
                .bucketColContent {
                    .projectList {
                        padding: 5px 30px;
                        border: 1px solid #383f49;
                        margin: 8px 24px 15px 15px;
                        background-color: #2d333b;
                        .bucketTileCaption {
                            border-bottom: 1px solid #383f49;
                            padding: 9px 0;
                        }
                        .noPermission {
                            color: #e84d47;
                            padding: 7px 0;
                            display: flex;
                            align-items: center;
                            .noPermissionInfo {
                                color: #99a5b3;
                                font-size: var(--font-size-smallest);
                                margin-top: -5px;
                                cursor: default;
                                margin-left: 2px;
                            }
                        }
                    }
                    .projectListAction {
                        .actionBtnGrp {
                            margin-right: 27px;
                            margin-top: -12px;
                            button {
                                background-color: transparent;
                                font-size: 12px;
                                outline: 0;
                                border: 0;
                                float: right;
                                padding: 0;
                                color: #99a5b3;
                                margin-right: 20px;
                                font-size: 12px;
                                &:hover {
                                    background-color: transparent;
                                    color: #fff;
                                    span {
                                        text-decoration: underline;
                                        color: #00adef;
                                    }
                                    i {
                                        color: #00adef;
                                    }
                                }
                            }
                        }
                    }
                }

                &:last-child {
                    border-bottom: 1px solid #383f49;
                }
            }
        }
    }
}

.actionBtnGrp {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    button {
        background-color: transparent;
        border: 0;
        font-size: var(--font-size-smallest);
        padding: 0;
        color: #acb8c4;
        margin: 0;
        &:hover {
            background-color: transparent;
            color: #fff;
            i {
                color: #00adef;
            }
        }
        &:hover {
            span {
                text-decoration: underline;
            }
        }
    }
}

.expansionLabel {
    .bucketTile {
        .bucketTitleCol {
            &:not(:first-child):not(:last-child) {
                padding-left: 25px;
            }
        }
    }
}
.noCollaborators {
    font-size: var(--font-size-smallest);
}

.expansionpanelFirstCol {
    max-width: 150px;
}
