.accessDetails {
  text-align: center;
  margin-bottom: 20px;
  h5,
  h6 {
    margin-bottom: 20px;
  }
  table {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
  }
  .keys {
    padding: 5px;
    float: left;
  }
}

.tabsContentWrapper {
  margin-top: 0px !important;
  .preWrap {
    margin-left: 15px !important;
    margin-bottom: 0 !important;
    white-space: pre;
    color: #d9dfe4 !important;
    font-family: monospace;
    text-align: left;
  }
  .tabContentContainer {
    border: 1px solid #383f49;
    padding: 10px 0px;
  }
  .tabContent {
    &::-webkit-scrollbar-thumb {
      background: #00adef;
      border-radius: 10px;
    }
    &::-webkit-scrollbar-track {
      background: #293f55;
    }
    &::-webkit-scrollbar {
      height: 5px;
    }
  }
}
