@import "./Buckets.scss";

.mainPanel {
  .content {
    .formGroup {
      padding: 25px 38px;
      .inputGrp {
        display: inline-flex;
      }
      .inputLabel {
        min-width: 100px;
        margin-right: 30px;
        margin-top: auto;
        margin-bottom: auto;
      }
    }
  }
}

.createBtn {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
