@import "./Buckets.scss";

.mainPanel {
  .content {
    .formGroup {
      padding: 25px 38px;
      .bucketNameInputField {
        input:read-only {
          border: none;
          margin-left: -10px;
        }
      }
      .infoIcon {
        font-size: var(--font-size-icon-medium);
        margin-left: 5px;
        margin-top: -9px;
        position: absolute;
        right: 0;
        i {
          cursor: pointer;
          color: #697582;

          &:hover {
            color: #00adef;
          }
        }
      }
      .dataClassificationField {
        margin-left: -12px;
      }
      .permissionField {
        display: flex;
        margin-left: -10px;
        input[type="checkbox"]::after {
          border: none;
        }
      }
      .pIIField {
        margin-left: -12px;
      }
      .termsOfUseContainer {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        min-height: 56px;
        .termsOfUseContent {
          display: flex;
          margin-left: -10px;
          .termsOfUseText {
            margin-top: auto;
            margin-bottom: auto;
            color: #c0c8d0;
            sup {
              float: right;
              top: -12px;
              right: -8px;
            }
          }
        }
      }
    }
  }
}
.bucketColContent {
  .bucketColContentEmpty {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #383f49;
    margin-top: -9px;
    h6 {
      font-size: var(--font-size-smallest);
      font-weight: initial;
      margin: 0;
    }
  }
  .bucketColContentList {
    font-size: var(--font-size-smallest);
    border: 1px solid #383f49;
    margin-top: 12px;
    padding: 20px 12px 0;
    .bucketColContentListAdd {
      margin: 13px auto;
      width: 90%;
    
      .userExistedError {
        color: #e84d47;
        padding: 4px 0;
      }
    }
    .bucketColUsersList {
      margin-top: 12px;
      width: 90%;
      margin: 0 auto;
      margin-top: 12px;
      margin-bottom: 15px;

      .collUserTitle {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding-bottom: 15px;
        border-bottom: 1px solid #383f49;
        .collUserTitleCol {
          &:first-child {
            max-width: 150px;
          }
          flex: 1;
          font-size: var(--font-size-smallest);
          padding-right: 12px;
          color: #99a5b3;
        }
      }
      .collUserContent {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: flex-start;
        overflow: auto;
        height: 80px;
        width: 100%;
        .collUserContentRow {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          .collUserTitleCol {
            &:first-child {
              max-width: 150px;
            }
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex: 1;
            font-size: var(--font-size-smallest);
            padding-right: 15px;
            word-break: break-word;
            color: #99a5b3;
            label {
              cursor: pointer;
            }
            span {
              color: #99a5b3;
            }

            .deleteEntry {
              cursor: pointer;
            }
            .writeAccess {
              cursor: pointer;
            }
            input {
              opacity: unset !important;
              position: initial;
              z-index: unset !important;
            }
            .inputGrp {
              margin-top: 8px;
              min-height: auto !important;
              &:first-child {
                margin-left: -10px;
              }
              min-width: 80px;
            }
            i {
              margin: -7px 7px 0 0;
              right: 0;
            }
            div {
              cursor: default;
            }
          }
        }
      }
    }
  }
}
.errorMsg {
  bottom: 0;
  top: 35px;
  position: absolute;
  right: 60px;
}
.checkBoxDisable {
  pointer-events: none;
  opacity: 0.5;
  cursor: default;
}
.createBtn {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
.backBtn {
  position: relative;
  top: 75px;
  margin: 0 0 15px 114px;
}
.flexLayout {
  display: flex;
  justify-content: space-between;
  > div {
    width: calc(50% - 30px);
  }
}
