.newCodeSpacePanel {
    .flexLayout {
      display: flex;
      justify-content: space-between;
      > div {
        width: calc(50% - 7px);
      }
    }
    color: #acb8c4;
    width: 1100px;
    margin: 0 auto;
    h3 {
      color: #acb8c4;
      font-weight: initial;
      margin-top: 25px;
      text-align: center;
    }
    p {
      font-size: var(--font-size-default);
      margin-bottom: 20px;
      text-align: center;
      line-height: 17px;
    }
    p.passwordInfo {
      font-size: var(--font-size-small);
      margin-top: 20px;
    }
    .addicon {
      width: 60px;
      height: 60px;
      border: 1px solid #fff;
      border-radius: 50%;
      position: relative;
      display: flex;
      align-items: center;
      margin: 0 auto;
      &:after {
        content: '';
        position: absolute;
        width: 50%;
        height: 1px;
        background-color: #00ADEF;
        left: 25%;
        transform: rotate(90deg);
      }
      &:before {
        content: '';
        position: absolute;
        width: 50%;
        height: 1px;
        background-color: #00ADEF;
        left: 25%;
        margin: 0 auto;
        transform: rotate(180deg);
        top: 49%;
      }
    }
  
    .editicon {
      align-items: center;
      border: 1px solid #fff;
      border-radius: 50%;
      display: flex;
      height: 60px;
      justify-content: center;
      margin: 0 auto;
      position: relative;
      width: 60px;
      font-size: var(--font-size-icon-big);
      i {
        margin-top: -11px;
        color: #00ADEF;
      }
    }
  
    .addNewItemButton {
      background-color: transparent;
      outline: none;
      margin-bottom: 12px;
      color: #acb8c4;
      border: 0;
      padding: 0;
    
      i {
        vertical-align: top;
        margin-right: 10px;
        color: #00adef;
      }
    }
  
    .codeSpaceDetails {
      margin: 20px 0;
      label {
        font-family: var(--font-family-medium);
      }
      > div {
        margin-bottom: 15px;
      }
    }
  
    .collaboratorSection {
      .collaboratorSectionEmpty {
        width: 100%;
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #383f49;
        margin-top: -9px;
        h6 {
          font-size: var(--font-size-smallest);
          font-weight: initial;
          margin: 0;
        }
      }
      .collaboratorSectionList {
        font-size: var(--font-size-smallest);
        border: 1px solid #383f49;
        margin-top: 12px;
        padding: 20px 12px 0;
        .collaboratorSectionListAdd {
          margin: 13px auto;
          width: 90%;
        
          .userExistedError {
            color: #e84d47;
            padding: 4px 0;
          }
        }
        .collaboratorList {
          margin-top: 12px;
          width: 90%;
          margin: 0 auto;
          margin-top: 12px;
          margin-bottom: 15px;
    
          .collaboratorTitle {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            padding-bottom: 15px;
            border-bottom: 1px solid #383f49;
            .collaboratorTitleCol {
              &:first-child {
                max-width: 80px;
              }
              &:last-child {
                max-width: 100px;
              }
              flex: 1;
              font-size: var(--font-size-smallest);
              padding-right: 12px;
              color: #99a5b3;
            }
          }
          .collaboratorContent {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: flex-start;
            overflow: auto;
            height: 80px;
            width: 100%;
            padding-top: 3px;
            .collaboratorContentRow {
              padding: 10px 0;
              display: flex;
              align-items: center;
              justify-content: space-between;
              width: 100%;
              .collaboratorTitleCol {
                &:first-child {
                  max-width: 80px;
                }
                &:last-child {
                  max-width: 100px;
                  justify-content: right;
                  font-size: var(--font-size-icon);
                  span:hover {
                    color: #00ADEF;
                  }
                }
                display: flex;
                align-items: center;
                justify-content: flex-start;
                flex: 1;
                font-size: var(--font-size-smallest);
                padding-right: 15px;
                word-break: break-word;
                color: #99a5b3;
                label {
                  cursor: pointer;
                }
                span {
                  color: #99a5b3;
                }
    
                .deleteEntry {
                  cursor: pointer;
                }
                .writeAccess {
                  cursor: pointer;
                }
                input {
                  opacity: unset !important;
                  position: initial;
                  z-index: unset !important;
                }
                .inputGrp {
                  margin-top: 8px;
                  min-height: auto !important;
                  &:first-child {
                    margin-left: -10px;
                  }
                  min-width: 80px;
                  .permissionContent {
                    align-self: center;
                    margin-bottom: 0;
                  }
                }
                i {
                  margin: -7px 7px 0 0;
                  right: 0;
                }
                div {
                  cursor: default;
                }
              }
            }
          }
        }
      }
    }
  }
  .newCodeSpaceBtn {
    margin-top: 25px;
    display: flex;
    justify-content: center;
  }

.cardBodySection {
  padding: 17px 10px 20px 20px;

  >div {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    color: #99a5b3;
    flex-direction: column;
    min-width: 220px;

    >div {
      display: flex;
      justify-content: space-between;

      &:not(:last-child) {
        margin-bottom: 10px;
      }

      >div:first-child {
        flex: 0.3;
        font-weight: bold;
        color: #697582;
        font-size: var(--font-size-small);
      }

      >div:last-child {
        flex: 1;
      }
    }

    ul {
      list-style-type: none;
      padding: 0;

      li:not(:last-child) {
        padding-bottom: 10px;
      }
    }
  }
}

.recipeError {
  border: 1px solid #E84D47 !important;

}
.chips{
  margin-right: 10px;
  padding: 6px 10px 6px 10px;
}

.recipeWrapper {
  border: 1px solid #383f49;
  width: 100%;
  height: 290px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;

  .leftPane {
    width: calc(45% - 15px);
    border-right: 2px solid #383f49;

    .recipeHeaderSec {
      height: 60px;
    }

    .recipeSection {
      height: 210px;
      padding-right: 30px;
      padding-top: 10px;
      overflow: auto;
      overflow-x: hidden;
      margin-top: -9px;

      &::-webkit-scrollbar-thumb {
        background: #00adef;
        border-radius: 10px;
      }

      &::-webkit-scrollbar-track {
        background: #293f55;
      }

      &::-webkit-scrollbar {
        width: 5px;
        height: 5px;
      }

      .recipeTiles {
        flex-wrap: wrap;
        display: flex;
        justify-content: left;
        margin-right: -30px;

        .recipeTile {
          display: flex;
          margin: 6.5px 0 6.5px;
          background: #282e39;
          border: 1px solid #383f49;
          width: calc(50% - 15px);
          margin: 0 15px 15px 0;
          cursor: pointer;
          min-height: 50px;
          padding: 4px 10px;

          i {
            margin-top: 10px;
            color: #acb8c4;
            font-size: 21px;
            margin-right: 10px;
          }

          .iconSelected {
            margin-top: 10px;
            color: #00ADEF;
            font-size: 14px;
          }

          .recipeName {
            h5 {
              font-size: 12px !important;
              margin-top: 10px;
              max-width: 150px;
            }
          }

          &:hover {
            border: 1px solid #00adef;
          }
        }

        .recipeTile.selected {
          border: 1px solid #00adef;
        }

      }
    }

  }

  .rightPane {
    width: calc(55% - 15px);
    align-items: center;

    .noRecipeSelected {
      justify-content: center;
    }
    .selectedRecipeWrapper{
      height: 280px;
      overflow-y: auto;
      &::-webkit-scrollbar-thumb {
        background: #00adef;
        border-radius: 10px;
      }
  
      &::-webkit-scrollbar-track {
        background: #293f55;
      }
  
      &::-webkit-scrollbar {
        width: 5px;
        height: 5px;
      }
      .selectedRecipeCard {
        margin: 40px 3px 7px 16px;
        background: #282e39;
        border: 1px solid #383f49;
      }
      .privateRecipeTag{
        border: 1px solid #00adef;
        padding: 3px 7px 3px 9px;
        margin: 16px 23px 5px 10px;
        align-items: center;
        border-radius: 15px;
        width: 60px;
        height: 25px;
        color: #00adef
      }
      .cardHeader{
        display: flex;
        justify-content: space-between;
        height: 55px;;
        
        .cardTitle{
          display: flex;
          i{
            color: #acb8c4;
            font-size: 18px;
            margin: 18px 10px 0 17px;
          }
          p{
            font-size: 15px;
            margin-top: 21px;
          }
        }
      }
      hr{
        height: 1px;
        width: 93%;
        margin: 0 auto; 
      }

    }
   
  }

}

.recipeSearch {
  padding-right: 20px;

  .searchInputField {
    background: none;
    border: none;
    border-bottom: 2px solid #383f49;
    height: 40px;
    color: #c0c8d0;
    outline: none;
    width: 100%;
    visibility: visible;

    &::placeholder {
      color: #697582;
    }

  }

  .searchIcon {
    margin-left: -25px !important;
    margin-top: 11px !important;
    color: #acb8c4;
  }
}

.recipeLable{
  display: flex;
  justify-content: space-between;
  height: 27px;
  lable{
    margin-bottom: 0px !important;
  }
  button{
    margin-right: 20px ;
  }
}
.progressIndicator{
  >div{
    width: 40px;
    border-width: 4px;
    height: 40px;
  }
}