.pageWrapper {
  position: relative;
  margin-bottom: 30px;
  padding: 0px 75px 0px 75px;

  .backButtonWapper {

    //margin-bottom: 15px;
    .pageHeader {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 0px;
      margin-bottom: 10px;

      .tags {
        display: inline-flex;
        justify-content: space-between;
        margin-top: -82px;

        .tag {
          border-style: solid;
          padding: 10px;
          padding-bottom: 2px !important;
          margin-top: 0px;
          margin-left: 5px;
          margin-right: 5px;
          align-items: center;
          color: #c8c9cb;
          border-radius: 17.5px;

          h5 {
            font-size: var(--font-size-default);
          }
        }
      }
    }
  }

  .pageBannerimg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }

  .pageBannerTitle {
    min-width: 260px;
    max-width: 390px;
    margin: 19px 0 50px 0;

    h2 {
      font-size: var(--font-size-icon-tile);
      line-height: 33px;
    }
  }

  .pageDescription {
    min-width: 260px;
    max-width: 650px;
    margin: 0px 0 70px 0;

    p {
      font-size: var(--font-size-icon-highlight);
      color: #c8c9cb;
    }
  }
}

.pageContentWrapper {
  position: relative;
  padding-top: 130px;

  h4 {
    color: #c8c9cb;
  }
}

.navButton {
  text-Align: right;
  margin-Top: 20px;
  margin-Right: 20px
}


.portHeader {
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
  margin-bottom: 25px;

  .useCaseTile {
    background-color: #282b31;
    display: flex;
    justify-content: space-between;
    padding: 24px;
    width: calc(33% - 9.5px);
    margin: 6.5px 0 6.5px;
    min-height: 100%;
    margin-right: 12px;
    border-radius: 10px;

    .useCaseTileVal {
      display: flex;
      align-items: center;

      .serviceIcon {
        font-size: 35px;
        margin-right: 10px;
        min-width: 60px;
        color: #00adef;
      }

      h5 {
        font-size: var(--font-size-icon-content);
        padding-bottom: 0px;
        margin: 0;
        color: #c8c9cb;
      }

      span {
        font-size: var(--font-size-icon-medium);
        display: flex;
        margin-bottom: 5px;
      }
    }
  }

  .infoTile {
    border-style: solid;
    border-color: #282b31;
    padding: 24px;
    width: calc(33% - 9.5px);
    margin: 6.5px 0 6.5px;
    height: 300px;
    margin-right: 12px;
    border-radius: 10px;

    .serviceInfo {
      font-size: 25px;
      margin-bottom: 10px;

      h3 {
        font-size: var(--font-size-icon-medium);
        margin-bottom: 10px;
      }

      h5 {
        font-size: var(--font-size-icon-content);
        min-width: 100px;
        max-width: 300px;
        padding-bottom: 0px;
        margin-bottom: 20px;
        color: #b5b6b8;
      }

      .infoLinks {
        a {
          font-size: var(--font-size-default);
          display: block;
          margin-bottom: 5px;
          color: #00adef;
        }
      }

    }


  }

  .toolPipeLine {
    background-color: #282b31;
    display: flex;
    justify-content: space-between;
    padding: 24px;
    height: 250px;
    width: 98.5%;
    border-radius: 10px;
  }

  .classificationSection {
    background-color: #282b31;
    justify-content: space-between;
    padding: 24px;
    width: calc(33% - 9.5px);
    margin: 7px 0 6.5px;
    height: 300px;
    margin-right: 12px;
    border-radius: 10px;
  }

  .classificationIcon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: #a5a5a8;
    padding: 30px;
    padding-top: 55px !important;

    h4 {
      margin-top: 20px;
      font-size: var(--font-size-icon-medium);
    }
  }

  h3 {
    font-size: var(--font-size-icon-medium);
  }


  .accessSection {
    border-style: solid;
    border-color: #282b31;
    display: grid;
    grid-template-columns: 1.25fr 2.75fr;
    justify-content: space-between;
    padding: 50px;
    padding-left: 24px !important;
    width: calc(66% - 9.5px);
    margin: 6.5px 0 6.5px;
    height: 300px;
    border-radius: 10px;

    .serviceInfo {
      margin: 5px 0px 0px 35px;

      .serviceIcon {
        font-size: 40px;
        margin-right: 10px;
        margin-bottom: 10px;
        min-width: 60px;
        color: #c8c9cb;
      }

      h4 {
        font-size: var(--font-size-icon-medium);
        margin-bottom: 10px;
        margin-top: 30px
      }

      h5 {
        font-size: var(--font-size-icon-content);
        min-width: 100px;
        max-width: 200px;
        padding-bottom: 0px;
        margin: 0;
        color: #b5b6b8;
      }
    }

    .AccessSteps {
      //margin-left: 10px;
      .AccessStep {
        .expansionListWrapper {
          .expansionnPanelContent {
            padding-top: 40px;

            label {
              font-size: var(--font-size-small);
              font-family: 'Roboto-Medium';
              font-weight: bold;
              color: #99a5b3;
            }

            .factorInfo {
              margin-bottom: 40px;
            }
          }
        }
      }
    }

  }

}