.deployApprovalModal {
  margin-bottom: 15px;
  flex: 1 auto;
  position: relative;
  .threeColumnFlexLayout{
    display: flex;
    justify-content: space-between;
    > div {
      width: calc(33.3% - 7px);
    }
    padding-top: 20px;
  }
  .fourColumnFlexLayout{
    display: flex;
    justify-content: space-between;
    > div {
      width: calc(25% - 7px);
    }
    padding-top: 20px;
  }
  .flexLayout {
    display: flex;
    justify-content: space-between;
    > div {
      width: calc(50% - 7px);
    }
    padding-top: 20px;
  }

  .allcodeSpaceListviewContent {
    background-color: #252a33;
    padding-top: 15px;

    .codeSpaceMargininone {
      position: relative;
      margin-top: 20px;
    }
  }
  .approveBtnWrapper {
    display: flex;
    justify-content: center; 
    margin-top: 20px; 
    padding-right: 20px; 
  }
  .label {
    color: #ACB8C4;
    font-size: 11px; 
    font-family: 'Roboto-Medium'; 
    font-weight: 500; 
    margin: 0px 0px 15px; 
  }
}
.newCredentialsModalContent {
  .flexLayout {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    
    > div:first-child {
      width: calc(50% - 7px); 
      padding-top: 6px;
    }
  
    > div:nth-child(2) {
      width: calc(50% - 7px); 
    }
  }

  .approveBtnWrapper {
    display: flex;
    justify-content: flex-end; 
    margin-top: 20px; 
  }
    
   .label {
    color: #ACB8C4;
    font-size: 11px; 
    font-family: 'Roboto-Medium'; 
    font-weight: 500; 
    margin: 0px 0px 15px; 
  }
  .clientIdWrapper .label sup {
    font-size: 10px; 
  }
}

