.dataProductCard {
  background: #252a33;
  width: calc(33% - 15px);
  margin: 0 15px 15px 0;
  min-width: 250px;
  position: relative;

  .cardHead {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    align-items: center;
    position: relative;
    overflow: hidden;
    height: 75px;

    .cardHeadInfo {
      width: 100%;
      padding: 15px 20px;
      cursor: pointer;
      margin-top: 35px;

      > div {
        display: flex;
        justify-content: space-between;
      }
      .cardHeadTitle {
        font-size: var(--font-size-headline);
        line-height: 23px;
        position: relative;
        word-break: break-word;
        padding-right: 10px;
        padding-bottom: 5px;
      }
      a {
        text-decoration: none;
      }
    }

    &:hover .cardHeadTitle {
      color: #00adef;
    }
  }
  hr {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .cardBodySection {
    padding: 15px 20px 20px 20px;
    > div {
      display: flex;
      justify-content: space-between;
      flex-grow: 1;
      color: #99a5b3;
      flex-direction: column;
      > div {
        display: flex;
        justify-content: space-between;
        &:not(:last-child) {
          margin-bottom: 10px;
        }
        > div:first-child {
          flex: 2;
        }
        > div:last-child {
          flex: 1;
        }
      }
      ul {
        list-style-type: none;
        padding: 0;
        li:not(:last-child) {
          padding-bottom: 10px;
        }
      }
    }
    .stagesInfo {
      flex-direction: row;
      div {
        flex-direction: column;
        margin-bottom: 0 !important;
        .draft {
          color: #00adef;
        }
      }
      .icon {
        font-size: 20px;
        transform: scale(2, -1) translate(0px, 10px);
        color: #00adef;
      }
      .customIcon {
        div {
          position: relative;
          font-size: 30px;
          transform: scale(1.3);
          &::after {
            content: "\21C0";
            position: absolute;
            transform: rotate(180deg) translate(27px, -2px);
            color: #697582;
          }
          &::before {
            content: "\21C0";
            color: #00adef;
          }
        }
      }
      .disabled {
        color: #697582;
      }
    }
  }
  .draftIndicator {
    padding: 2px 8px;
    border: 1px solid #697582;
    color: #697582;
    font-size: var(--font-size-icon-small);
    letter-spacing: 1px;
    border-radius: 2px;
    margin-left: 20px;
  }
}
.cardFooter {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
  div:first-child {
    margin: 7px 0px;
  }
  .shareIcon {
    span::after {
      content: "\027A6";
      color: #697582;
      font-size: 22px;
    }
    &.disabled {
      background: transparent !important;
      cursor: not-allowed;
      span::after {
        color: #383f49;
      }
    }
  }
}
.btnGrp {
  display: flex;
  justify-content: flex-end;
  button {
    background-color: transparent;
    border: 0;
    color: #99a5b3;
    float: right;
    margin-right: 20px;
    outline: 0;
    padding: 0;
    &:hover {
      background-color: transparent;
    }
  }
}
