.mainPanel {
    padding: 72px 184px 30px 114px;

    .wrapper {
        width: 100%;
        .caption {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 0px;
            margin-bottom: 10px;
            h3 {
                color: #dee3e8;
            }
        }
    }
    .listHeader {
        align-items: flex-start;
        display: flex;
        justify-content: space-between;
        margin: 0px;
        position: relative;
        background-color: #0a0b0e;

        i {
            font-size: var(--font-size-icon-content);
        }
        button {
            background: none;
            border: none;
            color: #c0c8d0;
            height: auto;
            margin: 0px;
            outline: none;
            padding: 0 2px;
            i {
                margin-top: 2px;
            }
            a {
                color: #c0c8d0;
            }
        }
    }
}
.allDataproductContent {
    margin-bottom: 15px;
    flex: 1 auto;
    position: relative;

    .allDataproductCardviewContent {
        flex-wrap: wrap;
        display: flex;
        justify-content: left;
        margin-right: -30px;
    }
}
