.userContexMenu {
  position: absolute;
  .innerContainer {
    position: absolute;
    top: 44px;
    left: -60px;
    width: 180px;
    background-color: #383f49;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);
    font-size: var(--font-size-small);
    padding: 5px 0;
    margin: 0;
    text-align: left;
    .userName {
      display: flex;
    flex-direction: column;
    border-bottom: 1px solid #707275;
    padding-bottom: 10px !important;
    word-break: break-word;
    cursor: default;
      label {
        color: #9fa2a7;
        font-size: var(--font-size-smallest);
        margin: 0;
      }
    }
    > li {
      list-style-type: none;
      cursor: pointer;
      color: #c0c8d0;
      letter-spacing: 0.93px;
      margin: 15px 0px;
      padding: 0 25px;

      &:hover {
        text-decoration: none;
        color: #00adef;
      }

      a {
        color: #c0c8d0;
        &:hover {
          text-decoration: none;
          color: #00adef;
        }
      }
    }
  }

  .upArrow {
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #383f49;
    left: 6px;
    top: 35px;
    z-index: 15;
  }
}
