.form {  
  width: 950px;
  margin: 0 auto 20px;
  .formHeader {
    margin-bottom: 20px;
    text-align: center;
    p {
      font-size: 12px !important;
      margin: 0;
      color: #acb8c4 !important;
      text-align: center !important;
    }
  }
  .formFooter {
    display: flex;
    justify-content: flex-end;
  }
}
.flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  > .col {
    width: 100%;
  }
  > .col2 {
    width: calc(50% - 7px);
  }
  > .col3 {
    width: calc(33.33% - 7px);
  }
}
.termsOfUseContent {
  display: flex;
  align-items: center;
  margin-left: -10px;
  .termsOfUseText {
    color: #c0c8d0;
    span {
      color: #00adef;
      cursor: pointer;
    }
    sup {
      float: right;
      top: -12px;
      right: -8px;
    }
  }
}
.colHeader {
  color: #99a5b3;
  font-size: var(--font-size-smallest);
  font-family: var(--font-family-medium);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #383f49;
  padding-bottom: 10px;
  width: 100%;
  
  div {
    flex: 1;
  }
}
.userRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: #99a5b3;
  font-size: var(--font-size-smallest);
  padding: 5px 0;
  word-break: break-word;

  p {
    margin-bottom: 0;
  }
}
.lincenseContainer {
  display: flex;
}
.licenseRadio {
  margin-right: 20px;
}
.licenseRadio label {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.column1 {
  width: 10%;
  max-width: 10%;
  min-width: 10%;
  word-break: break-all;
}
.column2 {
  width: 20%;
  max-width: 20%;
  min-width: 20%;
  word-break: break-all;
}
.column3 {
  width: 65%;
  max-width: 65%;
  min-width: 65%;
  word-break: break-all;
}
.column4 {
  width: 5%;
  max-width: 5%;
  min-width: 5%;
  word-break: break-all;
}
.deleteEntry {
  float: right;
  cursor: pointer;
}
.termsOfUseContent {
  padding-top: 20px;
}
.noLincense {
  text-align: center;
  padding: 20px;
}