.mainNavigation {
  width: 0 !important;
}

/* Uilab - DDS - Navigation override SCSS */
:global {
  .nav-header .app-info {
    margin-top: 1px;
  }
  .navigation {
    background-image: none!important;
    position: fixed;
    overflow: hidden;
    z-index: 900;
    left: 0;
    top: 65px !important;
    padding-top: 105px;
    background-color: #1b2026!important;
    &:hover,
    &.expandEffect {
      background-color: #1b2026;
      transition: background-color 300ms cubic-bezier(0.2, 0.2, 0.38, 0.9) 0s;
    }

    &.maximized {
      transition: width 85ms cubic-bezier(0.2, 0.2, 0.38, 0.9) 0s;
      width: 292px !important;
      background-color: #1b2026!important;
      height: calc(100vh - 5rem);
      overflow-y: auto;
      top: 5rem!important;

      &::-webkit-scrollbar {
        display: block;
        width: 5px;
        height: 5px;
      }
      &::-webkit-scrollbar-track {
          background: #293f55;
      }
      &::-webkit-scrollbar-thumb {
          background: #00adef;
          border-radius: 10px;
      }

      .nav-list .nav-item.has-sub-nav {
        &.opened {
          max-height: initial !important;
          transition: height 0.25s;
          height: auto !important;

          > .sub-nav-list {
            opacity: 1;
          }
        }

        > .nav-link::before,
        > .nav-link::after {
          opacity: 1;
          transition: all 85ms cubic-bezier(0.2, 0.2, 0.38, 0.9) 85ms !important;
        }
      }
    }

    .nav-list {
      height: auto!important;
      margin: 0;
      overflow: hidden;
      .nav-item {
        border-top: none !important;
        margin-bottom: 10px;
        border-left-width: 4px !important;

        &.has-sub-nav {
          border-left: 4px solid transparent !important;
          transition: none;

          &.active {
            border-left: none !important;

            > .nav-link i {
              color: #00adef;
            }
            // > .nav-link {
            //   border-left: 4px solid #00adef !important;
            // }
          }

          > .nav-link::before,
          > .nav-link::after {
            top: 21px !important;
          }

          &.opened {
            max-height: 43px;
            transition: max-height 85ms cubic-bezier(0.2, 0.2, 0.38, 0.9) 0s !important;

            > .sub-nav-list {
              opacity: 0;
            }

            > .nav-link {
              height: 43px !important;
              overflow: hidden;
              transition: none !important;
            }
          }
        }

        .nav-link {
          line-height: 43px !important;
          border: none !important;
          padding-left: 52px !important;
          height: 43px !important;

          i {
            margin-right: 15px;
            font-size: var(--font-size-icon-nav);
            vertical-align: top;
            margin-left: -37px;
            background: none;
          }

          &:before,
          &:after {
            opacity: 0;
            transition: top, left 1ms cubic-bezier(0.2, 0.2, 0.38, 0.9) 0s !important;
          }
        }

        .sub-nav-list {
          background-color: transparent !important;
          margin-left: 35px;

          .nav-item {
            margin-bottom: 0;
            border-left-color: transparent;
            height: 43px;

            &.active .nav-link {
              color: #00adef;
            }

            .nav-link {
              line-height: 43px;
              padding-left: 17px!important;
            }
          }
        }

        &:last-child {
          border-bottom: 0 !important;
        }
      }
    }
    .nav-list {
      .nav-item:not(.sub-nav-item) {
        height: 43px !important;
        border-left: 6px solid transparent!important;
      }
    }
  }
}
.disableLink {
  color: #777d84!important;
}
.disableSubLink {
  color: #777d84!important;
  pointer-events: none;
}
// .dnaNavItem {
//   display: flex;
//   padding-left: 17px!important;
// }
.navLink {
  position: relative;
  .navIcon {
    position: absolute;
  }
  span {
    padding-left: 37px;
  }
}
.navActive {
  color: #00adef;
}