.mainPanel {
  padding: 72px 75px 30px 75px;

  .wrapper {
    width: 100%;
  }
}
.statusContainer {
  .statusItem {
    height: 40px;
    display: flex;
    .requestStatus {
      margin-bottom: 0;
      color: #FFEB3B;
    }
    button {
      background: unset;
      border: unset;
      color: #99a5b3;
      outline: 0;
      padding: 0;

      > div + span {
        padding-left: 26px;
      }

      span {
        display: inline-block;
      }
    }
  }
}
.createNewCard {
  border: 1px solid #383F49 !important;
  cursor: pointer !important;
  height: 70px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: calc(25% - 11.3px);

  .addlabel {
    font-size: var(--font-size-medium);
    line-height: 23px;
    word-break: break-word;
    width: 100%;
    text-align: center;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    > div {
      width: 25px;
      height: 18px;
      margin-top: -2px;
    }
  }

  i {
    color: #00adef;
    margin-top: -8px;
    margin-left: 5px;
  }
  
  &:hover {
    border: 1px solid #00adef !important;
  }
}
.label {
  color: #99a5b3;
  font-size: var(--font-size-small);
  font-weight: 700;
  margin-bottom: 8px;
}

a > label {
  cursor: pointer;
}
a:hover {
  text-decoration: none;
}
.content {
  background: #252a33;
  margin: 15px 0;
  padding: 25px 0;
  position: relative;

  h3,
  .swagger,
  span.description {
    padding: 0 38px;
  }

  .contextMenu {
    float: right;
    margin: 5px 20px 0 0;
    &.open .contextMenuTrigger {
      z-index: 10;
      position: relative;
    }

    .contextMenuTrigger {
      padding: 12px 10px;
      cursor: pointer;

      &:hover {
        color: #00adef;
      }
    }
  }
}

.firstPanel {
  background: #252a33;
  margin-bottom: 15px;

  .apiId {
    min-width: 380px;
    display: inline-block;
    margin-bottom: 15px;
  }

  .refreshedAppId {
    min-width: 342px;
    display: inline-block;
  }

  .flex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 40px;
    margin: 40px;

    .col2 {
      width: calc(50% - 7px);
    }
    .col3 {
      width: calc(33% - 7px);
    }
  }
}
.hide {
  display: none;
}
.projectWrapper {
  padding: 10px 0;
}
.flexLayout {
  display: flex;
  justify-content: space-between;
  > div {
      width: calc(50% - 30px);
  }
}
.deleteForecastResult {
  margin: 35px 0;
  text-align: center;
}
.closeIcon {
  border: 2px solid #d8d8d8;
  width: 54px;
  height: 54px;
  line-height: 50px;
  border-radius: 100%;
  margin: 0 auto 24px;

  i {
    color: #e94d47;
    font-size: 18px;
    margin: 0;
  }
}
.statusBtns {
  display: flex;
  column-gap: 15px;
}
.refreshBtn {
  background: unset;
  border: 0;
  padding: 0;
  float: right;
  margin-top: -40px;

  &:hover {
    background: unset;
  }
}

.draftIndicator {
  padding: 2px 8px;
  border: 1px solid #697582;
  color: #697582;
  font-size: var(--font-size-icon-small);
  letter-spacing: 1px;
  border-radius: 2px;
  margin-left: 8px;
  margin: 0px;
}
