.contextMenu {
  &.locations {
    display: inline-block;
  }

  &.open .contextMenuTrigger {
    z-index: 10;
  }

  .contextMenuTrigger {
    padding: 12px 10px;
    cursor: pointer;
    position: relative;

    &:hover {
      color: #00adef;
    }
  }
}

.draftIndicatorCol {
  min-width: 60px;

  .draftIndicator {
    padding: 2px 8px;
    border: 1px solid #697582;
    color: #697582;
    font-size: var(--font-size-icon-small);
    letter-spacing: 1px;
    border-radius: 2px;
    margin-left: -10px;
  }
}

.active {
  color: #00adef !important;
}
.closed {
  color: #e84d47 !important;
}

.locationDataWrapper {
  width: 200px;
  overflow: hidden;

  .locations {
    width: 200px;

    ul {
      max-height: 56px;
      overflow-y: auto;
      padding: 0 25px;
      margin: 18px 0;
    }

    p {
      white-space: normal;
      margin: 0;
    }
  }
}

.productSummaryLink {
  color: #00adef !important;
  cursor: pointer;
}
