.mainPanel {
  padding: 72px 184px 30px 114px;
  min-height: 65vh;
  .wrapper {
    width: 100%;
    .caption {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 0px;
      margin-bottom: 10px;
      h3 {
        color: #dee3e8;
      }
    }
  }

  .content {
    padding: 0 0 0px 0px;
    .Workspaces {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 50px;
      .WorkspacesNavigation {
        cursor: pointer;
        height: 209px;
        width: 33.33%;
        background-color: #252a33;
        margin-left: 15px;
        cursor: pointer;
        .WorkspacesNavigationVisual {
          height: 75%;
          display: flex;
          align-items: center;
          justify-content: center;
          background-image: url("../../../assets/images/quick-links-bg.png");
          background-size: cover;
          background-repeat: no-repeat;
          background-position: right;
          i {
            opacity: 0.2;
          }
        }
        .WorkspacesNavigationTitle {
          display: flex;
          align-items: center;
          justify-content: space-between;
          font-size: var(--font-size-sub-headline);
          height: 25%;
          padding: 10px 12px;
          i {
            font-size: var(--font-size-icon);
            transition: 0.5s;
            -webkit-transition: 0.5s;
            -moz-transition: 0.5s;
            -o-transition: 0.5s;
            -ms-transition: 0.2s;
          }
          label {
            opacity: 0.5;
          }
        }
        &:first-child {
          margin-left: 0;
        }
        &:hover {
          color: #00adef;
          i {
            padding-left: 7px;
            transition: 0.5s;
            -webkit-transition: 0.5s;
            -moz-transition: 0.5s;
            -o-transition: 0.5s;
            -ms-transition: 0.2s;
          }
        }
      }
      .EmptyCard {
        width: 33.33%;
        margin-left: 15px;
        background-color: unset;
      }
    }
  }
}
.infoPopup {
  width: 500px;
}
