.newCodeSpacePanel {
  .flexLayout {
    display: flex;
    justify-content: space-between;
    > div {
      width: calc(50% - 7px);
    }
  }
  color: #acb8c4;
  width: 650px;
  margin: 0 auto;
  h3 {
    color: #acb8c4;
    font-weight: initial;
    margin-top: 25px;
    text-align: center;
  }
  p {
    font-size: var(--font-size-default);
    margin-bottom: 20px;
    text-align: center;
    line-height: 17px;
  }
  p.passwordInfo {
    font-size: var(--font-size-small);
    margin-top: 20px;
  }
  .addicon {
    width: 60px;
    height: 60px;
    border: 1px solid #fff;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 auto;
    &:after {
      content: '';
      position: absolute;
      width: 50%;
      height: 1px;
      background-color: #00ADEF;
      left: 25%;
      transform: rotate(90deg);
    }
    &:before {
      content: '';
      position: absolute;
      width: 50%;
      height: 1px;
      background-color: #00ADEF;
      left: 25%;
      margin: 0 auto;
      transform: rotate(180deg);
      top: 49%;
    }
  }
}
.newCodeSpaceBtn {
  margin-top: 25px;
  display: flex;
  justify-content: center;
}