.newCodeSpacePanel {
  .flexLayout {
    display: flex;
    justify-content: space-between;
    > div {
      width: calc(50% - 7px);
    }
  }
  color: #acb8c4;
  width: 650px;
  margin: 0 auto;
  h3 {
    color: #acb8c4;
    font-weight: initial;
    margin-top: 25px;
    text-align: center;
  }
  p {
    font-size: var(--font-size-default);
    margin-bottom: 20px;
    text-align: center;
    line-height: 17px;
  }
  p.passwordInfo {
    font-size: var(--font-size-small);
    margin-top: 20px;
  }
  .addicon {
    width: 60px;
    height: 60px;
    border: 1px solid #fff;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 auto;
    &:after {
      content: '';
      position: absolute;
      width: 50%;
      height: 1px;
      background-color: #00ADEF;
      left: 25%;
      transform: rotate(90deg);
    }
    &:before {
      content: '';
      position: absolute;
      width: 50%;
      height: 1px;
      background-color: #00ADEF;
      left: 25%;
      margin: 0 auto;
      transform: rotate(180deg);
      top: 49%;
    }
  }

  .codeSpaceDetails {
    margin: 20px 0;
    label {
      font-family: var(--font-family-medium);
    }
    > div {
      margin-bottom: 15px;
    }
  }

  .collaboratorSection {
    .collaboratorSectionEmpty {
      width: 100%;
      height: 150px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #383f49;
      margin-top: -9px;
      h6 {
        font-size: var(--font-size-smallest);
        font-weight: initial;
        margin: 0;
      }
    }
    .collaboratorSectionList {
      font-size: var(--font-size-smallest);
      border: 1px solid #383f49;
      margin-top: 12px;
      padding: 20px 12px 0;
      .collaboratorSectionListAdd {
        margin: 13px auto;
        width: 90%;
      
        .userExistedError {
          color: #e84d47;
          padding: 4px 0;
        }
      }
      .collaboratorList {
        margin-top: 12px;
        width: 90%;
        margin: 0 auto;
        margin-top: 12px;
        margin-bottom: 15px;
  
        .collaboratorTitle {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          padding-bottom: 15px;
          border-bottom: 1px solid #383f49;
          .collaboratorTitleCol {
            &:first-child {
              max-width: 80px;
            }
            &:last-child {
              max-width: 100px;
            }
            flex: 1;
            font-size: var(--font-size-smallest);
            padding-right: 12px;
            color: #99a5b3;
          }
        }
        .collaboratorContent {
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: flex-start;
          overflow: auto;
          height: 80px;
          width: 100%;
          .collaboratorContentRow {
            padding: 10px 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            .collaboratorTitleCol {
              &:first-child {
                max-width: 80px;
              }
              &:last-child {
                max-width: 100px;
              }
              display: flex;
              align-items: center;
              justify-content: flex-start;
              flex: 1;
              font-size: var(--font-size-smallest);
              padding-right: 15px;
              word-break: break-word;
              color: #99a5b3;
              label {
                cursor: pointer;
              }
              span {
                color: #99a5b3;
              }
  
              .deleteEntry {
                cursor: pointer;
              }
              .writeAccess {
                cursor: pointer;
              }
              input {
                opacity: unset !important;
                position: initial;
                z-index: unset !important;
              }
              .inputGrp {
                margin-top: 8px;
                min-height: auto !important;
                &:first-child {
                  margin-left: -10px;
                }
                min-width: 80px;
              }
              i {
                margin: -7px 7px 0 0;
                right: 0;
              }
              div {
                cursor: default;
              }
            }
          }
        }
      }
    }
  }
}
.newCodeSpaceBtn {
  margin-top: 25px;
  display: flex;
  justify-content: center;
}