.allCodeSpace {
    margin-bottom: 15px;
    flex: 1 auto;
    position: relative;

    .flexLayout {
      display: flex;
      justify-content: space-between;
      > div {
        width: calc(50% - 7px);
      }
      padding-top: 20px;
    }
  
    .allcodeSpaceListviewContent {
      background-color: #252a33;
      padding-top: 15px;
      // overflow-x:auto
  
      .codeSpaceMargininone {
        // border: 1px solid;
        // border-collapse: collapse;
        // border-color:#383f49;
        position: relative;
        margin-top: 20px;
      }
    }
  }