.mainPanel {
  padding: 0px 0 30px 40px;
  display: flex;

  .wrapper {
    background: #252a33;
    flex: 1 auto;
    min-height: 75vh;
    .searchPanel {
      display: flex;
      flex: 0 0 100%;
      > div {
        margin-right: 25px;
      }
      .customContainer {
        width: 220px;
      }
    }
    .tablePanel {
      margin-left: -40px;
    }
    h3 {
      padding: 0 38px;
    }
  }
  .gridRow {
    height: 100px;
    border-bottom: 1px solid #383f49;
  }
  .rightPanel {
    display: flex;
    position: fixed;
    right: 0;
    height: calc(100vh - var(--header-size) - 30px);

    .panelWrapper {
      flex: 1 auto;
      width: 0;
      overflow: hidden;
      transition: all 85ms cubic-bezier(0.2, 0.2, 0.38, 0.9) 0s;
      margin-left: 124px;
      opacity: 0;

      &.open {
        width: 230px;
        margin-left: 0;
        opacity: 1;
        overflow: visible;
      }

      .panelContent {
        padding: 10px 20px 20px 30px;
        border-right: 1px solid #383f49;
        height: 100%;

        h4 {
          font-size: var(--font-size-medium);
          color: #c0c8d0;
        }
      }
    }
  }
}

.linksWrapper {
  padding: 30px 15px 0;
  flex: 1;
  text-align: right;
  button span:hover {
    text-decoration: underline;
  }
}

.flexLayout {
  display: flex;
  justify-content: space-between;
  > div {
    width: calc(50% - 7px);
  }
}

.modalContent {
  margin-top: 30px;
  padding-top: 30px;
  font-size: var(--font-size-sub-headline);
  .contentWrapper {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

.userIsEmpty {
  display: flex;
  flex-direction: column;
  height: 440px;
  justify-content: center;
  position: relative;
  background-color: #252a33;
  text-align: center;
  width: calc(100% - 40px);
  .linkStyle {
    color: #00adef;
    &:hover {
      cursor: pointer;
    }
  }
}

.spinner {
  min-height: 50vh;
  > div {
    position: absolute;
    top: 50%;
  }
}

:global {
  .ul-table.users {
    position: relative;
    margin-top: 10px;

    th.actionColumn {
      text-align: right;
      padding-right: 38px;
    }

    .data-row td {
      width: 20%;
      &:first-child {
        padding-left: 38px;
        width: 40%;
      }

      &:last-child {
        padding-right: 38px;
      }

      padding: 25px 0 25px 10px;
      font-size: var(--font-size-default);
      max-width: 20%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      &.wrap-text {
        white-space: normal;
      }
    }
  }
}
