.firstPanel {
  background: #252a33;
  margin-bottom: 15px;

  .formWrapper {
    margin: 35px 35px 0;
  }
}

.addMilestonesModal {
  min-width: 856px;
}

.wrapper {
  background: #252a33 !important;
  margin-top: 60px !important;
  padding: 25px 38px;
}

.monthAndYearContainer {
  margin: 4px 15px 10px 0px;
}

.headingText {
  font-size: var(--font-size-smallest);
}

.columnDisplay {
  padding-top: 10px;

  &.labelCol {
    display: flex;
    align-items: center;
    padding: 0;
  }

  &.rolloutLabelCol {
    label {
      margin-top: 40px;
    }
  }

  &.currentPhaseColumn {
    display: flex;
    align-items: center;
    max-width: 50px;
    padding: 0 0 10px;
  }

  &.rolloutCurPhaseCol {
    max-height: 92px;
    align-items: flex-end;
  }
}

.flexLayout {
  display: flex;
  justify-content: space-between;
  > div {
    width: calc(50% - 7px);

    &.currentPhaseColumn {
      max-width: 50px;
    }

    &.midColumn {
      display: flex;
      justify-content: space-between;
      > div {
        width: calc(50% - 7px);
      }
    }
  }
}

.rolloutLocationSelect {
  margin-right: 14px;
}

.rolloutLocationLabel {
  margin: 0;
  label {
    margin-bottom: 3px !important;
  }
}

.editMilestonesBtn,
.addMilestonesWrapper button,
.addCommentWrapper button {
  padding: 0;
  margin: 0 0 0 30px;
  background: none;
  border: none;
  outline: none;
  color: #c0c8d0;
  vertical-align: middle;
  font-size: var(--font-size-default);

  i {
    vertical-align: top;
    margin-right: 10px;
    color: #00adef;
  }

  &:hover span {
    text-decoration: underline;
  }
}

.editMilestonesBtn {
  float: right;
  margin-top: 10px;
}

.addMilestonesWrapper,
.addCommentWrapper {
  padding: 80px 0px 0px 0px;
}

.milestonesWrapper {
  color: #c0c8d0;
  margin-bottom: 60px;

  &.active {
    margin-top: 90px;
  }

  > div {
    flex: 1 auto;
    display: flex;
    flex-flow: column;

    &:first-child {
      .divider {
        .dot.left {
          display: block;
        }

        .line {
          width: calc(100% - 22px);
          left: 11px;
        }
      }
    }

    &:last-child {
      .info i {
        margin-left: 25px;
      }
    }

    &.active {
      .divider .dot,
      .divider .line {
        background-color: #00adef;
      }
    }

    .addMilestonesWrapper {
      text-align: center;
      min-height: 150px;
      padding: 50px 0 0;
      display: flex;
      justify-content: center;

      button {
        margin: 0;
      }
    }

    .info {
      text-align: center;
      min-height: 150px;
      i {
        width: 50px;
        height: 50px;
        margin-left: 5px;

        &.proffIcon {
          margin-left: 22px;
        }
      }

      .phase {
        font-weight: bold;
        line-height: 16px;
        margin: 20px 8px 0 0;
      }

      .monthYear {
        margin-right: 8px;
      }
    }

    .divider {
      position: relative;
      .dot {
        position: absolute;
        display: block;
        width: 8px;
        height: 8px;
        background-color: #697582;
        border-radius: 50%;
        &.left {
          left: 0;
          display: none;
        }

        &.right {
          right: 0;
        }
      }

      .line {
        position: absolute;
        display: block;
        width: calc(100% - 14px);
        height: 2px;
        left: 3px;
        top: 3px;
        background-color: #697582;
      }
    }

    .comment {
      .addCommentWrapper {
        padding-top: 60px;
        text-align: center;
        &.edit {
          text-align: left;
        }
        button {
          margin: 0 8px 0 0;
        }
      }

      p {
        margin: 5px 15px 60px 0;
      }
    }
  }
}

.actionWrapper {
  text-align: center;
  margin: 30px 0;
}

.commentWapper {
  margin-top: 60px;
  max-width: 490px;

  .commentTextarea {
    height: 164px;
  }

  .actionWrapper {
    text-align: right;
  }
}
