
.kpiWrapper {
  .kpiWrapperNoList {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
    height: 150px;
    position: relative;
    border: 1px solid #383f49;
    width: 100%;
  }
}
.firstPanel {
  background: #252a33;
  margin-bottom: 15px;
  .textDesc {
    color: #697582;
  }
  .rowLine {
    display: inline-block;
  }
  .formWrapper {
    margin: 50px 108px 0 70px;
    min-height: 200px;
    .commentHeading {
      border-bottom: 1px solid #383f49;
      padding-bottom: 13px;
      margin-bottom: 0;
      color:#99a5b3;
      font-size: 14px;
    }
    .productOwnerList {
      margin-left: -103px;
    }
  }

  .tagsWrapper {
    margin-top: 0;
  }
}

.wrapper {
  background: #252a33 !important;
  margin-top: 60px !important;
  padding: 25px 0 32px 32px;
}

.addKpiWrapper {
  button {
    padding: 0;
    margin: 0;
    background: none;
    border: none;
    outline: none;
    color: #c0c8d0;
    vertical-align: middle;
    i {
      vertical-align: top;
      margin-right: 10px;
      color: #00adef;
    }
    span {
      color:#99a5b3
    }
    &:hover span {
      text-decoration: underline;
    }
  }
  i {
    width: auto;
    height: auto;
    margin-right: 19px;  
  }
  .teamsErrorMessage {
    margin: 3px 0 0 85px;
    font-size: var(--font-size-small);
  }
}
.flexLayout {
  display: flex;
  justify-content: space-between;
  > div {
    width: calc(50% - 7px);
  }
}

.contextMenu{
  position: relative;
  

  .contextMenuTrigger {
    padding: 12px 28px;
    cursor: pointer;

    &:hover {
      color: #00adef;
    }
  }
}
.open .contextMenuTrigger {
  z-index: 10!important;
  position: relative;
}

.contextMenuTrigger {
  z-index: 1!important;
  position: relative;
}

.kpiList {
  table {
    tr {
      td {
        &:last-child {
          text-align: right;
          // padding-right: 38px;
        }
      }
    }
    tr th i {
      cursor: pointer;
      font-size: var(--font-size-icon-highlight);
    }
    tbody tr td {
      font-size: var(--font-size-default) !important;
    }
  }
  // tr {
  //   td {
  //     color: #acb8c4 !important;
  //   }
  //   i {
  //     &:hover {
  //       color: #fff;
  //     }
  //   }
  // }
  button {
    i {
      font-size: var(--font-size-icon);
      &:hover {
        color: #00adef;
      }
    }
  }
}



.commentPre{
  white-space: pre-wrap;
  font-family: "Roboto-Medium";  
}

.disabledDiv {
  pointer-events: none;
  opacity: 0.4;
}
