.listContainer {
    display: flex;
    flex-direction: column;
    background-color: #252a33;
    padding: 15px;
    margin: 15px 0;
    cursor: pointer;

    .titleSection {
        display: flex;
        justify-content: flex-end;
        margin-left: 40px;
        margin-bottom: 10px;
        color: #c0c8d0;
        li {
            &.disabled {
                background: transparent !important;
                cursor: not-allowed;
                color: #697582;
                span:hover {
                    cursor: not-allowed;
                    color: #697582;
                }
            }
        }
    }
    .tags {
        color: #697582;
        align-self: center;
        flex-wrap: wrap;
        display: inline-flex;
        margin-left: auto;
        .tagItem {
            border: 1px solid #697582;
            margin: 5px;
            font-size: var(--font-size-smallest);
            border-radius: 20px;
            padding: 10px 20px;
            font-weight: bold;
        }
    }
    &:hover {
        width: 100%;
        background-color: #00adef;
        opacity: 0.9;
        .titleSection,
        .dataProductContent,
        .heading {
            color: #ffffff;
        }
        .imgContainer {
            bottom: 0px;
            img {
                opacity: 0.5;
            }
        }

        .tagItem {
            background: #697582;
            opacity: 0.5;
            border-color: #ffffff !important;
            color: #ffffff;
            font-weight: bold;
        }
    }
}

.dataProductContent {
    display: flex;
    color: #c0c8d0;
    .imgContainer {
        position: relative;
        margin: 0 30px;
        bottom: 10px;
        img {
            height: 100px;
        }
    }

    .heading {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        margin-right: 20px;
        color: #c0c8d0;
        font-weight: 700;
        font-size: var(--font-size-headline);
        margin-bottom: 10px;
    }
}

.contextMenu {
    align-self: center;
    z-index: 1;
    &.locations {
        display: inline-block;
    }

    &.open .contextMenuTrigger {
        z-index: 10;
    }

    .contextMenuTrigger {
        padding: 12px 10px;
        cursor: pointer;

        &:hover {
            color: #ffffff;
        }
    }
}
.contextOpened {
    .contextMenuTrigger {
        position: relative;
    }
}

.flexItem {
    width: calc(100% / 2);
}
