.mainPanel {
    padding: 32px 184px 30px 114px;
  
    .wrapper {
      width: 100%;
      position: relative;
      .caption {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0px;
        margin-bottom: 10px;
      }
      h2 {
        font-size: 24px;
        color: #dee3e8;
        margin-top: 12px;
        margin-bottom: 22px;
        color: #dee3e8;
      }
    }
  
    .content {
      background-color: #252a33;
      padding: 0 0 0px 0px;
      margin-top: 26px; 
      .comingSoonPg {
        align-items: center;
        border: 1px solid #383f49;
        display: flex;
        flex-direction: column;
        height: 300px;
        justify-content: center;
        position: relative;
        width: 100%;
      }
    }
  }
