.sandboxpanel {
  color: #acb8c4;
  width: 100%;
  margin: 0 auto;
  h3 {
    color: #acb8c4;
    font-weight: initial;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
  }
  p {
    font-size: var(--font-size-default);
    margin-bottom: 20px;
    text-align: center;
    line-height: 17px;
  }
  .addicon {
    width: 60px;
    height: 60px;
    border: 1px solid #fff;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 auto;
    &:after {
      content: '';
      position: absolute;
      width: 50%;
      height: 1px;
      background-color: #00ADEF;
      left: 25%;
      transform: rotate(90deg);
    }
    &:before {
      content: '';
      position: absolute;
      width: 50%;
      height: 1px;
      background-color: #00ADEF;
      left: 25%;
      margin: 0 auto;
      transform: rotate(180deg);
      top: 49%;
    }
  }
}
.scrollContent {
  color: #00adef;
}

