.mainPanel {
    padding: 50px 75px 0px 75px;
  }
  
  .btnConatiner {
    min-height: 40px;
    margin-top: 20px;
    text-align: right;
  }
  
  .title {
    justify-content: center;
    font-size: var(--font-size-section-headline);
    text-align: center;
    margin-bottom: 40px;
    min-height: 30px;
  }
  
  .mandatoryInfo {
    color: #697582;
    padding-left: 112px;
  }
  
  :global {
    .flexLayout {
      display: flex;
      justify-content: space-between;
  
      >div {
        width: calc(50% - 7px);
      }
    }
  
    #create-security-tabs .scrollable.tabs-wrapper {
      height: 44px;
    }
  
    #create-security-tabs .scrollable.tabs-wrapper nav,
    #create-security-tabs .tabs {
      height: 44px;
    }
  
    #create-security-tabs .tab {
      min-width: max-content;
  
      >a {
        position: relative;
        padding: 10px 50px 12px 40px;
  
        &::before {
          font-family: 'dna-icons';
          content: '\e949';
          position: absolute;
          right: 20px;
          font-size: var(--font-size-icon-highlight);
        }
  
        sup {
          font-size: 15px;
          font-style: bold;
          vertical-align: sub;
        }
      }
  
      &.valid a::before {
        color: #00adef;
      }
    }
  
    .btnConatiner {
      min-height: 40px;
      margin-top: 20px;
      text-align: right;
    }
  
    .info-message {
      margin-bottom: 20px;
  
      &.small {
        color: #99a5b3;
        font-size: var(--font-size-smallest);
        margin-bottom: 5px;
      }
    }
  
    .addButtonWrapper {
      .buttonIcon {
        width: 55px;
        height: 55px;
      }
  
      button {
        padding: 0;
        margin: 0 0 0 30px;
        background: none;
        border: none;
        outline: none;
        color: #c0c8d0;
        vertical-align: middle;
  
        i {
          vertical-align: top;
          margin-right: 10px;
          color: #00adef;
        }
  
        &:hover span {
          text-decoration: underline;
        }
      }
    }
  
    .rc-upload {
      outline: none;
    }
  }
  
  .publishedConfig {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    background-color: transparent;
  }
  
  .editOrViewMode {
    background-color: transparent;
    border: none;
    padding-right: 0;
  
    &:hover {
      background-color: transparent;
    }
  }