.airflowSubscriptionList {
    table {
      tr {
        th {
          &:first-child {
            min-width: 230px;
          }
  
          &:nth-child(2) {
            min-width: 206px;
          }
  
          &:last-child {
            text-align: right;
            padding-right: 38px;
          }
        }
      }
  
      tr {
        td {
          &:last-child {
            text-align: right;
            padding-right: 38px;
          }
        }
      }
  
      tr th i {
        cursor: pointer;
        font-size: var(--font-size-icon-highlight);
      }
  
      tbody tr td {
        font-size: var(--font-size-default) !important;
      }
    }
  
    tr {
      td {
        color: #acb8c4 !important;
      }
  
      i {
        &:hover {
          color: #fff;
        }
      }
    }
  
    button {
      i {
        font-size: var(--font-size-icon);
  
        &:hover {
          color: #00adef;
        }
      }
    }
  }
  
  .submitButtton{
    margin-top: 10px;
  }
  
  .airflowSubscriptionListFullScreenmode {
    position: fixed;
    background-color: #252a33;
    z-index: 999;
    top: 0;
    left: 0;
    height: 100%;
  }
  
  .entGrp {
    .dagGrpTitle {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  
    .entGrpList {
      .dagGrpListEmpty {
        width: 100%;
        height: 250px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #697582;
        margin-top: 10px;
      }
  
      .entGrpListItem {
        display: flex;
        flex-direction: column;
        justify-content: center;
  
        .entCaption {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          padding: 10px 0px 10px 0px;
          color: #99a5b3;
          font-weight: bold;
  
          .entTile {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            font-family: "Roboto-Medium";
  
            div {
              &:last-child {
                display: flex;
                align-items: center;
                justify-content: flex-end;
              }
  
              button {
                color: #acb8c4;
                margin: 0 4px;
  
                &:hover {
                  color: #00adef;
                }
              }
            }
  
            .dagTitleCol {
              flex: 1;
              font-size: var(--font-size-smallest);
              font-weight: initial;
  
              label {
                margin: 0;
                cursor: pointer;
                font-weight: normal;
  
                i {
                  font-size: 9px;
                }
              }
  
              &:nth-child(2) {
                min-width: 250px;
                word-break: break-all;
              }
  
              i {
                right: 0;
              }
  
              .noPermission {
                color: #e84d47;
                padding: 7px 0;
                display: flex;
                align-items: center;
  
                .noPermissionInfo {
                  color: #99a5b3;
                  font-size: var(--font-size-smallest);
                  margin-top: -5px;
                  cursor: default;
                  margin-left: 2px;
                }
              }
            }
          }
        }
  
        .dagGrpListItemPanel {
          width: 100%;
          border-bottom: 0;
  
          .dagGrpListItemexpansionPanel {
            border-top: 0px solid #697582;
          }
  
          .dagContentCaption {
            padding: 14px 0px 13px 0;
          }
  
          .entTile {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            // justify-content: space-between;
            width: 100%;
            color: #99a5b3;
  
            div {
              &:last-child {
                display: flex;
                align-items: center;
                justify-content: flex-end;
              }
  
              button {
                color: #acb8c4;
                margin: 0 4px;
  
                &:hover {
                  color: #00adef;
                }
              }
            }
  
            .dagTitleCol {
              flex: 1;
              font-size: var(--font-size-default);
              color: #99a5b3;
  
              i {
                font-size: var(--font-size-icon-small);
                right: 0;
              }
  
              &:nth-child(2) {
                min-width: 250px;
                // word-break: break-all;
              }
  
              .actionBtn {
                transition: 0.2s;
                background-color: transparent !important;
                border: 0;
                padding: 0;
                margin-top: 8px;
                margin-right: 0px !important;
                font-size: var(--font-size-smallest);
  
                i {
                  font-size: var(--font-size-icon-small);
                }
  
                &:hover {
                  color: #00adef;
                }
              }
            }
          }
  
          .entTileContentCollabarationPanel {
            padding-right: 0;
  
            .dagCollTile {
              width: 100%;
              justify-content: space-between !important;
              height: 10px;
              margin-top: 20px;
  
              .actionBtn {
                padding: 0;
                margin: 0 10px;
                font-size: var(--font-size-smallest);
              }
  
              h6 {
                font-size: var(--font-size-smallest);
                font-weight: initial;
                margin: 0;
              }
  
              .actionBtnGrp {
                button {
                  &:hover {
                    background-color: transparent;
                    color: #00adef;
                  }
                }
              }
            }
          }
  
          .dagCollContent {
            .dagCollContentEmpoty {
              width: 100%;
              height: 150px;
              display: flex;
              align-items: center;
              justify-content: center;
              border: 1px solid #383f49;
              margin-top: 10px;
  
              h6 {
                font-size: var(--font-size-smallest);
                font-weight: initial;
                margin: 0;
              }
            }
  
            .dagCollContentList {
              font-size: var(--font-size-smallest);
              border: 1px solid #383f49;
              margin-top: 12px;
              padding: 0 12px;
              border-bottom: 0;
  
              .entTile {
                width: 100%;
                padding: 10px 10px;
                border-bottom: 1px solid #383f49;
              }
  
              .dagCollContentListAdd {
                margin: 30px auto;
                width: 65%;
  
                input {
                  opacity: unset !important;
                  position: absolute !important;
                  z-index: unset !important;
                  width: 98%;
                  margin-top: 2px;
                }
              }
  
              .dagCollUsersList {
                margin-top: 12px;
                width: 65%;
                margin: 0 auto;
                margin-top: 12px;
                margin-bottom: 15px;
  
                .collUserTitle {
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  width: 100%;
                  padding-bottom: 15px;
                  border-bottom: 1px solid #383f49;
  
                  .collUserTitleCol {
                    flex: 1;
                    font-size: var(--font-size-smallest);
                  }
                }
  
                .collUserContent {
                  display: flex;
                  align-items: center;
                  flex-direction: column;
                  justify-content: flex-start;
                  width: 100%;
  
                  .collUserContentRow {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
  
                    .collUserTitleCol {
                      display: flex;
                      align-items: center;
                      justify-content: flex-start;
                      flex: 1;
                      font-size: var(--font-size-smallest);
  
                      input {
                        opacity: unset !important;
                        position: initial;
                        z-index: unset !important;
                      }
  
                      .inputGrp {
                        margin-top: 8px;
  
                        &:first-child {
                          margin-left: -10px;
                        }
  
                        min-height: unset;
                      }
  
                      i {
                        margin: -7px 7px 0 0;
                      }
  
                      span {
                        cursor: pointer;
                      }
                    }
                  }
                }
              }
            }
  
            .projectList {
              padding: 5px 30px;
              border: 1px solid #383f49;
              margin: 8px 24px 15px 15px;
              background-color: #2d333b;
  
              .projectDagList {
                .dagTitleCol {
                  word-break: break-all;
  
                  &:first-child {
                    min-width: 50%;
                  }
                }
              }
  
              .entTileCption {
                border-bottom: 1px solid #383f49;
                padding: 9px 0;
                margin-bottom: 3px;
  
                .dagTitleCol {
                  word-break: break-all;
  
                  &:first-child {
                    min-width: 50%;
                  }
                }
              }
  
              .noPermission {
                color: #e84d47;
                padding: 7px 0;
                display: flex;
                align-items: center;
  
                .noPermissionInfo {
                  color: #99a5b3;
                  font-size: var(--font-size-smallest);
                  margin-top: -5px;
                  cursor: default;
                  margin-left: 2px;
                }
              }
            }
  
            .prjListAction {
              display: flex;
              justify-content: flex-end;
  
              .actionBtnGrp {
                margin: 4px;
  
                button {
                  font-size: var(--font-size-smallest);
  
                  &:hover {
                    background-color: transparent;
                    color: #fff;
  
                    span {
                      text-decoration: underline;
                      color: #00adef;
                    }
  
                    i {
                      color: #00adef;
                    }
                  }
                }
              }
            }
          }
  
          &:last-child {
            border-bottom: 1px solid #383f49;
          }
        }
      }
    }
  }
  
  .actionBtnGrp {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  
    button {
      background-color: transparent;
      border: 0;
      font-size: var(--font-size-smallest);
      padding: 0;
      color: #acb8c4;
      margin: 0;
  
      &:hover {
        background-color: transparent;
        color: #fff;
  
        i {
          color: #00adef;
        }
      }
  
      &:hover {
        span {
          text-decoration: underline;
        }
      }
    }
  
    .airflowLink {
      transition: 0.2s;
      cursor: pointer;
  
      i {
        transition: 0.2s;
        -webkit-transition: 0.2s;
        -moz-transition: 0.2s;
        -o-transition: 0.2s;
        -ms-transition: 0.2s;
      }
  
      &:hover {
        text-decoration: none;
        transition: 0.5s;
        transition: 0.2s;
  
        i {
          font-size: var(--font-size-icon-content) !important;
          text-decoration: none;
          transition: 0.2s;
          -webkit-transition: 0.2s;
          -moz-transition: 0.2s;
          -o-transition: 0.2s;
          -ms-transition: 0.2s;
        }
      }
    }
  
    .tryAgain {
      color: #00adef;
      cursor: pointer;
  
      &:hover {
        text-decoration: underline;
      }
  
      i {
        font-size: var(--font-size-icon-content) !important;
        margin-top: -5px;
      }
    }
  }
  
  .airflowNewTab {
    margin-top: -14px !important;
    padding: 5px 7px;
    cursor: pointer;
    color: #00adef;
  }
  
  .dagCollUsersListParent {
    .dagCollUsersList {
      margin: 30px auto;
      width: 100%;
  
      .collUserTitle {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding-bottom: 15px;
        border-bottom: 1px solid #383f49;
  
        .collUserTitleCol {
          flex: 1;
          font-size: var(--font-size-smallest);
          padding-right: 12px;
          color: #99a5b3;
          min-width: 33.3%;
        }
      }
  
      .collUserContent {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
  
        .collUserContentRow {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
  
          .collUserTitleCol {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex: 1;
            font-size: var(--font-size-smallest);
            padding-right: 15px;
            word-break: break-word;
            color: #99a5b3;
  
            label {
              cursor: pointer;
            }
  
            span {
              color: #99a5b3;
            }
  
            .checkBoxDisable {
              pointer-events: none;
              opacity: 0.5;
              cursor: default;
            }
  
            .deleteEntry {
              cursor: pointer;
            }
  
            .writeAccess {
              cursor: pointer;
            }
  
            input {
              opacity: unset !important;
              position: initial;
              z-index: unset !important;
            }
  
            .inputGrp {
              margin-top: 8px;
  
              &:first-child {
                margin-left: -10px;
              }
  
              min-height: unset;
            }
  
            i {
              margin: -7px 7px 0 0;
              right: 0;
            }
  
            div {
              cursor: default;
            }
          }
        }
      }
    }
  
    .addBtn {
      display: flex;
      justify-content: flex-end;
    }
  
    button {
      i {
        font-size: var(--font-size-icon);
      }
    }
  }
  
  .expansionLabel {
    .entTile {
      .dagTitleCol {
        &:nth-child(2) {
          padding-left: 19px;
        }
  
        &:nth-child(3) {
          padding-left: 19px;
        }
      }
    }
  }
  
  .notAllowed {
    cursor: not-allowed;
  }
  
  .statusIndicator {
    padding: 2px 8px;
    border: 1px solid #0AE6AB;
    color: #0AE6AB;
    font-size: var(--font-size-icon-small);
    letter-spacing: 1px;
    border-radius: 2px;
    margin-left: 20px;
  
    &.colloboration {
      border: 1px solid #35ADAC;
      color: #35ADAC;
      position: absolute;
      right: 10px;
    }
  }
  
  .centeredText {
    text-align: center;
  }