.mainPanel {
  // padding: 72px 0 30px 114px;
  display: flex;
  width: 100%;

  // &.hasRightPanel {
  //   margin-right: 184px;
  //   transition: margin-right 85ms cubic-bezier(0.2, 0.2, 0.38, 0.9) 0s;

  //   &.righPanelOpened {
  //     margin-right: 290px;
  //   }
  // }
  .wrapper {
    width: 100%;
    // padding-right: 15px;
    .caption {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 0;
      margin-bottom: 10px;
      .allSolExport {
        // display: flex;
        // align-items: center;
        position: relative;
        // margin-right: 15px;
        .contextMenu {
          float: right;
          margin: 0 20px 0 0;
          color: #c0c8d0;

          &.open .contextMenuTrigger {
            z-index: 10;
            position: relative;
          }

          .contextMenuTrigger {
            padding: 12px 28px;
            cursor: pointer;

            &:hover {
              color: #00adef;
            }
          }
        }
        span {
          cursor: pointer;
        }
      }
      .reportsViewMode {
        height: 29px;
        display: flex;
        align-items: center;
        .iconactive {
          opacity: 0.5;
          cursor: default;
        }
        .dividerLine {
          height: 25px;
          display: inline-block;
          background-color: #252a33;
          height: 25px;
          margin: 0 10px 0 5px;
          padding: 0;
          width: 1px;
        }
        img {
          width: 27px;
          cursor: pointer;
        }
      }
      h3 {
        margin: 0;
        color: #dee3e8;
        font-size: var(--font-size-section-headline);
        padding: 0;
      }
      .activeFilters {
        color: #00adef;
      }
    }
    .reportTransparency {
      color: #99a5b3;
      margin-bottom: 20px;
      background-color: #252a33;
      padding: 25px 0;
      h5 {
        color: #99a5b3
      }
      .reportTransparencyDescription {
        color: #99a5b3;
        margin: 10px 0;
        display: inline-block;
        max-width: 500px;
      }
    }
    .allReportContent {
      margin-bottom: 15px;
      flex: 1 auto;
      position: relative;

      .allReportCardViewContent {
        flex-wrap: wrap;
        display: flex;
        justify-content: left;
        margin-right: -15px;
      }
      .allReportListViewContent {
        background-color: #252a33;
        padding-top: 6px;
        .reportsMarginNone {
          position: relative;
          margin-top: 20px;
        }
      }

      .modalContentWrapper {
        margin-top: -20px;
        font-size: var(--font-size-sub-headline);
        .modalTitle {
          margin-top: 0px;
          text-align: center;
        }
        .modalContent {
          margin-top: 20px;
          font-size: var(--font-size-medium);
        }
      }
    }
    .reportIsEmpty{
      display: flex;
      flex-direction: column;
      height: 440px;
      justify-content: center;
      position: relative;
      background-color: #252a33;
      text-align: center;
      .linkStyle{
        color: #00adef;
        &:hover{
          cursor: pointer;
        }
      }
    }
  }

  .rightPanel {
    display: flex;
    position: fixed;
    right: 0;
    height: calc(100vh - var(--header-size) - 30px);

    .panelWrapper {
      flex: 1 auto;
      width: 0;
      overflow: hidden;
      transition: all 85ms cubic-bezier(0.2, 0.2, 0.38, 0.9) 0s;
      margin-left: 124px;
      opacity: 0;

      &.open {
        width: 230px;
        margin-left: 0;
        opacity: 1;
        overflow: visible;
      }
    }

    .triggerWrapper {
      width: 60px;
      .iconTrigger {
        padding: 10px 10px 10px 18px;
        cursor: pointer;
        display: block;
        border-right: 4px solid transparent;
        height: 42px;
        margin-bottom: 20px;

        &:hover i {
          color: #00adef;
        }

        &.active {
          border-right: 4px solid #00adef;
        }

        i {
          font-size: var(--font-size-icon-nav);
        }
      }
    }
  }
}

.Workspaces {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.cardViewContainer {
  width: calc(25% - 15px);
  margin: 0 15px 15px 0;
  min-width: 250px;
  position: relative;
  border: 1px solid #383f49;
  cursor: pointer;
  max-height: 300px;

  .addicon {
      top: calc(40% - 31px);
      width: 63px;
      height: 63px;
      border: 1px solid #fff;
      border-radius: 50%;
      position: relative;
      display: flex;
      align-items: center;
      margin: 0 auto;
      &:after {
          content: "";
          position: absolute;
          width: 50%;
          height: 1px;
          background-color: #00adef;
          left: 25%;
          transform: rotate(90deg);
      }
      &:before {
          content: "";
          position: absolute;
          width: 50%;
          height: 1px;
          background-color: #00adef;
          left: 25%;
          margin: 0 auto;
          transform: rotate(180deg);
          top: 49%;
      }
  }
  .addlabel {
      font-size: var(--font-size-headline);
      line-height: 23px;
      position: absolute;
      word-break: break-word;
      display: block;
      width: 100%;
      text-align: center;
      bottom: 50px;
  }
  &:hover .addlabel {
      color: #00adef;
  }
}

.listViewContainer {
  border-bottom: 1px solid #697582;
  cursor: pointer;
  display: table-cell;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  .addicon {
      width: 40px;
      height: 40px;
      margin: 0px;
      border: 1px solid #fff;
      border-radius: 50%;
      position: relative;
      display: inline-flex;
      align-items: center;
      &:after {
          content: "";
          position: absolute;
          width: 50%;
          height: 1px;
          background-color: #00adef;
          left: 25%;
          transform: rotate(90deg);
      }
      &:before {
          content: "";
          position: absolute;
          width: 50%;
          height: 1px;
          background-color: #00adef;
          left: 25%;
          margin: 0 auto;
          transform: rotate(180deg);
          top: 49%;
      }
  }
  .addlabel {
    cursor: pointer;
    font-size: var(--font-size-headline);
    line-height: 23px;
    margin: auto 20px;
  }
  &:hover .addlabel {
      color: #00adef;
  }
}

:global {
  .ul-table.reports {
    position: relative;
    margin-top: 30px;

    th.actionColumn {
      width: 60px;
    }

    .data-row td {
      &:first-child {
        padding-left: 38px;
        width: 30%;
        padding: 15px 0 15px 10px;
      }

      padding: 15px 0 15px 10px;
      font-size: var(--font-size-default);
      max-width: 21%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      &.wrap-text {
        white-space: normal;
      }
    }
  }
}

.backBtn {
  position: relative;
  top: 75px;
  margin: 0 0 15px 75px;
}


