tr {
  .malwareUsage {
    font-size: var(--font-size-smallest);
    margin: 5px 0;
    width: auto;
    color: #697582;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: absolute;
    bottom: 0;
  }
  .actionMenus {
    width: 40px!important;
  }
  .contextMenu {
    position: relative;
    &.open .contextMenuTrigger {
      z-index: 10;
      position: relative;
    }
    .contextMenuTrigger {
      padding: 12px 10px;
      cursor: pointer;
      margin-right: -14px;
      &:hover {
        color: #00adef;
      }
    }
  }

  h6 {
    font-weight: bold;
    font-size: var(--font-size-sub-headline);
    margin-bottom: 2px;
  }
  p {
    margin: 0;
  }
  .showMenu {
    z-index: 9;
  }
  td {
    div {
      display: flex;
    }
    word-break: break-all;
  }
  .apiKeyHiddenData {
    font-size: 12.3px;
  }
}

.appId {
  min-width: 380px;
  font-size: var(--font-size-small);
  line-height: 14px;
  position: relative;
  .appIdParentDiv {
    display: flex;
    align-items: center;
    width: max-content;
    .refreshedKey {
      min-width: 240px;
      font-size: var(--font-size-small);
    }
    i {
      font-size: var(--font-size-icon);
      cursor: pointer;
    }
    div {
      display: flex;
      .copyAppIdDisable {
        opacity: 0.4;
        cursor: default;
        pointer-events: none;
      }
      .showAppId {
        cursor: pointer;
        margin-left: 0;
        color: #00adef;
        font-size: var(--font-size-small);
        &:hover {
          color: #00adef;
        }
      }
    }
    
    i {
      cursor: pointer;
    }
    .refreshedKeyIcon {
      width: 40px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      .visiblityshow {
        font-size: var(--font-size-tiny);
        margin-right: 7px;
        margin-top: -2px;
      }
    }
  }
}

.createdByCol {
  width: 13%!important;
}
.expireOn, .lastUsed, .usageCount {
  flex: 1;
}
.usageCount {
  white-space: nowrap;
}
.expireOn {
  min-width: 170px;
}
.lastUsed {
  min-width: 145px;
}
.metaLabel {
  font-family: Roboto-Medium;
  font-weight: 400;
  white-space: pre;
}
.expireOnValue{
  text-align: left;
}
.lastUsedOnValue{
  text-align: left;
}
.cpyStyle{
  color: #00adef;
}

@media (max-width: 1200px) {
  .appId {
    .appIdParentDiv {
      width: auto!important;
    }
  }    
}