@font-face {
  font-family: "Roboto-Regular";
  src: url(../../assets/modules/uilab/bundle/css/fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: "Roboto-Medium";
  src: url(../../assets/modules/uilab/bundle/css/fonts/Roboto-Medium.ttf);
}

@font-face {
  font-family: "Roboto-Bold";
  src: url(../../assets/modules/uilab/bundle/css/fonts/Roboto-Bold.ttf);
}
