.form {  
  width: 650px;
  margin: 0 auto 20px;
  height: 60vh;
  max-height: 60vh;
  
  h3 {
    font-size: 16px;
  }
  .formHeader {
    margin-bottom: 20px;
    text-align: center;
    h3 {
     font-size: var(--font-size-headline-medium);
    }
    p {
      font-size: 12px !important;
      margin: 0;
      color: #acb8c4 !important;
      text-align: center !important;
    }
  }
  .formFooter {
    display: flex;
    justify-content: flex-end;

    button {
      margin-left: 10px;
    }
  }
}

.flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  > .col {
    width: 100%;
  }
  > .col2 {
    width: calc(50% - 7px);
  }
  > .col3 {
    width: calc(33.33% - 7px);
  }
}

// h3 {
//   font-size: var(--font-size-medium);
// }

.stepsContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
  .step {
    position: relative;
    width: 25%;
    max-width: 25%;
    opacity: 0.5;
    &::after {
      content: "";
      width: 50%;
      height: 1px;
      background-color: #3a3f43;
      display: block;
      position: absolute;
      top: 30%;
      right: -25%;
    }
    &:last-child::after {
      display: none;
    }
    .stepIcon {
      border: 1px solid #3a3f43;
      border-radius: 100%;
      padding: 10px;
      width: 40px;
      height: 40px;
      margin: 0 auto 5px;

      > i {
        margin-right: 0;
        margin-left: 2px;
      }
    }
    .stepLabel {
      color: #99a5b3;
      text-align: center;
      font-size: var(--font-size-smallest);
    }
  }
  .complete {
    opacity: 1;
  }
}

.searchContainer {
  h3 {
    margin-bottom: 20px;
  }
}

.searchBox {
  .searchBtn {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #252a33;
    border-left: 0;
    border-color: #697582;
    padding: 0 10px;
  }
  > input:focus + button {
    border-color: #00adef;
  }
}

.noWorkspaces {
  background-color: #383f49;
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;

  i {
    margin-top: -7px;
    margin-right: 7px;
  }
}

.workspaceItemContainer {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  border-bottom: 1px solid #3a3f43;
  column-gap: 15px;

  &:hover {
    background-color: #1f232b;
  }
  &:last-child {
    border-bottom: 0;
  }
  .workspaceIcon {
    font-size: 20px;
    color: #99a5b3;
  }
  .workspaceContent {
    flex: 1;
    h3 {
      font-size: 14px;
      margin-bottom: 5px;
      line-height: 1.2rem;
    }
    .workspaceMetadata {
      p {
        margin-bottom: 0;
        font-size: var(--font-size-small);
        color: #acb8c4;
      }
    }
  }
  .workspaceAction {
    align-self: flex-end;
    button {
      font-size: var(--font-size-small);
      padding: 10px 20px;
    }
  }
}

.workspaceSummaryContent {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  column-gap: 15px;
  margin-bottom: 25px;
  border-bottom: 1px solid #3a3f43;

  .workspaceIcon {
    font-size: 20px;
    color: #99a5b3;
  }
  .workspaceContent {
    flex: 1;
    h3 {
      font-size: 14px;
      margin-bottom: 5px;
      line-height: 1.2rem;
    }
    .workspaceMetadata {
      p {
        margin-bottom: 0;
        font-size: var(--font-size-small);
        color: #acb8c4;
      }
    }
  }
}
.reasonContainer {
  color: #acb8c4;
  margin-bottom: 20px;
}
.subTitle {
  margin-bottom: 20px;
}
.selectedRolesContainer {
  margin-bottom: 25px;
  border-bottom: 1px solid #3a3f43;
}