.content {
  // background-color: #252a33;
  // padding: 25px 0;
  // position: relative;
  .forecastResultListWrapper {
    .forecastResultList {
      position: relative;
      border-bottom: 0px solid #383f49;
      background-color: #252a33;
      padding: 10px 0;
      thead {
        th {
          padding-left: 15px;

          // &:first-child {
          //   padding-left: 38px;
          // }

          .thCheckbox {
            margin-left: -10px;
          }
        }
      }
      td {
        font-size: var(--font-size-default);
        padding-left: 15px;
        word-break: break-all;
        line-height: 16px;
        &:first-child {
          padding-left: 20px;
        }
      }
    }
    tr {
      position: relative;
    }
    tbody {
      tr {
        position: relative;
        height: 100px;
        &:hover {
          background-color: #20242b;
          cursor: pointer;
        }
      }
    }

    text-align: right;
    .listContent {
      .forecastResultListEmpty {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        justify-content: center;
        height: 400px;
        position: relative;
        border: 1px solid #383f49;
        margin: 0px 38px;
        i {
          font-size: 80px;
        }
      }
    }
  }
}

.flexLayout {
  display: flex;
  justify-content: space-between;
  margin: 40px;
  margin-top: 0px; /*this will be removed once search and filter is enabled*/
  margin-bottom: 10px; /*this will be removed once search and filter is enabled*/
  > div {
    width: calc(50% - 7px);
  }
  &.fourColumn {
    > div {
      width: calc(25% - 7px);
    }
  }
  &.threeColumn {
    > div {
      width: calc(33% - 7px);
    }
  }
}

.removeBlock {
  color: #c0c8d0;
  display: block;
  text-align: right;
  margin-right: 34px;
  &:hover {
    cursor: pointer;
    i {
      color: #00adef;
    }
  }
}

.deleteForecastResult {
  margin: 35px 0;
  text-align: center;
}

.closeIcon {
  border: 2px solid #d8d8d8;
  width: 54px;
  height: 54px;
  line-height: 50px;
  border-radius: 100%;
  margin: 0 auto 24px;

  i {
    color: #e94d47;
    font-size: 18px;
    margin: 0;
  }
} 

.deleteBtn {
  margin-top: 40px;

  button {
    background-color: #383f49 !important;
  }
}
.refreshContainer {
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  i {
    color: #00adef;
    margin-right: 10px;
  }

  .delBtn {
    background: unset;
    border: 0;
    padding: 5px;

    i {
      color: #c0c8d0;
      margin-right: 0;
    }
  }
}
.errorDiv {
  display: flex;
  align-items: center;
  
  .alertCircle {
    color: #ffff4c;
    font-size: 16px;
  }
  .closeCircle {
    color: #e94d47;
    font-size: 17px;
  }
  span {
    color: #99A5B3;
    margin-top: 7px;
    padding-left: 5px;
  }
}
.checkboxCol {
  width: 78px;
}
.mHeader {
  text-align: center;

  .circleOutline {
    border: 1px solid #c0c8d0;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin: 0 auto 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    i {
      font-size: 16px;
      color: #c0c8d0;
      margin: 0;
      line-height: 18px;
    }
  }

  h2 {
    font-size: 18px;
  }
}
.infoBox {
  display: flex;
  background-color: #20242b;
  padding: 10px;
  margin-top: 30px;

  .cap {
    padding-left: 10px;

    p:last-child {
      margin-bottom: 0;
    }
  }
}
.inputBox, .fileUploadBox {
  background-color: #20242b;
  padding: 10px;
  margin-top: 10px;
}
.inputBox {
  > div {
    max-width: 250px;
    margin: 0 auto;
  }
}
.fileUploadBox {
  margin-bottom: 20px;
  p {
    text-align: center;
  }
  .uploadContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    border: 2px dotted #697582;
    height: 90px;
    label {
      margin-bottom: 0;
      color: #00adef;
      cursor: pointer;
    }
    .rcUpload {
        height: 100%;
    }
    .dragDrop {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
        min-width: 300px;
        text-align: center;
    }
  }
}
.cenBtn {
  display: flex;
  button {
    margin: 0 auto;
  }
}
.selectedFile {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  border: 1px solid #697582;
  padding: 15px;
  color: #99a5b3;
  > div span:first-child {
      display: flex;
      flex-direction: column;
      margin-bottom: 3px;
      min-width: 140px;
  }
  .msgContainer {
      display: flex;
      align-items: center;
      flex: 2;
      font-size: var(--font-size-medium);
      margin-top: auto;
      margin-bottom: auto;
      margin-right: 46px;
      > i {
          margin-top: -10px;
          margin-right: 14px;
      }
  }
  .checkCircle {
      color: #12e7ab;
      margin-right: 8px;
  }
}
.hide {
  position: fixed;
  left: -10000px;
}
.disableBtn {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}
