.firstPanel {
  background: #252a33;
  margin-bottom: 15px;
  .textDesc {
    color: #697582;
  }
  .rowLine {
    display: inline-block;
  }
  .formWrapper {
    margin: 50px 0 0 70px;
    min-height: 200px;
    .commentHeading {
      border-bottom: 1px solid #383f49;
      padding-bottom: 13px;
      margin-bottom: 0;
      color:#99a5b3;
      font-size: 14px;
    }
    .productOwnerList {
      margin-left: -103px;
    }
    .listOfCustomerTable {
      margin-right: 108px
    }
  }

  .tagsWrapper {
    margin-top: 0;
  }
}

.wrapper {
  background: #252a33 !important;
  margin-top: 60px !important;
  padding: 25px 0 32px 32px;
}

.addCustomerModelContent {
  margin-right: 20px;
}

.addTeamMemberWrapper {
  min-height: 70px;
  margin-top: 25px;
  button {
    padding: 0;
    margin: 0;
    background: none;
    border: none;
    outline: none;
    color: #c0c8d0;
    vertical-align: middle;
    i {
      vertical-align: top;
      margin-right: 10px;
      color: #00adef;
    }
    span {
      color:#99a5b3
    }
    &:hover span {
      text-decoration: underline;
    }
  }
  i {
    width: auto;
    height: auto;
    margin-right: 19px;  
  }
  .teamsErrorMessage {
    margin: 3px 0 0 85px;
    font-size: var(--font-size-small);
  }
}
.flexLayout {
  display: flex;
  justify-content: space-between;
  > div {
    width: calc(50% - 7px);
  }
}

.listOfCustomerTable {
  table {
    tr {
      th {
        &:first-child {
          min-width: 230px;
        }
        &:nth-child(2) {
          min-width: 206px;
        }
        &:nth-child(3) {
          min-width: 206px;
        }
        &:last-child {
          text-align: right;
          padding-right: 38px;
        }
      }
    }
    tr {
      td {
        &:last-child {
          text-align: right;
          padding-right: 38px;
        }
      }
    }
    tr th i {
      cursor: pointer;
      font-size: var(--font-size-icon-highlight);
    }
    tbody tr td {
      font-size: var(--font-size-default) !important;
    }
  }
  tr {
    td {
      color: #acb8c4 !important;
    }
    i {
      &:hover {
        color: #fff;
      }
    }
  }
  button {
    i {
      font-size: var(--font-size-icon);
      &:hover {
        color: #00adef;
      }
    }
  }
}

.customerGrp {
  min-width: 400px;
  .customerGrpTitle {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .customerGrpList {
    .customerGrpListEmpty {
      width: 100%;
      height: 250px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #697582;
      margin-top: 10px;
    }
    .customerGrpListItem {
      display: flex;
      flex-direction: column;
      justify-content: center;
      .customerCaption {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 10px 0px 10px 0px;
        color: #99a5b3;
        font-weight: bold;
        .customerTile {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          font-family: "Roboto-Medium";
          div {
            &:last-child {
              display: flex;
              align-items: center;
              justify-content: flex-end;
            }
            button {
              color: #acb8c4;
              margin: 0 4px;
              &:hover {
                color: #00adef;
              }
            }
          }
          .customerTitleCol {
            flex: 1;
            font-weight: initial;
            font-size: 12px;
            label {
              margin: 0;
              cursor: pointer;
              font-weight: normal;
              i {
                font-size: 9px;
              }
            }
            min-width: 20% !important;
            &:nth-child(1) {
              min-width: 160px;
              word-break: break-all;
            }
            &:nth-child(2) {
              min-width: 160px;
              word-break: break-all;
            }
            &:nth-child(3) {
              min-width: 160px;
              word-break: break-all;
            }
            i {
              right: 0;
            }
            .noPermission {
              color: #e84d47;
              padding: 7px 0;
              display: flex;
              align-items: center;
              .noPermissionInfo {
                color: #99a5b3;
                font-size: var(--font-size-smallest);
                margin-top: -5px;
                cursor: default;
                margin-left: 2px;
              }
            }
          }
        }
      }
      .customerGrpListItemPanel {
        width: 100%;
        border-bottom: 0;
        &:last-child {
          border-bottom: 1px solid #383f49;
        }
        .customerGrpListItemexpansionPanel {
          border-top: 0px solid #697582;
        }
        .customerContentCaption {
          padding: 14px 0px 13px 0;
        }
        .customerTile {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          color: #99a5b3;
          div {
            &:last-child {
              display: flex;
              align-items: center;
              justify-content: flex-end;
            }
            button {
              color: #acb8c4;
              margin: 0 4px;
              &:hover {
                color: #00adef;
              }
            }
          }
          .customerTitleCol {
            flex: 1;
            font-size: 12px;
            color: #99a5b3;
            i {
              font-size: var(--font-size-icon-small);
              right: 0;
            }
            &:nth-child(2) {
              min-width: 160px;
            }
            &:nth-child(2) {
              min-width: 160px;
            }
            &:nth-child(3) {
              min-width: 160px;
            }
            .actionBtn {
              background-color: transparent;
              border: 0;
              padding: 0;
              font-size: var(--font-size-smallest);
              margin: 0;
              i {
                font-size: var(--font-size-icon-small);
              }
              &:hover {
                color: #00adef;
              }
            }
          }
        }
        .customerTileContentCollabarationPanel {
          padding-right: 0;
          .customerCollTile {
            width: 100%;
            justify-content: space-between !important;
            height: 10px;
            margin-top: 20px;
            .actionBtn {
              padding: 0;
              margin: 0 10px;
              font-size: var(--font-size-smallest);
            }
            h6 {
              font-size: var(--font-size-smallest);
              font-weight: initial;
              margin: 0;
            }
            .actionBtnGrp {
              button {
                &:hover {
                  background-color: transparent;
                  color: #00adef;
                }
              }
            }
          }
        }
        .customerCollContent {
            .customerDesc {
              color: #99a5b3;
              font-size: 12px;
              padding-top: 10px;
            }
            .customerBtnGrp {
              display: flex;
              justify-content: flex-end;
            }
            button {
                background-color: transparent;
                font-size: 12px;
                outline: 0;
                border: 0;
                float: right;
                padding: 0;
                color: #99a5b3;
                margin-right: 20px;
                &:hover {
                  color: #00adef;
                  span {
                    text-decoration: underline;
                  }
                }
            }
          .customerCollContentEmpoty {
            width: 100%;
            height: 150px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 10px;
            h6 {
              font-size: var(--font-size-smallest);
              font-weight: initial;
              margin: 0;
            }
          }
          .customerCollContentList {
            font-size: var(--font-size-smallest);
            margin-top: 12px;
            padding: 0 12px;
            border-bottom: 0;
            .customerTile {
              width: 100%;
              padding: 10px 10px;
            }
            .customerCollContentListAdd {
              margin: 30px auto;
              width: 65%;
              input {
                opacity: unset !important;
                position: absolute !important;
                z-index: unset !important;
                width: 98%;
                margin-top: 2px;
              }
            }
            .customerCollUsersList {
              margin-top: 12px;
              width: 65%;
              margin: 0 auto;
              margin-top: 12px;
              margin-bottom: 15px;

              .collUserTitle {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                padding-bottom: 15px;
                .collUserTitleCol {
                  flex: 1;
                  font-size: var(--font-size-smallest);
                }
              }
              .collUserContent {
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: flex-start;
                width: 100%;
                .collUserContentRow {
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  width: 100%;
                  .collUserTitleCol {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    flex: 1;
                    font-size: var(--font-size-smallest);
                    input {
                      opacity: unset !important;
                      position: initial;
                      z-index: unset !important;
                    }
                    .inputGrp {
                      margin-top: 8px;
                      &:first-child {
                        margin-left: -10px;
                      }
                      min-height: unset;
                    }
                    i {
                      margin: -7px 7px 0 0;
                    }
                    span {
                      cursor: pointer;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
.customerCollUsersListParent {
  .customerCollUsersList {
    margin: 30px auto;
    width: 100%;
    .collUserTitle {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding-bottom: 15px;
      .collUserTitleCol {
        flex: 1;
        font-size: var(--font-size-smallest);
        padding-right: 12px;
        color: #99a5b3;
        min-width: 33.3%;
      }
    }
    .collUserContent {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: flex-start;
      width: 100%;
      .collUserContentRow {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        .collUserTitleCol {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          flex: 1;
          font-size: var(--font-size-smallest);
          padding-right: 15px;
          word-break: break-word;
          color: #99a5b3;
          label {
            cursor: pointer;
          }
          span {
            color: #99a5b3;
          }
          .checkBoxDisable {
            pointer-events: none;
            opacity: 0.5;
            cursor: default;
          }
          .deleteEntry {
            cursor: pointer;
          }
          .writeAccess {
            cursor: pointer;
          }
          input {
            opacity: unset !important;
            position: initial;
            z-index: unset !important;
          }
          .inputGrp {
            margin-top: 8px;
            &:first-child {
              margin-left: -10px;
            }
            min-height: unset;
          }
          i {
            margin: -7px 7px 0 0;
            right: 0;
          }
          div {
            cursor: default;
          }
        }
      }
    }
  }
  .addBtn {
    display: flex;
    justify-content: flex-end;
  }
  button {
    i {
      font-size: var(--font-size-icon);
    }
  }
}
.expansionLabel {
  border: 0px;
  padding-right: 0 !important;
  .customerTile {
    .customerTitleCol {
      min-width: 20% !important;
      &:nth-child(1) {
        min-width: 160px;
      }
      &:nth-child(2) {
        min-width: 160px;
      }
    }
  }
}

.commentPre{
  white-space: pre-wrap;
  font-family: "Roboto-Medium";  
}

.usRiskLabel {
  color: #acb8c4;
  font-size: var(--font-size-smallest);
  font-family: Roboto-Medium;
}

