.wrapper {
  background: #252a33 !important;
  margin-top: 60px !important;
  padding: 25px 38px;

  .firstPanel {
    background: #252a33;
    margin-bottom: 15px;

    .formWrapper {
      margin: 60px 70px 0;
      min-height: 200px;
    }

    .flexLayout {
      display: flex;
      justify-content: space-between;
      > div {
        width: calc(50% - 7px);
      }
    }

    .actionWrapper {
      text-align: center;
      margin: 30px 0;
    }
  }
}
