.portHeader {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
  
    .portTile {
      background-color: #1c2026;
      display: flex;
      justify-content: space-between;
      padding: 24px;
      width: calc(33% - 9.5px);
      margin: 6.5px 0 6.5px;
      min-height: 100%;
      margin-right: 12px;
  
      .portTileVal {
        display: flex;
        align-items: center;
  
        .serviceIcon {
          font-size: 25px;
          margin-right: 10px;
          min-width: 42px;
        }
        h5 {
          font-size: var(--font-size-default);
          padding-bottom: 0px;
          margin: 0;
          color: #00adef;
        }
        span {
          font-size: var(--font-size-sub-headline);
          color: #c0c8d0;
          display: flex;
          margin-bottom: 1px;
        }
      }
    }
  }
  