.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  flex-shrink: 0;
  padding-bottom: 20px;

  h4 {
    margin-bottom: 0;
  }
}
:global {
  .drawer-wrapper {
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 1001;
      height: 100%;
  }
  .modal-open.drawer-wrapper {
    width:0;
    overflow: hidden;
  }
  .drawer-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
  }
  .drawer {
    position: absolute;
    height: 100%;
    background-color: #1b2026;
    line-height: 1.5715;
    width: 620px;
    right: 0px;
    padding: 32px;
    transform: translateX(0%);
    transition: 0.3s ease-out;
  }
  .modal-open .drawer {
    transform: translateX(100%);
    transition: .3s ease-out;
  }
  .modal-close-button {
    background: none;
    border: none;
    color: #c0c8d0;
    outline: none;
    padding: 0;
  }
  .drawer-inner {
    height: 100%;
    overflow: hidden;
  }
  .drawer-scroll {
    overflow: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.drawer-header-title {
  font-size: 16px;
  font-weight: 500;
  text-align: left;
}
.drawer .drawer-close-icon {
  position: absolute;
  right: 20px;
  top: 18px;
  cursor: pointer;
  z-index: 1;
  font-size: 12px;
  color: #ffffffe6;
}
.drawer-content {
  flex: 1 1;
  height: 100%;
  box-sizing: border-box;
  position: relative;
  overflow: auto;
  padding-right: 5px;

  &::-webkit-scrollbar-thumb {
    background: #00adef;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-track {
    background: #293f55;
  }
  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
}
.drawer-footer {
  box-sizing: border-box;
  padding: 16px;
  text-align: right;
  flex-shrink: 0;

  button {
    margin-left: 20px;
  }
}
}