.firstPanel {
  background: #252a33;
  margin-bottom: 15px;

  .textDesc {
    color: #697582;
  }

  .rowLine {
    display: inline-block;
  }

  .flexLayout {
    display: flex;
    justify-content: space-between;
    > div {
      width: calc(50% - 7px);
    }
  }

  .formWrapper {
    margin: 60px 70px 0;
  }

  .tagsWrapper {
    margin-top: 0;
  }

  .divisionContainer,
  .subDivisionContainer,
  .departmentTags {
    height: 95px;
  }

  .departmentTags {
    > div {
      z-index: 9;
    }
  }

}

.wrapper {
  background: #252a33 !important;
  margin-top: 15px !important;
  padding: 25px 38px;
}

.isDisabled{
  pointer-events: none;
  opacity: 0.5;
}

.refineReportButton{
  margin-right: 10px;
}
