.mainPanel {
  /*padding: 0px 184px 0px 184px;*/
  .wrapper {
    background: #252a33;
    margin: 15px 0;
    padding: 25px 0;
    position: relative;

    h3 {
      padding: 0 38px;
      font-size: var(--font-size-headline-medium);
    }
    span.description {
      padding: 0 38px;
    }

    .contextMenu {
      float: right;
      margin: 5px 20px 0 0;
      &.open .contextMenuTrigger {
        z-index: 10;
        position: relative;
      }

      .contextMenuTrigger {
        padding: 12px 10px;
        cursor: pointer;

        &:hover {
          color: #00adef;
        }
      }
    }
  }
}
hr {
  background-color: #697582;
  margin-left: 40px;
  margin-right: 40px;
}
.firstPanel {
      background: #252a33;
      margin-bottom: 15px;

      .textDesc {
        color: #697582;
      }

      .rowLine {
        display: inline-block;
      }

      .flexLayout {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        > div {
          width: calc(50% - 7px);
        }
        &.fourColumn {
          > div {
            width: calc(25% - 7px);
          }
        }
        &.threeColumn {
          > div {
            width: calc(33% - 7px);
          }
        }
      }
      .membersListView {
        .cardSubTitle {
          padding:38px 0 0 38px;
        }
        .memberscardSection {
          label {
            margin:0 40px;
          }
          .processOwnerCard {
            font-size: 13px;
            .details {
              display: flex;
              flex-direction: column;
            }
            span {
              padding-bottom: 10px;
            }
            label {
              padding-bottom: 0 !important;
              margin: 0;
            }
          }
        }
      }
      
}
.wrapper {
  background: #252a33 !important;
  padding: 25px 38px;
}

:global {
  label.input-label.summary {
    color: #99A5B3;
    font-size: var(--font-size-small);
    font-weight: bold;
  }
}
.processOwnerCard {
  display: inline-flex;
  color: #c0c8d0;
  &.useFullWidth {
    width: 100%;
  }
  .avatarIcon {
    width: 55px;
    height: 55px;
  }

  .avatar {
    padding: 28px 28px 28px 40px;
  }

  .details {
    flex: 1;
    padding: 28px 0;

    h6 {
      font-weight: bold;
      font-size: var(--font-size-small);
      color: #99a5b3;
    }
  }

  .memberDetails {
    display: flex;

    > div {
      flex: 1;
      padding-right: 10px;
    }
  }
}
