.firstPanel {
  background: #252a33;
  margin-bottom: 15px;

  .textDesc {
    color: #697582;
  }

  .rowLine {
    display: inline-block;
  }

  .formWrapper {
    margin: 35px 35px 0;
  }

  .tagsWrapper {
    margin-top: 0;
  }
  overflow-y: auto;
}

.flexLayout {
  display: flex;
  justify-content: space-between;
  > div {
    width: calc(50% - 7px);
  }
}

.wrapper {
  background: #252a33 !important;
  margin-top: 60px !important;
  padding: 25px 38px;

  .teamListWrapper {
    margin: 60px -38px;

    .avatarIcon {
      width: 55px;
      height: 55px;
    }

    .addTeamMemberWrapper {
      min-height: 110px;
      padding-left: 40px;

      button {
        padding: 0;
        margin: 0 0 0 30px;
        background: none;
        border: none;
        outline: none;
        color: #c0c8d0;
        vertical-align: middle;

        i {
          vertical-align: top;
          margin-right: 10px;
          color: #00adef;
        }

        &:hover span {
          text-decoration: underline;
        }
      }

      .teamsErrorMessage {
        margin: 3px 0 0 85px;
        font-size: var(--font-size-small);
      }
    }
  }
}

.addTeamMemberModal {
  min-height: 500px;
  min-width: 650px;
  max-width: 850px;
  max-height: 457px;

  .searchWrapper {
    > div {
      width: auto !important;

      &:first-child {
        flex: 1;
        position: relative;
        .clearSearch {
          height: 40px;
          position: absolute;
          right: 5px;
          width: 40px;
          text-align: center;
          top: 32px;
          cursor: pointer;

          i {
            line-height: 40px;
            color: #697582;
          }

          &:hover i {
            color: #00adef;
          }
        }
      }

      &:last-child {
        margin-top: 20px;
        margin-bottom: 0;
      }
    }
  }

  .internalWrapper {
    .actionWrapper {
      > div {
        width: auto !important;

        &:first-child {
          flex: 1;
        }
      }

      .userInfoWrapper {
        display: flex;
        i {
          font-size: var(--font-size-icon-medium);
          color: #00adef;
        }

        .userDetails {
          font-size: var(--font-size-default);
          text-align: left;
          color: #c0c8d0;
          padding: 0 15px 0 5px;
        }
      }

      text-align: right;
      margin: 30px 0;
    }
  }

  .externalWrapper {
    .actionWrapper {
      text-align: center;
      margin: 30px 0;
    }
  }

  .saveButton{
    float: right;
  }
}


.searchPanel {
  position: relative;
  flex: 1 auto;
  
  .searchInputField {
    background: none;
    border: none;
    border-bottom: 1px solid #697582;
    font-size: var(--font-size-default);
    padding-right: 40px;
    margin-right: -20px;
    height: 40px;
    color: #c0c8d0;
    outline: none;
    width: 100%;
    opacity: 1;
    transition: opacity 85ms cubic-bezier(0.2, 0.2, 0.38, 0.9) 0s;
    visibility: visible;
    letter-spacing: 0.5px;

    &:focus {
      border-color: #00adef;
    }

    &.hide {
      opacity: 0;
      visibility: hidden;
      transition: visibility 0ms;
      transition-delay: 100ms;
    }
  }

  > button {
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
    outline: none;
    color: #c0c8d0;
    font-size: var(--font-size-icon-medium);
    position: absolute;
    top: 3px;

    &:disabled i {
      color: #57626e;
    }

    &:hover {
      color: #ffffff;
      transition: color 85ms cubic-bezier(0.2, 0.2, 0.38, 0.9) 0s;
    }

    > i {
      vertical-align: sub;
      font-size: var(--font-size-icon-nav);
      &.active:hover {
        color: #00adef;
      }
    }
  }

  .suggestionList {
    list-style-type: none;
    max-height: 159px;
    margin-top: 5px;
    padding: 0;
    overflow: auto;
    > li {
      padding: 10px 20px;
      background-color: #383f49;
      &:hover {
        cursor: pointer;
        background-color: #252a33;
      }
      &.active {
        background-color: #252a33;
      }
    }
  }
}

.searchError {
  background-color: #383f49;
  padding: 10px 20px;
  margin-top: 5px;
  color: #E84D47;
  font-size: 12px;
  line-height: 12px;
  font-family: 'Roboto-Medium';
}
