.filterWrapper{
    // margin-top: 50px;
    // padding-top: 15px;
    // overflow-wrap: break-word;
    ul{
        padding: 0;
        margin: 0;
        li{
            list-style: none;
            float: left;
            width: max-content;
            margin: 5px;
        }
        .tagItem{
            border: 2px solid #697582;
            border-radius: 25px;
            color: #99a5b3;
            /* line-height: 4; */
            // margin-right: 10px;
            padding: 7px 17px;
            /* word-break: break-all; */
            font-size: var(--font-size-small);
            &:hover {
                border-color: #00adef;
                cursor: pointer;
            }
        }
        .selectedItem {
            border-color: #00adef;
        }
        .threeDots{
            color: #99a5b3;
            padding: 9px 0px;
            &:hover {
                color: #00adef;
                cursor: pointer;
            }
        }
    }
    
}