.flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.col {
  width: 100%;
}
.col2 {
  width: calc(50% - 7px);
}
.formFooter {
  display: flex;
  justify-content: flex-end;

  button {
    background: unset;
    border: 0;
    padding: 0;
    height: auto;
    color: #00adef;
    font-size: var(--font-size-default);
    font-family: var(--font-family-medium);

    &:hover {
      background: unset;
    }
  }
}

.rolesContainer {
  padding: 20px 0;

  h3 {
    margin-bottom: 20px;
  }
}

.roleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 15px;
  background-color: #383f49;
  border: 1px solid #383f49;
  padding: 10px 20px;
  margin-bottom: 15px;
  cursor: pointer;

  &:hover {
    background-color: #2d333b;
  }

  &.selected {
    background-color: #2d333b;

    i {
      color: #0ae6ab;
    }
  }

  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}
.roleContent {
  h3 {
    font-size: 14px;
    margin-bottom: 5px;
    line-height: 1.2rem;
  }
  p {
    margin-bottom: 0;
    font-size: var(--font-size-small);
    color: #acb8c4;
  }
}
.validityForm {
  background-color: #383f49;
  padding: 20px 20px 13px;
  margin-bottom: 15px;
  margin-top: -15px;
}