.contextMenu {
  &.locations {
    display: inline-block;
  }

  &.open .contextMenuTrigger {
    z-index: 10;
  }

  .contextMenuTrigger {
    padding: 12px 10px;
    cursor: pointer;

    &:hover {
      color: #00adef;
    }
  }
}
.solutionRow {
  label{
    color: #697582;
    font-size: smaller;
    margin-bottom: 0rem;
    margin-right: 0.2rem;
  }
}

.draftIndicatorCol {
  min-width: 60px;

  .draftIndicator {
    padding: 2px 8px;
    border: 1px solid #697582;
    color: #697582;
    font-size: var(--font-size-icon-small);
    letter-spacing: 1px;
    border-radius: 2px;
    margin-left: -10px;
  }
}

.active {
  color: #00adef !important;
}
.closed {
  color: #e84d47 !important;
}

.locationDataWrapper {
  overflow: hidden;

  .locations {
    ul {
      width: 200px;
      max-height: 56px;
      overflow-y: auto;
      padding: 0 25px;
      margin: 18px 0;

      p {
        white-space: normal;
        margin: 0;
      }
    }
  }
}
.solutionNameDivide {
  word-break: break-all;
  display: flex;
  flex-direction: column;
  label {
    cursor: pointer;
    i {
      font-size: var(--font-size-icon-medium);
      margin: 5px 0 2px;
    }
  }
}
.solutionRow:hover {
  cursor: pointer;
  background-color: #1c2026;
  .solutionName {
    color: #00adef !important;
    padding-right: 15px;
  }
}

.contextOpened {
  .contextMenuTrigger {
    position: relative;
  }
}
.solIcon {
  display: flex;
  align-items: center;
}
.solIconimg {
  position: relative;
  min-width: 50px;
  max-width: 50px;
  height: 50px;
  margin-right: 16px;
  img {
    width: 100%;
    height: 100%;
  }
  &:after {
    background: -webkit-gradient(linear, left top, right top, from(#111111), to(#36b1e0));
    background: linear-gradient(90deg, #36b1e0, #36b1e0);
    content: '';
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
