.mainPanel {
  padding: 72px 75px 30px 75px;
}
.banner {
  display: flex;
  margin: 0;
  background: #00adef;
  width: 100%;
  padding: 15px 0px 15px 75px;

  .content {
    display: flex;
    flex: 88;
    margin: 0;
    justify-content: flex-start;

    .placeholder {
      display: flex;
      width: 12%;

      i {
        margin-right: 7px;
      }

      h5 {
        margin: 0;
        margin-top: 2.5px;
        font-size: var(--font-size-default);
        font-weight: var(--font-weight-bold);

      }
    }

    .info {
      margin: 0;
      width: 88%;

      p {
        margin: 0;
        margin-top: 2.3px;
        margin-left: 6px;
        font-size: var(--font-size-default);
      }

      p a {
        color: #d9dfe4;
      }

    }
  }

  .button {
    display: flex;
    flex: 12;
    margin: 0;
    background: #00adef;
    border-color: #00adef;
    margin-top: 2.6px;
    height: 10px;

    h4 {
      margin: 0;
      margin-right: 21px;
      font-size: var(--font-size-default);

    }

    i {
      margin-top: 1px;
      font-size: var(--font-size-smallest);
    }
  }
}

.title {
  justify-content: center;
  font-size: var(--font-size-section-headline);
  text-align: left;
  margin-bottom: 40px;
  min-height: 30px;
  padding-top: 10px;
}
.mandatoryInfo {
  color: #697582;
  padding-left: 112px;
}

:global {
  #data-product-tabs {
      min-width: 540px;
  }

  #data-product-tabs .scrollable.tabs-wrapper {
      height: 44px;
  }

  #data-product-tabs .scrollable.tabs-wrapper nav {
      height: 44px;
  }

  #data-product-tabs .tab {
      min-width: max-content;
      > a {
          position: relative;
          padding: 10px 50px 12px 40px;
          // &::before {
          //     font-family: "dna-icons";
          //     content: "\e949";
          //     position: absolute;
          //     right: 20px;
          //     font-size: var(--font-size-icon-highlight);
          // }
      }
      // a::before {
      //     color: #00adef;
      // }
  }

  .btnContainer {
      min-height: 40px;
      margin-top: 20px;
      text-align: right;
  }
}

.breadcrumb {
  margin-top: -50px;
  margin-bottom: 25px;

  ol {
      list-style-type: none;
      padding: 0;
      margin: 0;
      display: flex;
      align-items: center;

      li {
          color: #c8c9cb;
          margin-right: 6px;
          display: flex;
          align-items: center;

          &::after {
              font-family: "dna-icons";
              content: "\e91e";
              margin-left: 6px;
          }

          &:last-child::after {
              display: none;
          }

          a {
              color: #c8c9cb;
          }
      }
  }
}