.dagCollContent {
  .dagCollContentEmpoty {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #383f49;
    margin-top: -9px;
    h6 {
      font-size: var(--font-size-smallest);
      font-weight: initial;
      margin: 0;
    }
  }
  .dagCollContentList {
    font-size: var(--font-size-smallest);
    margin-top: 12px;
    .dagTile {
      width: 100%;
      padding: 10px 10px;
      border-bottom: 1px solid #383f49;
    }
    .dagCollContentListAdd {
      margin: 25px auto;
      input {
        opacity: unset !important;
        position: unset!important;
        z-index: unset !important;
      }
      .userExistedError {
        color: #e84d47;
        padding: 4px 0;
      }
    }
    .dagCollUsersList {
      margin-top: 12px;
      margin: 0 auto;
      margin-top: 12px;
      margin-bottom: 15px;

      .collUserTitle {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding-bottom: 15px;
        border-bottom: 1px solid #383f49;
        .collUserTitleCol {
          flex: 1;
          font-size: var(--font-size-smallest);
          padding-right: 12px;
          color: #99a5b3;
        }
      }
      .collUserContent {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        .collUserContentRow {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          .collUserTitleCol {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex: 1;
            font-size: var(--font-size-smallest);
            padding-right: 15px;
            word-break: break-word;
            color: #99a5b3;
            label {
              cursor: pointer;
            }
            span {
              color: #99a5b3;
            }
            .checkBoxDisable {
              pointer-events: none;
              opacity: 0.5;
              cursor: default;
            }
            .deleteEntry {
              cursor: pointer;
            }
            .writeAccess {
              cursor: pointer;
            }
            input {
              opacity: unset !important;
              position: initial;
              z-index: unset !important;
            }
            .inputGrp {
              margin-top: 8px;
              &:first-child {
                margin-left: -10px;
              }
              min-height: unset;
            }
            i {
              margin: -7px 7px 0 0;
              right: 0;
            }
            div {
              cursor: default;
            }
          }
        }
      }
    }
  }
}
.btnRight {
  text-align: right;
}