@import "../common.style.scss";
.optionContainer {
    display: flex;
    flex-direction: column;
    .optionTitle {
        color: #d9dfe4;
    }
    .optionText {
        color: #c0c8d0;
        font-size: var(--font-size-small);
    }
}
.suggestionListBadge {
    border: 1px solid #d9dfe4;
    color: #d9dfe4;
    position: absolute;
    right: 10px;
    font-size: 10px;
    padding: 0 5px;
}

.howToAccess {
    i {
        font-size: var(--font-size-icon-medium);
        position: absolute;
        right: 0;
        &:hover {
            cursor: pointer;
        }
    }
}

.infoIcon{
    float: initial;
}

.minimumInformationCheckSection{
    background-color: #1c2026;
    padding: 35px 45px;
    display: table;
    width: 100%;
    .minimumInformationCheckWrapper{
        display: table-row;
        .infoWrapper{
            display: table-cell;
            vertical-align: middle;
            min-width: 60px;
            i{
                font-size: 25px;
            }
        }
        .descriptionWrapper{
            display: table-cell;
            vertical-align: middle;
            p{
                max-width: 600px;
                margin-bottom: 0;
            }
        }
    }
}

