@import "../common.style.scss";
.optionContainer {
    display: flex;
    flex-direction: column;
    .optionTitle {
        color: #d9dfe4;
    }
    .optionText {
        color: #c0c8d0;
        font-size: var(--font-size-small);
    }
}
.suggestionListBadge {
    border: 1px solid #d9dfe4;
    color: #d9dfe4;
    position: absolute;
    right: 10px;
    font-size: 10px;
    padding: 0 5px;
}

.howToAccess {
    i {
        font-size: var(--font-size-icon-medium);
        position: absolute;
        right: 0;
        &:hover {
            cursor: pointer;
        }
    }
}

.widthZero{
    width: 0!important;
    display: none;
}

.heightZero{
    height: 0;
    display: none;
}

.infoIcon{
    float: initial;
}

.minimumInformationCheckSection{
    background-color: #1c2026;
    padding: 35px 45px;
    display: table;
    width: 100%;
    .minimumInformationCheckWrapper{
        display: table-row;
        .infoWrapper{
            display: table-cell;
            vertical-align: middle;
            min-width: 60px;
            i{
                font-size: 25px;
            }
        }
        .descriptionWrapper{
            display: table-cell;
            vertical-align: middle;
            p{
                max-width: 600px;
                margin-bottom: 0;
            }
        }
    }
}




.listViewContainer {
    display: flex;
    justify-content: center;
    // border: 1px solid #697582;
    padding: 20px;
    cursor: pointer;
    background-color: #1c2026;
    width: 100%;
    color: #fff;
    outline: none;
    border: 0;
    .addicon {
        width: 40px;
        height: 40px;
        margin: 0px;
        border: 1px solid #fff;
        border-radius: 50%;
        position: relative;
        display: flex;
        align-items: center;
        &:after {
            content: "";
            position: absolute;
            width: 50%;
            height: 1px;
            background-color: #00adef;
            left: 25%;
            transform: rotate(90deg);
        }
        &:before {
            content: "";
            position: absolute;
            width: 50%;
            height: 1px;
            background-color: #00adef;
            left: 25%;
            margin: 0 auto;
            transform: rotate(180deg);
            top: 49%;
        }
    }
    .addlabel {
        font-size: var(--font-size-headline);
        line-height: 23px;
        margin: auto 20px;
        position: relative;
        width: auto;
        cursor: pointer;
        word-break: break-word;
    }
    &:hover .addlabel {
        color: #00adef;
    }
}


.accessModalHeader{
    text-align: center;
    .accessModalHeaderIcon i{
        font-size: 5em;
        color: #C0C8D0;
    }
    .accessModalHeaderText{
        padding: 25px 0;
        color: #D9DFE4;
    }
}

.actionButtonsPreview{
    text-align: center;
    margin-top: 25px;
    margin-bottom: 10px;
    button {
        background-color: #1c2026;
        border: none;
        padding: 15px 50px;
        color: #fff;
        margin: 0 8px;
        font-size: var(--font-size-small);
        &:hover {
            background-color: #00adef;
            color: #fff;
        }
    }
}







:global {
    #how-to-access-tabs {
        .tabs-content-wrapper{
            margin-top: 30px;
        }
        .tab {
            > a {
                // position: relative;
                // padding: 10px 50px 12px 40px;
                &::before {
                    content: none!important;   
                    font-size: 0;         
                }
            }
        }   
    }
         
    #how-to-access-preview-tabs {
        .tabs-content-wrapper{
            margin-top: 30px;
        }
        .tab {
            > a {
                // position: relative;
                // padding: 10px 50px 12px 40px;
                &::before {
                    content: none!important;   
                    font-size: 0;         
                }
            }
        }
    }
    
}
    

