.container {
  background-color: #252a33;
}
.heading {
  font-size: var(--font-size-headline-medium);
  margin-bottom: 20px;
  color: #ffffff;
}
.summaryHeading{
  padding: 0 38px;
}
.personaContainer {
  padding-left: 60px;
  margin: 60px 70px 60px;
  position: relative;
  
}
.persona {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #383f49;
  padding-bottom: 5px;
  padding-top: 5px;
  position: relative;
  > * {
    flex: 1;
  }
  .personaAvatar {
    display: flex;
    align-items: center;
    img {
      border-radius: 100%;
      border: 2px solid #ffffff;
      width: 60px;
      margin-left: -60px;
    }
    p {
      margin-bottom: 0;
      color: #00adef;
      font-size: var(--font-size-headline);
      padding-left: 20px;
    }
  }
  .desc {
    flex: 2;
    p {
      margin-bottom: 0;
      font-size: var(--font-size-sub-headline);
    }
  }
  .personaSelect {
    .checkboxItem {
      position: absolute;
      right: 14px;
      top: calc(50% - 18px);
    }
  }
}
.selected {
  background-color: #1c2026;
}
.noPersonaSelected {
  margin: 40px;
}