.mainHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px !important;
  position: fixed;
  height: var(--header-size) !important;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;

  > div {
    flex: 1 auto;
    max-width: 33.33%;

    &.logoWrapper {
      // max-width: 200px;
      // min-width: 200px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }

    &.appWrapper {
      display: flex;
      justify-content: flex-end;
      margin-right: 21px;
      .headerIcons{
        padding-top: 3px;
        .notificationPanel {
          position: relative;
          .notificationIcon {
            cursor: pointer;
            font-size: var(--font-size-icon-medium);
            margin: 4px 10px 0 0;
          }
          .status {
            background-color: #00adef;
            border: 3px solid transparent;
            border-radius: 50%;
            top: 20px;
            display: block;
            height: 6px;
            position: absolute;
            right: 13px;
            width: 6px;
          }
        }
      }
      
    }
  }
}

.menuTrigger {
  cursor: pointer;
  color: #c0c8d0;
  display: inline-block;
  width: 22px;

  &:hover {
    color: #00adef;
    transition: color 85ms cubic-bezier(0.2, 0.2, 0.38, 0.9) 0s;
  }

  .closeIcon {
    margin: 2px 2px 0 2px;
    font-size: var(--font-size-icon-highlight);
  }

  .hamburgerIcon {
    font-size: var(--font-size-icon-highlight);
    margin: 0;
    line-height: 27px;
  }
}

.center {
  flex: 1 0 auto;
}

.appLogo {
  position: relative;
  > h6 {
    color: var(--header-text-color) !important;
    font-size: var(--font-size-sub-headline) !important;
    font-weight: bold;
    letter-spacing: 1px !important;
    margin: 0;
    vertical-align: middle;
  }

  > img {
    width: 33px;
    margin-right: 10px !important;
    margin-left: 0 !important;

    &.santaHat {
      position: absolute;
      width: 20px;
      left: 18px;
      top: -5px;
    }
  }
}

.logoCompany {
  border-right: 1px solid #697582;
  margin-left: 30px;
  margin-right: 15px;
  padding-right: 15px;
  min-height: 27px;
  display: flex;

  > img {
    margin: auto 0;
    max-height: 40px;
    max-width: 120px;
  }
}
.userIcon {
  /* border: 2px solid #c0c8d0; */
  width: 32px;
  height: 32px;
  border-radius: 50%;
  text-align: center;
  font-size: var(--font-size-icon-medium);
  cursor: pointer;
  i {
    margin: 0;
    color: #c0c8d0;
  }
}
.logoName {
  padding-left: var(--gap);
}

.userInfoPanel {
  display: inline-flex;
  margin-right: 25px;
  .avatar {
    position: relative;
    cursor: pointer;
    > img {
      width: 32px;
    }

    .userIcon {
      /* border: 2px solid #c0c8d0; */
      width: 32px;
      height: 32px;
      border-radius: 50%;
      text-align: center;
      font-size: var(--font-size-icon-medium);
      cursor: pointer;

      i {
        margin: 0;
        color: #c0c8d0;
        font-size: var(--font-size-icon-nav);
      }
      .notificationIcon{
        transform: rotate(20deg);
      }
    }

    .status {
      position: absolute;
      border: 1px solid #000000;
      width: 20px;
      height: 20px;
      background-color: #00adef;
      border-radius: 50%;
      display: block;
      bottom: 21px;
      right: -5px;
      line-height: 2.3;
      font-size: 8px;
      text-align: center;
    }

    &:hover {
      .userIcon {
        border-color: #ffffff;
        transition: border-color 85ms cubic-bezier(0.2, 0.2, 0.38, 0.9) 0s;

        i {
          color: #ffffff;
          transition: color 85ms cubic-bezier(0.2, 0.2, 0.38, 0.9) 0s;
        }
      }
    }
  }
}
.search {
  position: relative;
}
.rotate {
  transform: rotate(20deg);
}

.levelTwoNav {
  margin-top: var(--header-size);
  margin-bottom: -5rem;
  background-color: #1c2026;
  padding-top: 60px;
  padding-right: 70px;
  padding-left: 70px;
  padding-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
}
.navItemContainer {
  width: 16.66%;
}
.navItem {
  padding-right: 50px;
  a {
    color: #c0c8d0;

    &:hover {
      text-decoration: none;
      color: #00adef;
    }
    &.active {
      text-decoration: none;
      color: #00adef;
    }
  }
  a i {
    font-size: var(--font-size-icon-big);
  }
  a span {
    display: block;
    font-size: var(--font-size-sub-headline);
    padding-top: 12px;
    padding-bottom: 10px;

    em {
      font-style: normal;
      font-size: var(--font-size-smallest);
      background-color: #00adef;
      display: inline-block;
      border-radius: 2px;
      padding: 0px 5px;
      margin-left: 5px;
      color: #ffffff;
    }
  }
  p {
    margin-bottom: 0;
    color: #99a5b3;
  }
}
.disabled {
  pointer-events: none;
  a {
    color: #777d84;
  }
  p {
    color: #777d84;
  }
}
.touContainer {
  .touTitle {
    display: flex;

    .touIcon i {
      font-size: 50px;
    }

    h2 {
      font-size: var(--font-size-headline-big);
      margin-left: 22px;
      margin-bottom: 0;
      span {
        display: block;
        font-size: var(--font-size-small);
        padding-top: 20px;
        color: #c0c8d0;
      }
    }
  }
  .touContent {
    margin-top: 35px;
    margin-bottom: 35px;
    height: 50vh;

    &::-webkit-scrollbar-thumb {
      background: #00adef;
      border-radius: 10px;
    }
    &::-webkit-scrollbar-track {
      background: #293f55;
    }
    &::-webkit-scrollbar {
      width: 5px;
      height: 5px;
    }
  }
  .touFooter {
    text-align: center;
    padding-top: 35px;
  }
}
.checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: -10px;
}
.btnAgree {
  background-color: #00adef;
  border-color: #00adef;
}
.backdrop {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;

  &:before {
    backdrop-filter: blur(2px);
    content: "";
    height: 100%;
    position: absolute;
    width: 100%;
  }
}