.mainHeader {
  display: flex;
  justify-content: space-between;
  padding: 17px 17px 0 20px !important;
  position: fixed;
  height: var(--header-size) !important;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;

  > div {
    flex: 1 auto;

    &.logoWrapper {
      max-width: 200px;
      min-width: 200px;
    }

    &.appWrapper {
      display: flex;
      justify-content: flex-end;
      .headerIcons{
        padding-top: 3px;
        .notificationPanel {
          position: relative;
          .notificationIcon {
            cursor: pointer;
            font-size: var(--font-size-icon-medium);
            margin: 4px 10px 0 0;
          }
          .status {
            background-color: #00adef;
            border: 3px solid transparent;
            border-radius: 50%;
            top: 20px;
            display: block;
            height: 6px;
            position: absolute;
            right: 13px;
            width: 6px;
          }
        }
      }
      
    }
  }
}

.menuTrigger {
  flex: auto;
  margin-top: 3px;
  cursor: pointer;
  color: #c0c8d0;
  display: inline-block;
  display: none;

  &:hover {
    color: #00adef;
    transition: color 85ms cubic-bezier(0.2, 0.2, 0.38, 0.9) 0s;
  }

  .closeIcon {
    margin: 2px 2px 0 2px;
    font-size: var(--font-size-icon-medium);
  }

  .hamburgerIcon {
    font-size: var(--font-size-icon-nav);
    margin: 0;
  }
}

.center {
  flex: 1 0 auto;
}

.appLogo {
  > h6 {
    color: var(--header-text-color) !important;
    margin: 0 0 0 40px;
    letter-spacing: 1px !important;
  }

  > img {
    width: 42px;
    margin-right: 0 !important;
    margin-left: 20 !important;
  }
}

.logoCompany {
  margin: 0 30px 0 0;

  > img {
    vertical-align: top;
    height: 40px;
  }
}
.userIcon {
  /* border: 2px solid #c0c8d0; */
  width: 32px;
  height: 32px;
  border-radius: 50%;
  text-align: center;
  font-size: var(--font-size-icon-medium);
  cursor: pointer;
  i {
    margin: 0;
    color: #c0c8d0;
  }
}
.logoName {
  padding-left: var(--gap);
}

.userInfoPanel {
  display: inline-flex;
  margin-right: 25px;
  .avatar {
    position: relative;
    cursor: pointer;
    > img {
      width: 32px;
    }

    .userIcon {
      /* border: 2px solid #c0c8d0; */
      width: 32px;
      height: 32px;
      border-radius: 50%;
      text-align: center;
      font-size: var(--font-size-icon-medium);
      cursor: pointer;

      i {
        margin: 0;
        color: #c0c8d0;
        font-size: var(--font-size-icon-nav);
      }
      .notificationIcon{
        transform: rotate(20deg);
      }
    }

    .status {
      position: absolute;
      border: 1px solid #000000;
      width: 20px;
      height: 20px;
      background-color: #00adef;
      border-radius: 50%;
      display: block;
      bottom: 21px;
      right: -5px;
      line-height: 2.3;
      font-size: 8px;
      text-align: center;
    }

    &:hover {
      .userIcon {
        border-color: #ffffff;
        transition: border-color 85ms cubic-bezier(0.2, 0.2, 0.38, 0.9) 0s;

        i {
          color: #ffffff;
          transition: color 85ms cubic-bezier(0.2, 0.2, 0.38, 0.9) 0s;
        }
      }
    }
  }
}
