.mainPanel {
  padding: 0px 0 30px 40px;
  display: flex;

  .wrapper {
    background: #252a33;
    flex: 1 auto;
    .searchPanel {
      display: flex;
      align-items: center;
      > div {
        margin-right: 25px;
      }
      .customContainer {
        width: 220px;
      }
    }
    .tablePanel {
      margin-left: -40px;
    }
    h3 {
      padding: 0 38px;
    }
    tr th:last-child {
      padding-right: 38px !important;
      text-align: right !important;
    }
  }
}

.modalContentWrapper {
  margin-top: -20px;
  font-size: var(--font-size-sub-headline);
  .modalTitle {
    margin-top: 0px;
    text-align: center;
  }
  .modalContent {
    margin-top: 20px;
    font-size: var(--font-size-medium);
  }
}

.tagIsEmpty {
  display: flex;
  flex-direction: column;
  height: 440px;
  justify-content: center;
  position: relative;
  background-color: #252a33;
  text-align: center;
  width: calc(100% - 40px);
  .linkStyle {
    color: #00adef;
    &:hover {
      cursor: pointer;
    }
  }
}

.addItemButton {
  margin-top: 13px;
  button {
    padding: 0;
    margin: 0;
    background: none;
    border: none;
    outline: none;
    color: #c0c8d0;
    vertical-align: middle;
    i {
      vertical-align: top;
      margin-right: 10px;
      color: #00adef;
    }
    span {
      color: #99a5b3;
    }
    &:hover span {
      text-decoration: underline;
    }
  }
  i {
    width: auto;
    height: auto;
    margin-right: 19px;
  }
}
.disabledAddItemBtn {
  cursor: default !important;
  pointer-events: none;
  button {
    i {
      color: #697582 !important;
      span {
        color: #697582 !important;
      }
    }
  }
}
.updateModelOverlayContent {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #252a33;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
}
.infoPopup {
  max-width: 490px;
}
.addBtn {
  display: flex;
  justify-content: flex-end;
}

.spinner {
  min-height: 50vh;
  > div {
    position: absolute;
    top: 50%;
  }
}
