.dataProductCard {
  background-color: #252a33;
  width: calc(25% - 15px);
  margin: 0 15px 15px 0;
  min-width: 250px;
  position: relative;
  height: 300px;
  display: flex;
  align-items: flex-end;
  cursor: pointer;

  &::after {
    content: "\e96d";
    font-family: "dna-icons";
    position: absolute;
    left: calc(50% - 45px);
    top: calc(50% - 90px);
    font-size: 75px;
  }

  .cardBodySection {
    padding: 15px 30px 20px;
    width: 100%;
    .description {
      text-overflow: ellipsis;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      color: #99a5b3;
      font-size: var(--font-size-small);
    }
    .title {
      font-size: var(--font-size-headline);
      margin-bottom: 11px;
      color: #99a5b3;
      text-overflow: ellipsis;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
    .tags {
      display: none;
    }
  }
  .tagItem {
    border: 1px solid #00adef;
    margin: auto;
    background: #00adef;
    opacity: 0.8;
    border-radius: 4px;
    padding: 2px 4px;
    margin-right: 5px;
    font-size: var(--font-size-small);
    line-height: 25px;
  }
  &:hover {
    background-position: 50% 0%;
    &::before {
      position: absolute;
      content: " ";
      width: 100%;
      height: 100%;
      background-color: #2cb0bc;
      background-image: linear-gradient(198deg, #2cb0bc 5%, #252a33 100%);
      // opacity: 0.9;
      top: 0;
    }
    .description {
      color: white;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
    }
    .title {
      color: white;
    }
    .cardBodySection {
      position: absolute;
      top: 20%;
    }
    .tags {
      color: white;
      padding: 0px 0px 0px 20px;
    }
    .cardFooter {
      display: block;
    }
    &::after {
      top: 10px;
      opacity: 0.3;
    }
  }
}
.cardFooter {
  display: none;
  justify-content: flex-end;
  margin: 10px 0;
}

.upperTag {
  background: #00adef;
  padding: 0 10px;
  font-size: var(--font-size-small);
  height: 20px;
  border-radius: 4px;
  position: absolute;
  top: 10px;
  right: 10px;
  border-color: transparent;
  pointer-events: none;
}
