.contextMenu {
  position: relative;
  &.open .contextMenuTrigger {
    z-index: 10;
    position: relative;
  }
  .contextMenuTrigger {
    padding: 12px 10px;
    cursor: pointer;
    margin-right: -14px;
    &:hover {
      color: #00adef;
    }
  }
}
.disableLink {
  opacity: 0.5;
  pointer-events: none;
}