.mainPanel {
    padding: 50px 184px 0px 114px;
}

.title {
    justify-content: center;
    font-size: var(--font-size-section-headline);
    text-align: left;
    margin-bottom: 40px;
    min-height: 30px;
}
.mandatoryInfo {
    color: #697582;
    padding-left: 112px;
}

:global {
    #data-product-tabs {
        min-width: 540px;
    }

    #data-product-tabs .scrollable.tabs-wrapper {
        height: 44px;
    }

    #data-product-tabs .scrollable.tabs-wrapper nav {
        height: 44px;
    }

    #data-product-tabs .tab {
        min-width: max-content;
        > a {
            position: relative;
            padding: 10px 50px 12px 40px;
            &::before {
                font-family: "dna-icons";
                content: "\e949";
                position: absolute;
                right: 20px;
                font-size: var(--font-size-icon-highlight);
            }
        }
        a::before {
            color: #00adef;
        }
    }

    .btnContainer {
        min-height: 40px;
        margin-top: 20px;
        text-align: right;
    }
}

.breadcrumb {
    margin-top: -50px;
    margin-bottom: 25px;

    ol {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;

        li {
            color: #c8c9cb;
            margin-right: 6px;
            display: flex;
            align-items: center;

            &::after {
                font-family: "dna-icons";
                content: "\e91e";
                margin-left: 6px;
            }

            &:last-child::after {
                display: none;
            }

            a {
                color: #c8c9cb;
            }
        }
    }
}