@font-face {
  font-family: 'Icons';
  src: url("./fonts/icomoon.ttf") format('truetype');
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-decoration: inherit;
  text-transform: none;
}
i.icon {
  display: inline-block;
  opacity: 1;
  margin: 0em 0.25rem 0em 0em;
  width: 1.18em;
  height: 1em;
  font-family: 'Icons';
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  text-align: center;
  speak: none;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  &::before {
    background: none !important;
  }

  &.arrow {
    margin-top: 0.25em;
    &::before {
      content: "\e901";
    }

    &.up {
      transform: rotate(90deg);
      font-weight: bold;
      &::before {
        content: "\e914";
      }
    }

    &.right {
      margin-right: 0;
    }

    &.down {
      transform: rotate(90deg);
      font-weight: bold;
      &::before {
        content: "\e915";
      }
    }

    &.left {
      transform: rotate(180deg);
      margin-top: 1em;
    }
  }

  &.sort {
    &::before {
      content: "\e903";
    }
  }

  &.down-up-flip {
    width: 25px;
    height: 25px;
    margin: 0;
    &::before, &::after {
      content: "";
      height: 2px;
      width: 11px;
      background: #697582!important;
      position: absolute;
      right: 4px;
      top: 10px;
      border-radius: 2px;
      transition: all 85ms cubic-bezier(0.2, 0.2, 0.38, 0.9) 0s;
    }

    &::before {
      transform: rotate(45deg);
      right: 11px;
    }

    &::after {
      transform: rotate(-45deg)
    }
  }

  &.add::before {
    content: "\e902";
    margin-left: 1px;
  }
  &.duplicate::before {
    content: "\e90a";
  }
  &.delete::before {
    content: "\e906";
  }
  &.download::before {
    content: "\e909";
  }
  &.upload::before {
    content: "\e911";
  }
  &.logout::before {
    content: "\e90f";
  }
  &.close::before {
    content: "\e910";
  }
  &.document::before {
    content: "\e908";
    margin-left: 1px;
  }
  &.edit::before {
    content: "\e90b";
  }
  &.login::before {
    content: "\e90e";
  }
  &.listview::before {
    content: "\e90d";
  }
  &.daigram::before {
    content: "\e907";
  }
  &.info::before {
    content: "\e90c";
  }
}

.open > .icon.down-up-flip, .open > label > .icon.down-up-flip {
    &::before {
      transform: rotate(-45deg);
    }

    &::after {
      transform: rotate(45deg);
    }
}

.icon-tile {
  text-align: center;
  display: inline-block;
  .icon {
    margin: 0 auto;
    width: 40px;
    height: 40px;
    border-radius: 50%; 
    font-size: 20px;
    color: #697582;
    padding-top: 5px;
  }
  .name {
    display: block;
    margin-top: 10px;
    color: #1C2026;
    font-size: 13px;
  }
}
