.contextMenu {
    &.open .contextMenuTrigger {
      z-index: 10;
    }
  
    .contextMenuTrigger {
      padding: 12px 0px 0px 0px;
      cursor: pointer;
  
      &:hover {
        color: #00adef !important;
      }
    }
  }
  .actionBtn{
    background-color: #252a33 !important;
    border-color: #252a33 !important;
    &:hover{
      color: #00adef;
      background-color: #252a33 !important;
    }
  }
  
  .securityConfigCol {
    min-width: 60px;
  
    .securityConfig {
      padding: 2px 8px;
      border: 1px solid #697582;
      color: #697582;
      font-size: var(--font-size-icon-small);
      letter-spacing: 1px;
      margin-left: -10px;
    }
  }
  
 .securityConfigNameDivide {
    word-break: break-all;
    display: flex;
    flex-direction: column;
    label {
      cursor: pointer;
      i {
        font-size: var(--font-size-icon-medium);
        margin: 5px 0 2px;
      }
    }
  }
  .securityConfigRow{
    background-color:  #252a33;
    height: 85px;
    &:hover{
      color:#292f37;
    }
  }
  .securityConfigRow:hover {
    cursor: pointer;
    background-color: #292f37;
    .securityConfigName {
      color: #00adef !important;
      padding-right: 15px;
    }
  }
  .chips {
    margin-right: 8px;
    padding: 8px 16px;
    margin-bottom: 0;
  }
  