.mainPanel {
  padding: 72px 75px 30px 75px;

  .wrapper {
    width: 100%;
  }

  .content {
    background-color: #252a33;
    padding: 25px 0;

    .NoSubscription {
      padding: 0 32px;

      .addApiKeys {
        align-items: flex-start;
        display: flex;
        justify-content: space-between;
        margin: 0 0 9px 0;
        position: relative;

        p {
          color: #979baf;
          width: 80%;
          text-align: left;
          line-height: 17px;
          margin-bottom: 10px;
          margin-left: 0px;
        }

        i {
          font-size: var(--font-size-icon-content);
        }

        .iconsmd {
          color: #8c8787;
          cursor: pointer;
          font-size: var(--font-size-icon-medium);
          position: absolute;
          right: -6px;
          top: -17px;
        }

        div {
          button {
            background: none;
            border: none;
            margin: 0;
            outline: none;
            padding: 0 10px;
            height: auto;
            color: #c0c8d0;

            i {
              margin-top: 2px;
            }

            a {
              color: #c0c8d0;
            }

            &:first-child {
              padding-left: 0;
              ;
            }
          }
        }
      }

      text-align: right;

      .addNewSubcibtn {
        margin: 0 0 10px 0;
        outline: none;
        vertical-align: middle;

        i {
          color: #00adef;
          margin-right: 10px;
          vertical-align: top;
        }

        &:hover {
          span {
            text-decoration: underline;
          }
        }
      }

      .subsriContent {
        min-height: 325px;
        margin: 0 -32px;

        .malwaresubscriptionListEmpty {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          height: 300px;
          position: relative;
          border: 1px solid #383f49;
          margin: 0 32px;
        }

        button {
          a {
            color: #fff;
          }
        }

        .malwaresubscriptionListEmpty {
          i {
            font-size: 80px;
          }
        }
      }
    }
  }
}