.mainPanel {
  display: flex;

  .wrapper {
    background: #252a33;
    padding: 25px 40px;
    margin-bottom: 15px;
    flex: 1 auto;

    h3 {
      font-size: var(--font-size-headline-medium);
      margin-bottom: 30px;
    }

    .imageSection {
      text-align: center;
      margin-bottom: 100px;
      margin-top: 80px;
      > img {
        max-width: 850px;
      }
    }

    .attachmentSection {
      width: 50%;
      float: left;
      min-height: 300px;
    }
    .officerSection {
      width: 50%;
      float: left;
    }
  }
}
