.mainPanel {
    padding: 50px 75px 0px 75px;
    .summaryBannerTitle {
        min-width: 260px;
        margin: 19px 0 70px 0;
        h2 {
            font-size: var(--font-size-headline-big);
            line-height: 33px;
        }
    }
    .summaryBannerimg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }
}
.firstPanel {
    background: #252a33;
    margin-bottom: 15px;

    .flexLayout {
        display: flex;
        justify-content: space-between;
        margin: 40px;
        > div {
            width: calc(50% - 7px);
        }
        &.fourColumn {
            > div {
                width: calc(25% - 7px);
            }
        }
        &.threeColumn {
            > div {
                width: calc(33% - 7px);
            }
        }
    }

    .formWrapper {
        margin: 60px 0px 0;
    }
}

.sectionWrapper {
    background: #252a33;
    flex: 1 auto;
    padding: 25px 0px;
    margin: 15px 0;
    h5 {
        color: #99a5b3;
    }
    .flexLayout {
        display: flex;
        justify-content: space-between;
        margin: 20px 40px;
        > div {
            width: calc(50% - 7px);
        }
        &.fourColumn {
            > div {
                width: calc(25% - 7px);
            }
        }
        &.threeColumn {
            > div {
                width: calc(33% - 7px);
            }
        }
    }
    a i {
        &::before {
            margin-left: 2px;
        }
        font-size: var(--font-size-icon-small);
    }
}

.tagColumn {
    display: inline-flex;
    flex-wrap: wrap;
    word-break: break-all;
    > div {
      margin: 5px 5px 5px 0;
    }
  }

hr {
    background-color: #697582;
    margin-left: 40px;
    margin-right: 40px;
}

.line {
    margin: 0;
}

.dataTransferSection {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    div {
        align-self: center;
    }
    a {
        color: #c0c8d0;
        &:hover {
            color: #00adef;
        }
        i {
            margin-left: 5px;
            font-size: 10px;
        }
    }
    h4 {
        font-size: var(--font-size-headline);
    }
}
.allDataproductCardviewContent {
    flex-wrap: wrap;
    display: flex;
    justify-content: left;
    margin-right: -30px;
}

.actionBtns {
    display: flex;
    justify-content: flex-end;
    button {
        background-color: transparent;
        border: none;
        padding: 0 15px;
        color: #c0c8d0;
        margin: 0 2px;
        font-size: var(--font-size-default);
        &:hover {
            background-color: transparent;
        }
    }
}

.titleContainer {
    display: flex;
    color: #c0c8d0;
}

.modalContent {
    display: flex;
    margin: 25px 0px;
    color: #c0c8d0;
    .imgGuide {
        width: 450px;
        border: 1px solid #99a5b3;
    }
}

.bullets {
    display: flex;
    justify-content: space-around;
    width: 100px;
    margin: 10px auto;
    span {
        height: 8px;
        width: 8px;
        background: #697582;
        display: block;
        border-radius: 50%;
        cursor: pointer;
    }
    .activeBullet {
        background: #00adef;
    }
}

.modifyByLabel {
    color: #99a5b3;
    display: flex;
    justify-content: flex-end;
    font-size: var(--font-size-small);
}

.stickyPanel{
    display: flex;
    justify-content: flex-end;
    background: #000;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 15px 75px;
    justify-content: space-between;
    align-items: center;
    .productName{
        font-size: var(--font-size-headline);
    }
    .actionButtonsSection{
        button {
            background-color: #252a33;
            border: none;
            padding: 15px 50px;
            color: #99a5b3;
            margin: 0 2px;
            font-size: var(--font-size-small);
            &:hover {
                background-color: #00adef;
                color: #fff;
            }
        }
    }
}

.accessModal{
    .accessModalHeader{
        text-align: center;
        .accessModalHeaderIcon i{
            font-size: 5em;
        }
        .accessModalHeaderText{
            padding: 25px 0;
        }
    }
    .noData{
        text-align: center;
        font-size: var(--font-size-headline);
    }
    .actionButtonsSection{
        text-align: center;
        margin-top: 25px;
        button {
            background-color: #00adef;
            border: none;
            padding: 15px 50px;
            color: #fff;
            margin: 0 2px;
            font-size: var(--font-size-small);
            &:hover {
                background-color: #00adef;
                color: #fff;
            }
        }
    }
}


:global {
    .dataproductSummary {
        #data-summary-tabs {
            min-width: 540px;
        }

        #data-summary-tabs .scrollable.tabs-wrapper {
            height: 44px;
        }

        #data-summary-tabs .scrollable.tabs-wrapper nav {
            height: 44px;
        }

        #data-summary-tabs .tab {
            min-width: max-content;
            > a {
                position: relative;
                padding: 10px 50px 12px 40px;
            }
        }
        label.input-label.summary {
            color: #99a5b3;
            font-size: var(--font-size-small);
            font-weight: bold;
        }

        .accessBtnSet {
            position: fixed;
            bottom: 0px;
            height: 60px;
            width: 100%;
            background: #1c2026;
            display: flex;
            justify-content: flex-end;
            right: 5vw;
            button {
                position: fixed;
                margin: 8px 0;
                &:first-child:not(:disabled) {
                    display: block;
                    margin-right: 13vw;
                }
                &.indraft {
                    margin: 5px 0;
                }
            }
            &.indraft {
                height: 65px;
                &.fixed {
                    height: 50px;
                }
            }
            &.nomargin button:first-child:not(:disabled) {
                margin-right: 0;
            }
            &.hasmargin button:not(:disabled) {
                position: relative;
                &:first-child {
                    margin-right: 15px;
                }
            }
        }

        .accessBtnSet.fixed {
            position: unset;
            width: auto;
            background-color: transparent;
            display: flex;
            justify-content: flex-end;
            padding: 0 75px;
            button {
                position: unset;
                &:first-child {
                    margin-right: 15px;
                }
            }
        }

        .accessRequestInfo {
            position: fixed;
            bottom: 2px;
            right: 0vw;
            display: flex;
            justify-content: flex-end;
            font-size: var(--font-size-tiny);
            color: #697582;
            padding: 0px 60px;
        }

        .accessRequestInfo.fixed {
            display: flex;
            justify-content: flex-end;
            font-size: var(--font-size-tiny);
            color: #697582;
            padding: 0px 75px;
            margin-top: 5px;
            position: relative;
        }

        @media (max-width: 1024px) {
            .accessBtnSet button {
                &:first-child:not(:disabled) {
                    margin-right: 19vw;
                }
            }
        }
    }
}
