.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    .uploadContainer {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        border: 2px dotted #697582;
        height: 500px;
        .rcUpload {
            height: 100%;
        }
        .dragDrop {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: block;
            min-width: 300px;
            text-align: center;
        }
    }
    .icon {
        display: flex;
        justify-content: center;
        width: 75px;
        margin-left: auto;
        margin-right: auto;
        height: 75px;
        border-radius: 50%;
        border: 3px solid #697582;
        border-bottom-style: none;
        &::after {
            content: "\2191";
            font-size: 4rem;
            color: #00adef;
        }
    }
    h4 {
        color: #c0c8d0;
        display: flex;
        justify-content: center;
        margin: 20px 0px;
    }

    .browseHelperText {
        display: flex;
        justify-content: center;
        color: #c0c8d0;
        font-size: 1rem;
    }
    .helperTextContainer {
        position: absolute;
        bottom: 50px;
        display: block;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: var(--font-size-medium);
        min-width: 300px;
    }
}
.existingFilesContainer {
    margin-top: 30px;
    p {
        font-size: 1rem;
    }
    .uploadInfo {
        display: flex;
        justify-content: space-between;
        span:first-child {
            font-weight: bold;
            color: #697582;
        }
    }
    .btnContinue {
        display: flex;
        justify-content: flex-end;
    }
}

.selectedFile {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    border: 1px solid #697582;
    padding: 35px;
    color: #99a5b3;
    > div span:first-child {
        display: flex;
        flex-direction: column;
        margin-bottom: 3px;
    }
    span {
        font-size: var(--font-size-medium);
        margin-top: auto;
        margin-bottom: auto;
    }
    .checkCircle {
        color: #12e7ab;
        margin-right: 8px;
    }
    .deleteIcon {
        font-size: var(--font-size-icon-nav);
        color: #00adef;
        cursor: pointer;
    }
}

.selectExisitingFiles {
    background: none;
    border: none;
    color: #00adef;
    padding-top: 0;
    &:focus {
        outline: none;
    }
}
.wrapper {
    background: #252a33 !important;
    margin-top: 60px !important;
    padding: 25px 38px;
    .firstPanel {
        background: #252a33;
        margin-bottom: 15px;
    }
    p {
        color: #c0c8d0;
        margin: 0;
    }
    .infoIcon {
        text-align: right;
        font-size: var(--font-size-icon-medium);
        margin-right: -23px;
        margin-top: -44px;
        float: right;
        i {
            cursor: pointer;
            color: #697582;

            &:hover {
                color: #00adef;
            }
        }
    }
    .formWrapper {
        margin: 60px 70px 0;
    }
    .checkbox {
        margin-left: -10px;
        margin-top: 20px;
    }
}
.flexLayout {
    display: flex;
    justify-content: space-between;
    > div {
        width: calc(50% - 7px);
    }
}
.tooltipIcon {
    i {
        font-size: var(--font-size-icon);
        position: absolute;
        right: 0;
        &:hover {
            cursor: pointer;
        }
    }
}
