.mainPanel {
  /*padding: 0px 184px 0px 184px;*/

  .wrapper {
    background: #252a33;
    margin: 15px 0;
    padding: 25px 0;
    position: relative;

    h3,
    span.description {
      padding: 0 38px;
    }

    .contextMenu {
      float: right;
      margin: 5px 20px 0 0;
      &.open .contextMenuTrigger {
        z-index: 10;
        position: relative;
      }

      .contextMenuTrigger {
        padding: 12px 10px;
        cursor: pointer;

        &:hover {
          color: #00adef;
        }
      }
    }
  }
}
.tagColumn {
  display: inline-flex;
  flex-wrap: wrap;
  word-break: break-all;
  > div {
    margin: 5px 5px 5px 0;
  }
}
.row > div {
  display: block;
  margin-right: 5px;
  margin-top: 5px;
}
hr {
  background-color: #697582;
  margin-left: 40px;
  margin-right: 40px;
}
.firstPanel {
  background: #252a33;
  margin-bottom: 15px;

  .textDesc {
    color: #697582;
  }

  .rowLine {
    display: inline-block;
  }

  .flexLayout {
    display: flex;
    justify-content: space-between;
    margin: 40px;
    > div {
      width: calc(50% - 7px);
    }
    &.fourColumn {
      > div {
        width: calc(25% - 7px);
      }
    }
    &.threeColumn {
      > div {
        width: calc(33% - 7px);
      }
    }
  }

  .formWrapper {
    margin: 60px 0px 0;
  }

  .tagsWrapper {
    margin-top: 0;
  }
}

.wrapper {
  background: #252a33 !important;

  padding: 25px 38px;
}

.pdfLink {
  color: #d9dfe4;

  &:hover {
    color: #00adef;
    text-decoration: none;
  }
}

.attachmentSection {
  width: 100%;
  float: left;
}

.reportName{
  word-break: break-all;
}

.reportPre{
  white-space: pre-wrap;
  font-family: "Roboto-Medium";  
  word-break: break-all;
}

.reportLinkColumn{
  word-break: break-all;
}

:global {
  label.input-label.summary {
    color: #99A5B3;
    font-size: var(--font-size-small);
    font-weight: bold;
  }
}
