.codeSpaceWrapper {
    color: #c5c5c5;
    padding: 20px 75px 30px 75px;
    min-height: 100vh;

    .flexLayout {
      display: flex;
      justify-content: space-between;
      > div {
        width: calc(50% - 7px);
      }
    }

    .codeSpaceContent {
      color: #c5c5c5;
      padding: 0;
      background-color: #252a33;
      position: relative;
      .codeSpace {
        display: flex;
        align-items: center;
        justify-content: center;
        max-height: 700px;
        min-height: 650px;
        .btnPrimary {
          cursor: pointer;
        }
        .preloaderCutomnize {
          position: absolute;
          background-color: #252a33;
        }
      }
    }
    .loader {
      position: absolute;
      background-color: #252a33;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 9;
    }
    .nbheader {
      display: flex;
      justify-content: space-between;
      margin-bottom: 25px;
      position: relative;
      align-items: center;
      .Logo {
        display: none;
      }
      h6 {
        color: #8f969e;
        font-size: var(--font-size-tiny);
        margin-bottom: 10px;
      }
      h2 {
        font-size: var(--font-size-headline);
        color: #acb8c4;
        word-break: break-word;
      }
      p {
        color: #acb8c4;
        font-size: var(--font-size-default);
        line-height: var(--font-size-headline);
      }
      .urlLink a {
        font-size: var(--font-size-medium);
        margin-right: 10px;
        line-height: 18px;
        i {
          font-size: var(--font-size-icon-nav);
          &:nth-child(2) {
            font-size: var(--font-size-default) !important;
            vertical-align: top !important;
          }
        }
      }
      .nbtitle {
        padding-right: 30px;
        max-width: 100%;
        min-width: 210px;
        h2 {
          display: inline-block;
          margin-left: 15px;
          position: relative;
          top:3px;
        }

        button {
          border: 2px solid #3e444e;
          &::before {
            padding-left: 9px!important;
            padding-right: 9px!important;
          }
        }
      }
  
      .headerright {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .urlLink {
          padding-right: 15px;
          text-align: right;
          i {
            font-size: var(--font-size-icon-medium);
            vertical-align: middle;
          }

          > div {
            text-align: center;
            font-size: var(--font-size-small);
            a {
              margin: 0;
              font-size: var(--font-size-small);
            }
          }
        }

        div > a:hover {
          text-decoration: none;
        }
      }
    }
  }

  .btnOutline {
    display: flex;
    background: none;
    border: none !important;
    color: #c0c8d0;
    height: auto;
    outline: none;
    padding: 0 2px;
    width: -webkit-fill-available;
    justify-content: space-between;
    &:hover {
      background: unset;
    }
  }
  .btnDisabled{
    pointer-events: none;
  }
  .animationWrapper {
    position: absolute;
    width: 25px;
    height: 25px;
    display: block;
    border-radius: 50%;
  }

  .collapseIcon{
    color:  #00ADEF; //Used by ripple animation
    transition: all 85ms cubic-bezier(0.2, 0.2, 0.38, 0.9) 0s;
    position: relative;
    border-radius: 1px;
    width: 25px;
    height: 25px;
    bottom: 1px; 
    &.open {
      color: #697582; //Used by ripple animation
      i{
        &::before {
          transform: rotate(-45deg) !important;
        }
        &::after {
          transform: rotate(45deg) !important;
        }
      }
    }
    i{
      top: 1px; 
      position: relative;
    }
  }
  .trigger {
    display: inline-block;
    padding: 2px 10px;
    position: relative;
    &.open {
      z-index: 10;
    }
    cursor: pointer;
    &:hover {
      color: #00adef;
    }
  }

  .contextMenu {
    right: 0;
    hr {
      width: 100%;
    }

    i {
      font-size: var(--font-size-tiny);
    }
  }
  
  .error {
    color: #e84d47;
  }

  .OpenNewTab {
    &:hover i {
      animation: OpenNewTab 1s infinite;
    }
    i {
      color: #c0c8d0 !important;
      font-size: var(--font-size-default) !important;
      margin: 0 !important;
      transform: rotate(315deg);
      top: 9px;
      left: 12.9px;
      position: absolute;
    }
    span {
      width: 16px;
      height: 1px;
      background-color: #c0c8d0;
      position: absolute;
      transform: rotate(314deg);
      top: 19px;
      left: 10px;
    }
  }

  .showLogs, .OpenNewTab {
    width: 40px;
    height: 40px;
    color: #acb8c4;
    border: 2px solid #383f49;
    margin-left: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    i {
      font-size: var(--font-size-icon-highlight)!important;
      margin: -6px 0 0!important;
    }
    &.active {
      border: 2px solid #00ADEF;
      color: #00ADEF;
    }
  }
  .codespaceframe {
    background-color: #fff;
    height: 100%;
    width: 100%;
    position: absolute;
    iframe {
      height: 100%;
      width: 100%;
      border: none;
      &.fullscreen {
        height: calc(100% - 60px);
      }
    }
    .logViewWrapper {
      position: absolute;
      width: 50%;
      top: 0;
      right: 0;
      background: #000;
      height: 100%;
      padding: 15px 0 0 15px;
      z-index: -1;
      &.show {
        z-index: auto;
      }
      .tabsHeightFix {
        height: 100%;
      }
      .logsTabContentWrapper {
        margin: 25px 0 0;
        height: calc(100% - 65px);
      }
      .closeButton {
        font-size: var(--font-size-icon-small);
        border: none;
        background: none;
        padding: 0;
        position: absolute;
        right: 0;
        top: 0;
        outline: none;
      }
    }
    .textRight {
      text-align: right;
    }
  }
  .codeSpaceWrapperFSmode {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 999;
    padding: 0;
    margin: 0;
    background-color: #252a33;
    .headerdetails {
      width: 100%;
    }
    .nbheader {
      height: 60px;
      margin: 0;
      display: flex;
      margin-bottom: 0 !important;
      padding: 0 20px;
      background-color: #000000;
      justify-content: space-between;
  
      align-items: center;
      .headerright {
        top: 11px !important;
        right: 15px !important;
        display: flex;
        min-width: 50vW;
        justify-content: flex-end;
        align-items: center;

        .urlLink {
          padding-right: 15px;
          text-align: right;
          display: block;
          align-items: center;
          line-height: 18px;
          i {
            font-size: var(--font-size-icon-medium);
            vertical-align: middle;
            &:nth-child(2) {
              font-size: var(--font-size-default) !important;
              vertical-align: top !important;
            }
          }
          > a:hover {
            text-decoration: none;
          }
          > div {
            text-align: center;
            font-size: var(--font-size-small);
            a {
              margin: 0;
              font-size: var(--font-size-small);
            }
          }
        } 

        .configLink {
          cursor: pointer;
          padding-right: 15px;
          text-align: right;
          display: flex;
          align-items: center;
          line-height: 10px;
          i {
            font-size: var(--font-size-icon-medium);
            vertical-align: middle;
            &:nth-child(2) {
              font-size: var(--font-size-default) !important;
              vertical-align: top !important;
            }
          }
          > a:hover {
            text-decoration: none;
          }
        }
      }
      .Logo {
        display: block;
        max-width: 135px;
        max-height: 40px;
      }
      .nbtitle {
        text-align: center;
        padding-left: 47px;
        h2 {
          color: #acb8c4;
          font-size: var(--font-size-headline);
          padding-top: 10px;
          display: inline-block;
          position: relative;
          top: 2px;
          margin-left: 15px;
        }
        h6 {
          display: none;
        }
        button {
          border: 2px solid #3e444e;
          &::before {
            padding-left: 9px!important;
            padding-right: 9px!important;
          }
        }
      }
      .nbDescr {
        display: none;
      }
      .nbeditmode {
        display: none;
      }
      .nbstopbtn {
        display: none;
      }
    }

    .flexLayout {
      display: flex;
      justify-content: space-between;
      > div {
        width: calc(50% - 7px);
      }
    }
  }
  
  .headerdetails {
    display: flex;
    align-items: center;
  }
  .navigation {
    display: flex;
    align-items: center;
  }

  .createTechUserWrapper {
    padding-top: 33px;
  }

  .iamUserSection {
    .iamUserSectionEmpty {
      width: 100%;
      height: 150px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #383f49;
      margin-top: -9px;
      h6 {
        font-size: var(--font-size-smallest);
        font-weight: initial;
        margin: 0;
      }
    }
    .iamUserSectionList {
      font-size: var(--font-size-smallest);
      border: 1px solid #383f49;
      margin-top: 12px;
      padding: 20px 12px 0;
      .iamUserSectionListAdd {
        margin: 13px auto;
        width: 90%;
      
        .userExistedError {
          color: #e84d47;
          padding: 4px 0;
        }
      }
      .iamUserList {
        margin-top: 12px;
        width: 90%;
        margin: 0 auto;
        margin-top: 12px;
        margin-bottom: 15px;
  
        .iamUserTitle {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          padding-bottom: 15px;
          border-bottom: 1px solid #383f49;
          .iamUserTitleCol {
            &:first-child {
              max-width: 80px;
            }
            &:last-child {
              max-width: 100px;
            }
            flex: 1;
            font-size: var(--font-size-smallest);
            padding-right: 12px;
            color: #99a5b3;
          }
        }
        .iamUserContent {
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: flex-start;
          overflow: auto;
          height: 80px;
          width: 100%;
          padding-top: 3px;
          .iamUserContentRow {
            padding: 10px 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            .iamUserTitleCol {
              &:first-child {
                max-width: 80px;
              }
              &:last-child {
                max-width: 100px;
                justify-content: right;
                font-size: var(--font-size-icon);
                span:hover {
                  color: #00ADEF;
                }
              }
              display: flex;
              align-items: center;
              justify-content: flex-start;
              flex: 1;
              font-size: var(--font-size-smallest);
              padding-right: 15px;
              word-break: break-word;
              color: #99a5b3;
              label {
                cursor: pointer;
                word-break: keep-all;
              }
              span {
                color: #99a5b3;
              }
  
              .deleteEntry {
                cursor: pointer;
              }
              .writeAccess {
                cursor: pointer;
              }
              input {
                opacity: unset !important;
                position: initial;
                z-index: unset !important;
              }
              .inputGrp {
                margin-top: 8px;
                min-height: auto !important;
                &:first-child {
                  margin-left: -10px;
                }
                min-width: 80px;
              }
              i {
                margin: -7px 7px 0 0;
                right: 0;
              }
              div {
                cursor: default;
              }
            }
          }
        }
      }
    }
  }

  .oneAPILink{
    color: #99a5b3;
    &:hover {
      color: #99a5b3 !important; 
    }
  }

  @keyframes fsbtn11 {
    0% {
      right: 3px;
      top: 10px;
    }
    50% {
      bottom: 1px;
      left: 5px;
    }
    100% {
      right: 3px;
      top: 10px;
    }
  }
  
  @keyframes fsbtn22 {
    0% {
      left: 5px;
      top: 14px;
    }
    50% {
      right: 5px;
      top: 2px;
    }
    100% {
      left: 5px;
      top: 14px;
    }
  }
  @-webkit-keyframes fsbtn11 {
    0% {
      right: 3px;
      top: 10px;
    }
    50% {
      bottom: 1px;
      left: 5px;
    }
    100% {
      right: 3px;
      top: 10px;
    }
  }
  @-webkit-keyframes fsbtn22 {
    0% {
      left: 5px;
      top: 14px;
    }
    50% {
      right: 5px;
      top: 2px;
    }
    100% {
      left: 5px;
      top: 14px;
    }
  }
  
  @keyframes OpenNewTab {
    0% {
      left: 12.9px;
      top: 9px;
    }
    50% {
      left: 15.9px;
      top: 5px;
    }
    100% {
      left: 12.9px;
      top: 9px;
    }
  }
  
  @-webkit-keyframes OpenNewTab {
    0% {
      left: 12.9px;
      top: 9px;
    }
    50% {
      left: 15.9px;
      top: 5px;
    }
    100% {
      left: 12.9px;
      top: 9px;
    }
  }
  
  @keyframes fsbtn1 {
    0% {
      bottom: 6px;
      left: 9px;
    }
    50% {
      bottom: 1px;
      left: 5px;
    }
    100% {
      bottom: 6px;
      left: 9px;
    }
  }
  
  @keyframes fsbtn2 {
    0% {
      right: 9px;
      top: 6px;
    }
    50% {
      right: 5px;
      top: 2px;
    }
    100% {
      right: 9px;
      top: 6px;
    }
  }
  
  @keyframes stopNb {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.8);
    }
    100% {
      transform: scale(1);
    }
  }
  
  @-webkit-keyframes stopNb {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.8);
    }
    100% {
      transform: scale(1);
    }
  }
  .tooltip {
    top: -6px !important;
  }