.mainPanel {
  padding: 50px 184px 0px 114px;
}

.btnConatiner {
  min-height: 40px;
  margin-top: 20px;
  text-align: right;
}
.title {
  justify-content: center;
  font-size: var(--font-size-section-headline);
  text-align: center;
  margin-bottom: 40px;
  min-height: 30px;
}
.mandatoryInfo {
  color: #697582;
  padding-left: 112px;
}
.flexLayout {
  display: flex;
  justify-content: space-between;
  > div {
    width: calc(50% - 7px);
  }
}
.screenLabel{
  line-height: 40px;
  font-size: 20px;
}
.switchButton{
  text-align: right;
}

:global {
  .flexLayout {
    display: flex;
    justify-content: space-between;
    > div {
      width: calc(50% - 7px);
    }
  }

  #create-report-tabs {
    min-width: 540px;
  }

  #create-report-tabs .scrollable.tabs-wrapper {
    height: 44px;
  }

  #create-report-tabs .scrollable.tabs-wrapper nav {
    height: 44px;
  }

  #create-report-tabs .tab {
    min-width: max-content;
    > a {
      position: relative;
      padding: 10px 50px 12px 40px;
      &::before {
        font-family: 'dna-icons';
        content: '\e949';
        position: absolute;
        right: 20px;
        font-size: var(--font-size-icon-highlight);
      }
    }

    &.valid a::before {
      color: #00adef;
    }
  }

  .btnConatiner {
    min-height: 40px;
    margin-top: 20px;
    text-align: right;
  }

  .info-message {
    margin-bottom: 20px;

    &.small {
      color: #99a5b3;
      font-size: var(--font-size-smallest);
      margin-bottom: 5px;
    }
  }

  .addButtonWrapper {
    .buttonIcon {
      width: 55px;
      height: 55px;
    }

    button {
      padding: 0;
      margin: 0 0 0 30px;
      background: none;
      border: none;
      outline: none;
      color: #c0c8d0;
      vertical-align: middle;

      i {
        vertical-align: top;
        margin-right: 10px;
        color: #00adef;
      }

      &:hover span {
        text-decoration: underline;
      }
    }
  }

  .rc-upload {
    outline: none;
  }
}
