.toolsWrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-right: -15px;
}
.infoPopup {
    width: 500px;
}
.toolsPageWrapper {
    .cardsSeparator {
        margin-top: 20px;
    }
}