.projectRow {
  display: flex;
  align-items: center;
  padding: 14px 0 14px 0;
  color: #99a5b3;
  border-bottom: 1px solid #383f49;
  cursor: pointer;
  div {
      &:last-child {
        display: flex;
        justify-content: right;
        column-gap: 10px;
      }
      button {
          color: #acb8c4;
          margin: 0 4px;
          &:hover {
              color: #00adef;
          }
      }
  }
  button {
    background: unset;
    border: unset;
    color: #99a5b3;
    outline: 0;
    padding: 0;

    > div + span {
      padding-left: 26px;
    }

    span {
      display: inline-block;
    }
  }
  .completedStatus {
    margin-bottom: 0;
    color: #0ae6ab;

    &:hover {
      color: #0ae6ab;
    }
  }
  .col1 {
    min-width: 20%;
  }
  .col2 {
    min-width: 20%;
  }
  .col3 {
    min-width: 16.66%;
  }
  .col4 {
    min-width: 16.66%;
  }
  .col5 {
    min-width: 16.66%;
  }
  .col6 {
    min-width: 10%;
    text-align: right;
  }
  .projectLink{
    color: #00adef;
    background: none;
    border: none;
    padding: unset;
    font-size: 12px;
  }
  .bucketTitleCol {
      flex: 1;
      font-size: var(--font-size-default);
      color: #99a5b3;
      i {
          font-size: var(--font-size-icon-small);
          right: 0;
      }
      .actionBtn {
          background-color: transparent;
          border: 0;
          padding: 0;
          font-size: var(--font-size-smallest);
          margin: 0;
          i {
              font-size: var(--font-size-icon-small);
          }
          &:hover {
              color: #00adef;
          }      
      }
  }
  .bucketName {
      min-width: 245px;
      max-width: 245px;
      a {
          word-wrap: break-word;
      } 
  }
}