.transparencyWrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-right: -15px;
    div[class*="cardIconSection"]i::before {
        font-size: 70px;
    }
}
.infoPopup {
    width: 500px;
}
